Repository lnis-uofu/OpenFPGA, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, VPR, documentation, github, docker, build, libopenfpga, libopenfpga-bitstream, libopenfpga-arch-parser, libopenfpga-fabric-key, libopenfpga-shell, libopenfpga-utils, openfpga-tools, openfpga-verilog, openfpga-sdc, openfpga-bitstream, openfpga-spice, flow-scripts, architecture-description, bitstream, cell-library, benchmarks, tests, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use minimatch syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
ABC:
- changed-files:
  - any-glob-to-any-file: 'abc/*'
  - any-glob-to-any-file: 'abc/**/*'
ACE2:
- changed-files:
  - any-glob-to-any-file: 'ace2/*'
  - any-glob-to-any-file: 'ace2/**/*'
VPR:
- changed-files:
  - any-glob-to-any-file: 'vpr/*'
  - any-glob-to-any-file: 'vpr/**/*'
  - any-glob-to-any-file: 'libs/**/*'

# General areas
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*'
  - any-glob-to-any-file: 'docs/**/*'
  - any-glob-to-any-file: '*README*'
  - any-glob-to-any-file: '*.md'
  - any-glob-to-any-file: 'tutorial'
  - any-glob-to-any-file: '*.rst'
  - any-glob-to-any-file: '.readthedocs.yml'
github:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: '*docker*'
build:
- changed-files:
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'CMakeLists.txt'
  - any-glob-to-any-file: 'cmake'
libopenfpga:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/**'
libopenfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfpgabitstream/**'
libopenfpga-arch-parser:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libarchopenfpga/**'
libopenfpga-fabric-key:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfabrickey/**'
libopenfpga-shell:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgashell/**'
libopenfpga-utils:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgautil/**'
openfpga-tools:
- changed-files:
  - any-glob-to-any-file: 'openfpga/**'
openfpga-verilog:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_verilog/**'
openfpga-sdc:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_sdc/**'
openfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_bitstream/**'
openfpga-spice:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_spice/**'
flow-scripts:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_shell_scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_simulation_settings/**'
  - any-glob-to-any-file: 'openfpga_flow/misc/**'
architecture-description:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/vpr_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
cell-library:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/openfpga_cell_library/**'
  - any-glob-to-any-file: 'openfpga_flow/tech/**'
benchmarks:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/benchmarks/**'
tests:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/tasks/**'

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: '*.v'
  - any-glob-to-any-file: '*.sv'
lang-cpp:
- changed-files:
  - any-glob-to-any-file: '*.c*'
  - any-glob-to-any-file: '*.h'
lang-perl:
- changed-files:
  - any-glob-to-any-file: '*.pl'
  - any-glob-to-any-file: '*perl*'
lang-python:
- changed-files:
  - any-glob-to-any-file: '*.py'
lang-shell:
- changed-files:
  - any-glob-to-any-file: '*.sh'
lang-netlist:
- changed-files:
  - any-glob-to-any-file: '*.blif'
  - any-glob-to-any-file: '*.eblif'
  - any-glob-to-any-file: '*.edif'
  - any-glob-to-any-file: '*.vqm'
lang-make:
- changed-files:
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: 'CMakeLists.txt'

[test] code format
  openfpga_flow/vpr_arch/k4_N4_tileable_PerimeterCb_ClkNtwk_registerable_IoSubtile_40nm.xml
Labels: architecture-description

[core] skip adding opin when it does not drive any inputs inside a gsb
  openfpga/src/annotation/annotate_rr_graph.cpp
Labels: openfpga-tools

[core] fixed a bug where unused last-level of clock spines are not disabled
  openfpga/src/annotation/openfpga_annotate_routing.cpp
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[core] fixed a bug where some spines are not disabled
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[core] more debugging messages
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
  openfpga/src/fpga_bitstream/build_routing_bitstream.cpp
Labels: openfpga-tools, openfpga-bitstream

[core] support global net fixup in pb pin fixup
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
  openfpga/src/base/openfpga_pb_pin_fixup.h
  openfpga/src/base/openfpga_pb_pin_fixup_template.h
Labels: openfpga-tools

[core] code format
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
  openfpga/src/fpga_bitstream/build_routing_bitstream.cpp
Labels: openfpga-tools, openfpga-bitstream

[core] syntax due to clang
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
Labels: openfpga-tools

[core] code format
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
Labels: openfpga-tools

[test] add a new test to validate that pb pin fixup impacts global net now
  openfpga_flow/openfpga_shell_scripts/example_clkntwk_pb_pin_fixup_no_ace_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut_pb_pin_fixup/config/clk_arch_1clk_1rst_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut_pb_pin_fixup/config/pin_constraints_clk.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut_pb_pin_fixup/config/pin_constraints_rst.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut_pb_pin_fixup/config/pin_constraints_rst_and_clk.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut_pb_pin_fixup/config/repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut_pb_pin_fixup/config/task.conf
Labels: flow-scripts, tests

[core] fixed some bug
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
Labels: openfpga-tools

[core] code format
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
Labels: openfpga-tools

[core] fixed a bug where some clock spine was wrongly marked unused
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[core] code format
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[test] add a new and strong test to validate the disable unused clock spines
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_3layer_2entry_disable_unused/config/clk_arch_1clk_1rst_3layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_3layer_2entry_disable_unused/config/pin_constraints_reset.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_3layer_2entry_disable_unused/config/pin_constraints_resetb.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_3layer_2entry_disable_unused/config/repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_3layer_2entry_disable_unused/config/task.conf
Labels: tests

[core] fixed a bug where the switch point coordinate of src spine required adjustment
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga/src/fpga_bitstream/build_routing_bitstream.cpp
Labels: openfpga-tools, openfpga-bitstream

[core] code format
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga/src/fpga_bitstream/build_routing_bitstream.cpp
Labels: openfpga-tools, openfpga-bitstream

[core] fixed a bug where some spine was wrongly disabled
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[test] add a new test to validate CHANY clock spin in DEC
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_dec/config/clk_arch_1clk_1rst_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_dec/config/pin_constraints_reset.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_dec/config/pin_constraints_resetb.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_dec/config/repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_dec/config/task.conf
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_fracff_40nm_ClkOnLeft.xml
Labels: architecture-description, tests

[core] coord adjustment should occur based on des coord
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[test] typo
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
Labels: none

[core] fixed a corner case where spine usage should be updated after each switch point connection
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

small bug mod
  openfpga/src/annotation/device_rr_gsb.cpp
Labels: openfpga-tools

full flow with bugs
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/fabric/read_xml_unique_blocks.h
Labels: openfpga-tools

debuged
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/fabric/read_xml_unique_blocks.h
Labels: openfpga-tools

build unique blocks final version
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/fabric/read_write_xml_unique_blocks.h
Labels: openfpga-tools

add test case
  openfpga_flow/openfpga_shell_scripts/read_unique_blocks_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/write_unique_blocks_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks/task.config
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/write_unique_blocks/task.config
Labels: flow-scripts, tests

add test case
  openfpga_flow/openfpga_shell_scripts/read_unique_blocks_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/write_unique_blocks_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks/read_unique_block.xml
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/write_unique_blocks/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/write_unique_blocks/design_variables.yml
Labels: flow-scripts, tests

mod reg_test script
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
Labels: none

mod comments
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/fabric/read_write_xml_unique_blocks.h
Labels: openfpga-tools

remove redundant include
  openfpga/src/annotation/device_rr_gsb.cpp
Labels: openfpga-tools

build bug
  openfpga/src/base/openfpga_build_fabric_template.h
Labels: openfpga-tools

reformat code
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/fabric/read_write_xml_unique_blocks.h
Labels: openfpga-tools

mod according to code review
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/fabric/read_write_xml_unique_blocks.h
Labels: openfpga-tools

modification no build warning now
  libs/libfabrickey/src/io/io_xml_unique_blocks.cpp
  libs/libfabrickey/src/io/io_xml_unique_blocks.h
  openfpga/src/fabric/read_write_xml_unique_blocks.h
Labels: VPR, openfpga-tools

pass device_rr_gsb instead of openfpga_ctx
  libs/libfabrickey/src/io/io_xml_unique_blocks.cpp
  libs/libfabrickey/src/io/io_xml_unique_blocks.h
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/fabric/read_write_xml_unique_blocks.h
  openfpga/src/fabric/read_xml_unique_blocks.cpp
  openfpga/src/fabric/read_xml_unique_blocks.h
  openfpga/src/fabric/write_xml_unique_blocks.cpp
  openfpga/src/fabric/write_xml_unique_blocks.h
Labels: VPR, openfpga-tools

make the read block coord and read instance coords clearer
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/fabric/read_xml_unique_blocks.cpp
  openfpga/src/fabric/read_xml_unique_blocks.h
Labels: openfpga-tools

add cmd dependency
  openfpga/src/base/openfpga_setup_command_template.h
Labels: openfpga-tools

reformat code
  openfpga/src/base/openfpga_setup_command_template.h
Labels: openfpga-tools

add preload flag to device_rr_gsb and revert change to build fabric
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/fabric/read_xml_unique_blocks.cpp
  openfpga_flow/openfpga_shell_scripts/read_unique_blocks_example_script.openfpga
Labels: openfpga-tools, flow-scripts
