Repository lnis-uofu/OpenFPGA, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, VPR, documentation, github, docker, build, libopenfpga, libopenfpga-bitstream, libopenfpga-arch-parser, libopenfpga-fabric-key, libopenfpga-shell, libopenfpga-utils, openfpga-tools, openfpga-verilog, openfpga-sdc, openfpga-bitstream, openfpga-spice, flow-scripts, architecture-description, bitstream, cell-library, benchmarks, tests, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use minimatch syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
ABC:
- changed-files:
  - any-glob-to-any-file: 'abc/*'
  - any-glob-to-any-file: 'abc/**/*'
ACE2:
- changed-files:
  - any-glob-to-any-file: 'ace2/*'
  - any-glob-to-any-file: 'ace2/**/*'
VPR:
- changed-files:
  - any-glob-to-any-file: 'vpr/*'
  - any-glob-to-any-file: 'vpr/**/*'
  - any-glob-to-any-file: 'libs/**/*'

# General areas
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*'
  - any-glob-to-any-file: 'docs/**/*'
  - any-glob-to-any-file: '*README*'
  - any-glob-to-any-file: '*.md'
  - any-glob-to-any-file: 'tutorial'
  - any-glob-to-any-file: '*.rst'
  - any-glob-to-any-file: '.readthedocs.yml'
github:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: '*docker*'
build:
- changed-files:
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'CMakeLists.txt'
  - any-glob-to-any-file: 'cmake'
libopenfpga:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/**'
libopenfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfpgabitstream/**'
libopenfpga-arch-parser:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libarchopenfpga/**'
libopenfpga-fabric-key:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfabrickey/**'
libopenfpga-shell:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgashell/**'
libopenfpga-utils:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgautil/**'
openfpga-tools:
- changed-files:
  - any-glob-to-any-file: 'openfpga/**'
openfpga-verilog:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_verilog/**'
openfpga-sdc:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_sdc/**'
openfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_bitstream/**'
openfpga-spice:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_spice/**'
flow-scripts:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_shell_scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_simulation_settings/**'
  - any-glob-to-any-file: 'openfpga_flow/misc/**'
architecture-description:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/vpr_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
cell-library:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/openfpga_cell_library/**'
  - any-glob-to-any-file: 'openfpga_flow/tech/**'
benchmarks:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/benchmarks/**'
tests:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/tasks/**'

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: '*.v'
  - any-glob-to-any-file: '*.sv'
lang-cpp:
- changed-files:
  - any-glob-to-any-file: '*.c*'
  - any-glob-to-any-file: '*.h'
lang-perl:
- changed-files:
  - any-glob-to-any-file: '*.pl'
  - any-glob-to-any-file: '*perl*'
lang-python:
- changed-files:
  - any-glob-to-any-file: '*.py'
lang-shell:
- changed-files:
  - any-glob-to-any-file: '*.sh'
lang-netlist:
- changed-files:
  - any-glob-to-any-file: '*.blif'
  - any-glob-to-any-file: '*.eblif'
  - any-glob-to-any-file: '*.edif'
  - any-glob-to-any-file: '*.vqm'
lang-make:
- changed-files:
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: 'CMakeLists.txt'

[core] code format
  openfpga/src/annotation/openfpga_annotate_routing.cpp
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.cpp
  openfpga/src/fpga_verilog/verilog_preconfig_top_module_utils.cpp
  openfpga/src/fpga_verilog/verilog_preconfig_top_module_utils.h
  openfpga/src/fpga_verilog/verilog_testbench_io_connection.cpp
Labels: openfpga-tools, openfpga-verilog

[test] add a new test to validate reset generated by internal driver through programmable clock network
  openfpga_flow/benchmarks/micro_benchmark/rst_cond/rst_cond.v
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/clk_arch_1clk_1rst_2layer_int_driver_clk.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/clk_arch_1clk_1rst_2layer_int_driver_rst.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/pin_constraints_rst_cond.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/vpr_constraint_rst_cond.xml
Labels: benchmarks, tests

[core] typo
  openfpga_flow/benchmarks/micro_benchmark/rst_cond/rst_cond.v
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/task.conf
Labels: benchmarks, tests

[core] fixed a bug where rst internal net is used to wire global ports of fpga fabric in verilog testbench
  openfpga/src/fpga_verilog/verilog_preconfig_top_module_utils.cpp
Labels: openfpga-tools, openfpga-verilog

[core] code format
  openfpga/src/fpga_verilog/verilog_preconfig_top_module_utils.cpp
Labels: openfpga-tools, openfpga-verilog

[core] add new syntax to support from_pin and to_pin for internal driver in clock network
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
Labels: VPR

[core] reworked i/o for clock network files
  libs/libclkarchopenfpga/arch/example_internal_drivers.xml
  libs/libclkarchopenfpga/src/io/clock_network_xml_constants.h
  libs/libclkarchopenfpga/src/io/read_xml_clock_network.cpp
  libs/libclkarchopenfpga/src/io/write_xml_clock_network.cpp
Labels: VPR

[core] now supports to_pin in building clock network for internal driver
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  libs/libclkarchopenfpga/src/io/write_xml_clock_network.cpp
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: VPR, openfpga-tools

[test] use new syntax
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/clk_arch_1clk_1rst_2layer_int_driver_clk.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/clk_arch_1clk_1rst_2layer_int_driver_rst.xml
Labels: tests

[doc] add new syntax
  docs/source/manual/file_formats/clock_network.rst
Labels: documentation

[core] code format
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  libs/libclkarchopenfpga/src/io/read_xml_clock_network.cpp
  libs/libclkarchopenfpga/src/io/write_xml_clock_network.cpp
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: VPR, openfpga-tools

[doc] format
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
Labels: documentation

[core] patch the out-of-range in clock rr nodes
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: openfpga-tools

[core] fixed a bug where tile module's global port is not derived from dedicated clock network
  openfpga/src/fabric/build_top_module_child_tile_instance.cpp
Labels: openfpga-tools

[core] fixed a critical bug where clock network entry is on a CHANY
  openfpga/src/annotation/device_rr_gsb.cpp
Labels: openfpga-tools

[core] fixed a critical bug where cb port name using index is not considered on clock network entry
  openfpga/src/fabric/build_top_module_child_tile_instance.cpp
Labels: openfpga-tools

[core] supporting clk spine on the same direction
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: openfpga-tools

Init support overwriting bitstream
  openfpga/src/base/openfpga_bitstream_command_template.h
  openfpga/src/base/openfpga_bitstream_template.h
  openfpga/src/fpga_bitstream/build_device_bitstream.cpp
  openfpga/src/fpga_bitstream/build_device_bitstream.h
  openfpga/src/fpga_bitstream/build_grid_bitstream.cpp
  openfpga/src/fpga_bitstream/build_grid_bitstream.h
  openfpga_flow/openfpga_shell_scripts/fix_device_example_script_overwrite.openfpga
  openfpga_flow/regression_test_scripts/fpga_bitstream_reg_test.sh
  openfpga_flow/tasks/fpga_bitstream/generate_bitstream/configuration_chain/device_4x4_overwrite/config/overwrite_bitstream.txt
  openfpga_flow/tasks/fpga_bitstream/generate_bitstream/configuration_chain/device_4x4_overwrite/config/task.conf
Labels: openfpga-tools, openfpga-bitstream, flow-scripts, tests

Use Bitstream Setting XML
  libs/libarchopenfpga/src/bitstream_setting.cpp
  libs/libarchopenfpga/src/bitstream_setting.h
  libs/libarchopenfpga/src/read_xml_bitstream_setting.cpp
  libs/libfpgabitstream/src/bitstream_manager.cpp
  libs/libfpgabitstream/src/bitstream_manager.h
  libs/libfpgabitstream/src/bitstream_manager_utils.cpp
  libs/libfpgabitstream/src/bitstream_manager_utils.h
  openfpga/src/base/openfpga_bitstream_command_template.h
  openfpga/src/base/openfpga_bitstream_template.h
  openfpga/src/fpga_bitstream/build_device_bitstream.cpp
  openfpga/src/fpga_bitstream/build_device_bitstream.h
  openfpga/src/fpga_bitstream/build_grid_bitstream.cpp
  openfpga/src/fpga_bitstream/build_grid_bitstream.h
Labels: VPR, openfpga-tools, openfpga-bitstream

Update test
  openfpga_flow/regression_test_scripts/fpga_bitstream_reg_test.sh
  openfpga_flow/tasks/fpga_bitstream/generate_bitstream/configuration_chain/device_4x4_PathBitSetting/config/bitstream_annotation.xml
  openfpga_flow/tasks/fpga_bitstream/generate_bitstream/configuration_chain/device_4x4_PathBitSetting/config/task.conf
  openfpga_flow/tasks/fpga_bitstream/generate_bitstream/configuration_chain/device_4x4_PathBitSetting/config/write_xml.openfpga
  openfpga_flow/tasks/fpga_bitstream/generate_bitstream/configuration_chain/device_4x4_overwrite/config/overwrite_bitstream.txt
Labels: tests

Update test
  openfpga_flow/tasks/fpga_bitstream/generate_bitstream/configuration_chain/device_4x4_PathBitSetting/config/bitstream_annotation.xml
Labels: tests

Update doc
  docs/source/manual/file_formats/bitstream_setting.rst
Labels: documentation

Update test flow
  libs/libarchopenfpga/src/read_xml_bitstream_setting.cpp
  openfpga/src/base/openfpga_basic.cpp
  openfpga_flow/regression_test_scripts/fpga_bitstream_reg_test.sh
  openfpga_flow/tasks/fpga_bitstream/generate_bitstream/configuration_chain/device_4x4_PathBitSetting/config/bitstream_annotation.xml
  openfpga_flow/tasks/fpga_bitstream/generate_bitstream/configuration_chain/device_4x4_PathBitSetting/config/write_xml.openfpga
  openfpga_flow/tasks/fpga_bitstream/overwrite_bitstream/device_4x4/config/task.conf
  openfpga_flow/tasks/fpga_bitstream/overwrite_bitstream/device_4x4/config/test.openfpga
  openfpga_flow/tasks/fpga_bitstream/overwrite_bitstream/device_4x4/config/test.py
Labels: VPR, openfpga-tools, tests

Format and update doc
  docs/source/manual/file_formats/bitstream_setting.rst
  openfpga/src/base/openfpga_basic.cpp
Labels: documentation, openfpga-tools

Update code based on feedback
  libs/libarchopenfpga/src/bitstream_setting.cpp
  libs/libarchopenfpga/src/bitstream_setting.h
  libs/libarchopenfpga/src/bitstream_setting_fwd.h
  libs/libarchopenfpga/src/read_xml_bitstream_setting.cpp
  libs/libfpgabitstream/src/bitstream_manager.cpp
  libs/libfpgabitstream/src/bitstream_manager.h
  libs/libfpgabitstream/src/bitstream_manager_utils.cpp
  libs/libfpgabitstream/src/bitstream_manager_utils.h
  openfpga/src/base/openfpga_bitstream_template.h
  openfpga/src/fpga_bitstream/build_device_bitstream.cpp
  openfpga/src/fpga_bitstream/overwrite_bitstream.cpp
  openfpga/src/fpga_bitstream/overwrite_bitstream.h
Labels: VPR, openfpga-tools, openfpga-bitstream

Update doc
  docs/source/manual/file_formats/bitstream_setting.rst
Labels: documentation

Use archfpga_throw
  libs/libarchopenfpga/src/read_xml_bitstream_setting.cpp
Labels: VPR

Forward searching the config bit + some minor refactor
  libs/libarchopenfpga/src/read_xml_bitstream_setting.cpp
  libs/libfpgabitstream/src/bitstream_manager.cpp
  openfpga/src/base/openfpga_basic.cpp
  openfpga_flow/tasks/fpga_bitstream/overwrite_bitstream/device_4x4/config/test.py
Labels: VPR, openfpga-tools, tests

Get the filepath using definition under [OpenFPGA_SHELL]
  openfpga_flow/tasks/fpga_bitstream/overwrite_bitstream/device_4x4/config/task.conf
  openfpga_flow/tasks/fpga_bitstream/overwrite_bitstream/device_4x4/config/test.openfpga
Labels: tests

Pass in the OpenFPGA root dir
  openfpga_flow/tasks/fpga_bitstream/overwrite_bitstream/device_4x4/config/test.openfpga
  openfpga_flow/tasks/fpga_bitstream/overwrite_bitstream/device_4x4/config/test.py
Labels: tests

[core] revert
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: openfpga-tools

[test] add a new arch to test y- entry point of clock network
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_TileOrgzTr_fracff_40nm.xml
Labels: architecture-description

[test] add a new test to validate clock network entry point on a y-direction cb
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_y_entry/config/clk_arch_1clk_1rst_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_y_entry/config/pin_constraints_reset.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_y_entry/config/pin_constraints_resetb.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_y_entry/config/repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_y_entry/config/task.conf
Labels: tests

[test] typo
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_y_entry/config/clk_arch_1clk_1rst_2layer.xml
Labels: tests

[core] code format
  openfpga/src/annotation/append_clock_rr_graph.cpp
  openfpga/src/fabric/build_top_module_child_tile_instance.cpp
Labels: openfpga-tools

[test] add a new test to validate clock network on module named by index
  openfpga_flow/openfpga_shell_scripts/group_tile_clkntwk_preconfig_testbench_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/module_naming/fabric_tile_clkntwk_io_subtile_using_index/config/clk_arch_1clk_2layer.xml
  openfpga_flow/tasks/basic_tests/module_naming/fabric_tile_clkntwk_io_subtile_using_index/config/task.conf
  openfpga_flow/tasks/basic_tests/module_naming/fabric_tile_clkntwk_io_subtile_using_index/config/tile_config.xml
Labels: flow-scripts, tests

[test] add a new test to validate multiple entry points for a clock network
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_1layer_2entry/config/clk_arch_1clk_1rst_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_1layer_2entry/config/pin_constraints_reset.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_1layer_2entry/config/pin_constraints_resetb.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_1layer_2entry/config/repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_1layer_2entry/config/task.conf
Labels: tests

[core] fixed a bug where unique cb module is not considered as entry point
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.cpp
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.h
  openfpga/src/fabric/build_top_module_connection.cpp
  openfpga/src/fabric/build_top_module_connection.h
Labels: openfpga-tools

[core] code format
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.cpp
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.h
  openfpga/src/fabric/build_top_module_connection.cpp
  openfpga/src/fabric/build_top_module_connection.h
Labels: openfpga-tools

[core] remove warnings
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/fabric/build_top_module_child_tile_instance.cpp
  openfpga/src/fabric/build_top_module_connection.cpp
Labels: openfpga-tools
