Repository lnis-uofu/OpenFPGA, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, VPR, documentation, github, docker, build, libopenfpga, libopenfpga-bitstream, libopenfpga-arch-parser, libopenfpga-fabric-key, libopenfpga-shell, libopenfpga-utils, openfpga-tools, openfpga-verilog, openfpga-sdc, openfpga-bitstream, openfpga-spice, flow-scripts, architecture-description, bitstream, cell-library, benchmarks, tests, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use minimatch syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
ABC:
- changed-files:
  - any-glob-to-any-file: 'abc/*'
  - any-glob-to-any-file: 'abc/**/*'
ACE2:
- changed-files:
  - any-glob-to-any-file: 'ace2/*'
  - any-glob-to-any-file: 'ace2/**/*'
VPR:
- changed-files:
  - any-glob-to-any-file: 'vpr/*'
  - any-glob-to-any-file: 'vpr/**/*'
  - any-glob-to-any-file: 'libs/**/*'

# General areas
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*'
  - any-glob-to-any-file: 'docs/**/*'
  - any-glob-to-any-file: '*README*'
  - any-glob-to-any-file: '*.md'
  - any-glob-to-any-file: 'tutorial'
  - any-glob-to-any-file: '*.rst'
  - any-glob-to-any-file: '.readthedocs.yml'
github:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: '*docker*'
build:
- changed-files:
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'CMakeLists.txt'
  - any-glob-to-any-file: 'cmake'
libopenfpga:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/**'
libopenfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfpgabitstream/**'
libopenfpga-arch-parser:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libarchopenfpga/**'
libopenfpga-fabric-key:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfabrickey/**'
libopenfpga-shell:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgashell/**'
libopenfpga-utils:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgautil/**'
openfpga-tools:
- changed-files:
  - any-glob-to-any-file: 'openfpga/**'
openfpga-verilog:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_verilog/**'
openfpga-sdc:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_sdc/**'
openfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_bitstream/**'
openfpga-spice:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_spice/**'
flow-scripts:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_shell_scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_simulation_settings/**'
  - any-glob-to-any-file: 'openfpga_flow/misc/**'
architecture-description:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/vpr_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
cell-library:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/openfpga_cell_library/**'
  - any-glob-to-any-file: 'openfpga_flow/tech/**'
benchmarks:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/benchmarks/**'
tests:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/tasks/**'

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: '*.v'
  - any-glob-to-any-file: '*.sv'
lang-cpp:
- changed-files:
  - any-glob-to-any-file: '*.c*'
  - any-glob-to-any-file: '*.h'
lang-perl:
- changed-files:
  - any-glob-to-any-file: '*.pl'
  - any-glob-to-any-file: '*perl*'
lang-python:
- changed-files:
  - any-glob-to-any-file: '*.py'
lang-shell:
- changed-files:
  - any-glob-to-any-file: '*.sh'
lang-netlist:
- changed-files:
  - any-glob-to-any-file: '*.blif'
  - any-glob-to-any-file: '*.eblif'
  - any-glob-to-any-file: '*.edif'
  - any-glob-to-any-file: '*.vqm'
lang-make:
- changed-files:
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: 'CMakeLists.txt'

[core] code format
  openfpga/src/fabric/build_top_module_connection.cpp
Labels: openfpga-tools

Improve Port Parser
  libs/libfpgabitstream/src/bitstream_manager.cpp
  libs/libopenfpgautil/src/openfpga_port_parser.cpp
  libs/libopenfpgautil/src/openfpga_port_parser.h
Labels: VPR

add read and write uniqueblocks commands
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/fabric/read_xml_unique_blocks.cpp
  openfpga/src/fabric/read_xml_unique_blocks.h
Labels: openfpga-tools

add commands
  openfpga/src/base/openfpga_setup_command_template.h
Labels: openfpga-tools

[lib] now fabric key assistant can cross-check mismatches between reference and input fabric keys
  libs/libfabrickey/test/fabric_key_assistant.cpp
Labels: VPR

[lib] code format
  libs/libfabrickey/test/fabric_key_assistant.cpp
Labels: VPR

[core] fixed a bug where pb pin fixup does not support perimeter cb
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
  openfpga/src/base/openfpga_pb_pin_fixup.h
  openfpga/src/base/openfpga_pb_pin_fixup_template.h
Labels: openfpga-tools

[core] code format
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
  openfpga/src/base/openfpga_pb_pin_fixup.h
Labels: openfpga-tools

[core] typo
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
Labels: openfpga-tools

[core] cleanup debug message
  libs/libclkarchopenfpga/src/base/rr_clock_spatial_lookup.cpp
Labels: VPR

[test] add a new test to validate that pb_pin fix is now compatible with perimeter cb
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_perimeter_cb_pb_pin_fixup/config/task.conf
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_perimeter_cb_pb_pin_fixup/config/tile_config.xml
Labels: tests

[core] Add verbose mode on find_node() for clock rr graph
  libs/libclkarchopenfpga/src/base/rr_clock_spatial_lookup.cpp
  libs/libclkarchopenfpga/src/base/rr_clock_spatial_lookup.h
  openfpga/src/annotation/append_clock_rr_graph.cpp
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga/src/fabric/build_top_module_child_tile_instance.cpp
  openfpga/src/fabric/build_top_module_connection.cpp
Labels: VPR, openfpga-tools

[core] code format
  openfpga/src/annotation/append_clock_rr_graph.cpp
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga/src/fabric/build_top_module_child_tile_instance.cpp
  openfpga/src/fabric/build_top_module_connection.cpp
Labels: openfpga-tools

[test] add a new testcase to validate 3-layer clock architecture
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_3layer_2entry/config/clk_arch_1clk_1rst_3layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_3layer_2entry/config/pin_constraints_reset.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_3layer_2entry/config/pin_constraints_resetb.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_3layer_2entry/config/repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_3layer_2entry/config/task.conf
Labels: tests

[core] add more details to debug messages
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[test] fixed some bugs in clock arch
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_3layer_2entry/config/clk_arch_1clk_1rst_3layer.xml
Labels: tests

Update .readthedocs.yml
  .readthedocs.yml
Labels: documentation

[doc] format to resolve latexpdf build errors; now local build passes
  docs/source/manual/file_formats/tile_config_file.rst
Labels: documentation

read unique blocks io
  openfpga/src/fabric/read_xml_unique_blocks.cpp
Labels: openfpga-tools

add sb unique modules
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/fabric/read_xml_unique_blocks.cpp
  openfpga/src/fabric/read_xml_unique_blocks.h
Labels: openfpga-tools

add preload function
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/fabric/read_xml_unique_blocks.h
Labels: openfpga-tools

[core] rework the option 'constant_undriven_inputs'
  openfpga/src/base/openfpga_verilog_command_template.h
  openfpga/src/base/openfpga_verilog_template.h
  openfpga/src/fpga_verilog/fabric_verilog_options.cpp
  openfpga/src/fpga_verilog/fabric_verilog_options.h
  openfpga/src/fpga_verilog/verilog_grid.cpp
  openfpga/src/fpga_verilog/verilog_lut.cpp
  openfpga/src/fpga_verilog/verilog_memory.cpp
  openfpga/src/fpga_verilog/verilog_module_writer.cpp
  openfpga/src/fpga_verilog/verilog_module_writer.h
  openfpga/src/fpga_verilog/verilog_mux.cpp
  openfpga/src/fpga_verilog/verilog_routing.cpp
  openfpga/src/fpga_verilog/verilog_shift_register_banks.cpp
  openfpga/src/fpga_verilog/verilog_tile.cpp
  openfpga/src/fpga_verilog/verilog_top_module.cpp
  openfpga/src/fpga_verilog/verilog_writer_utils.cpp
  openfpga/src/fpga_verilog/verilog_writer_utils.h
Labels: openfpga-tools, openfpga-verilog

[core] syntax
  openfpga/src/base/openfpga_verilog_template.h
  openfpga/src/fpga_verilog/fabric_verilog_options.cpp
  openfpga/src/fpga_verilog/fabric_verilog_options.h
  openfpga/src/fpga_verilog/verilog_module_writer.cpp
  openfpga/src/fpga_verilog/verilog_mux.cpp
  openfpga/src/fpga_verilog/verilog_writer_utils.cpp
Labels: openfpga-tools, openfpga-verilog

[doc] add new format
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_verilog_commands.rst
Labels: documentation

[core] code format
  openfpga/src/base/openfpga_verilog_command_template.h
  openfpga/src/base/openfpga_verilog_template.h
  openfpga/src/fpga_verilog/fabric_verilog_options.cpp
  openfpga/src/fpga_verilog/fabric_verilog_options.h
  openfpga/src/fpga_verilog/verilog_grid.cpp
  openfpga/src/fpga_verilog/verilog_lut.cpp
  openfpga/src/fpga_verilog/verilog_memory.cpp
  openfpga/src/fpga_verilog/verilog_module_writer.cpp
  openfpga/src/fpga_verilog/verilog_module_writer.h
  openfpga/src/fpga_verilog/verilog_mux.cpp
  openfpga/src/fpga_verilog/verilog_routing.cpp
  openfpga/src/fpga_verilog/verilog_shift_register_banks.cpp
  openfpga/src/fpga_verilog/verilog_tile.cpp
  openfpga/src/fpga_verilog/verilog_top_module.cpp
  openfpga/src/fpga_verilog/verilog_writer_utils.cpp
Labels: openfpga-tools, openfpga-verilog

[core] typo
  openfpga/src/base/openfpga_verilog_command_template.h
Labels: openfpga-tools

[test] add new tests to validate the options for undriven inputs in verilog netlists
  openfpga_flow/openfpga_shell_scripts/fix_device_const_undriven_net_example_script.openfpga
  openfpga_flow/regression_test_scripts/fpga_verilog_reg_test.sh
  openfpga_flow/tasks/fpga_verilog/verilog_netlist_formats/undriven_input_bit0/config/task.conf
  openfpga_flow/tasks/fpga_verilog/verilog_netlist_formats/undriven_input_bit1/config/task.conf
  openfpga_flow/tasks/fpga_verilog/verilog_netlist_formats/undriven_input_bus0/config/task.conf
  openfpga_flow/tasks/fpga_verilog/verilog_netlist_formats/undriven_input_bus1/config/task.conf
  openfpga_flow/tasks/fpga_verilog/verilog_netlist_formats/undriven_input_none/config/task.conf
  openfpga_flow/tasks/fpga_verilog/verilog_netlist_formats/undriven_input_none_force/config/task.conf
Labels: flow-scripts, tests

preload functions
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/fabric/read_xml_unique_blocks.h
Labels: openfpga-tools

write sb
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/fabric/read_xml_unique_blocks.h
Labels: openfpga-tools

add cb cx write function
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/fabric/read_xml_unique_blocks.h
Labels: openfpga-tools

[core] fixed a bug where subtile was used for clock network tap name
  openfpga/src/utils/openfpga_physical_tile_utils.cpp
Labels: openfpga-tools

[test] add a new arch to validate that clock network tap supports subtiles
  openfpga_flow/vpr_arch/k4_N4_tileable_PerimeterCb_ClkNtwk_registerable_IoSubtile_40nm.xml
Labels: architecture-description

[test] add associated openfpga arch
  openfpga_flow/openfpga_arch/k4_N4_40nm_ClkNtwk_registerable_IoSubtile_cc_openfpga.xml
Labels: architecture-description

[test] add a new test case
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_clkntwk_registerable_io_subtile/config/clk_arch_1clk_2layer.xml
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_clkntwk_registerable_io_subtile/config/task.conf
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_clkntwk_registerable_io_subtile/config/tile_config.xml
Labels: tests

[test] typo
  openfpga_flow/openfpga_arch/k4_N4_40nm_ClkNtwk_registerable_IoSubtile_cc_openfpga.xml
Labels: architecture-description

[test] typo
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_clkntwk_registerable_io_subtile/config/clk_arch_1clk_2layer.xml
Labels: tests

[core] fixed a bug
  openfpga/src/utils/openfpga_physical_tile_utils.cpp
Labels: openfpga-tools

[core] fixed a bug where pin index for subtile is wrongly calculated for clock network taps
  openfpga/src/utils/openfpga_physical_tile_utils.cpp
Labels: openfpga-tools

[doc] update to use tile name and index when defining clock taps
  docs/source/manual/file_formats/clock_network.rst
Labels: documentation

[core] code format
  openfpga/src/utils/openfpga_physical_tile_utils.cpp
Labels: openfpga-tools
