Repository lnis-uofu/OpenFPGA, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, VPR, documentation, github, docker, build, libopenfpga, libopenfpga-bitstream, libopenfpga-arch-parser, libopenfpga-fabric-key, libopenfpga-shell, libopenfpga-utils, openfpga-tools, openfpga-verilog, openfpga-sdc, openfpga-bitstream, openfpga-spice, flow-scripts, architecture-description, bitstream, cell-library, benchmarks, tests, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use minimatch syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
ABC:
- changed-files:
  - any-glob-to-any-file: 'abc/*'
  - any-glob-to-any-file: 'abc/**/*'
ACE2:
- changed-files:
  - any-glob-to-any-file: 'ace2/*'
  - any-glob-to-any-file: 'ace2/**/*'
VPR:
- changed-files:
  - any-glob-to-any-file: 'vpr/*'
  - any-glob-to-any-file: 'vpr/**/*'
  - any-glob-to-any-file: 'libs/**/*'

# General areas
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*'
  - any-glob-to-any-file: 'docs/**/*'
  - any-glob-to-any-file: '*README*'
  - any-glob-to-any-file: '*.md'
  - any-glob-to-any-file: 'tutorial'
  - any-glob-to-any-file: '*.rst'
  - any-glob-to-any-file: '.readthedocs.yml'
github:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: '*docker*'
build:
- changed-files:
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'CMakeLists.txt'
  - any-glob-to-any-file: 'cmake'
libopenfpga:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/**'
libopenfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfpgabitstream/**'
libopenfpga-arch-parser:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libarchopenfpga/**'
libopenfpga-fabric-key:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfabrickey/**'
libopenfpga-shell:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgashell/**'
libopenfpga-utils:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgautil/**'
openfpga-tools:
- changed-files:
  - any-glob-to-any-file: 'openfpga/**'
openfpga-verilog:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_verilog/**'
openfpga-sdc:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_sdc/**'
openfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_bitstream/**'
openfpga-spice:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_spice/**'
flow-scripts:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_shell_scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_simulation_settings/**'
  - any-glob-to-any-file: 'openfpga_flow/misc/**'
architecture-description:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/vpr_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
cell-library:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/openfpga_cell_library/**'
  - any-glob-to-any-file: 'openfpga_flow/tech/**'
benchmarks:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/benchmarks/**'
tests:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/tasks/**'

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: '*.v'
  - any-glob-to-any-file: '*.sv'
lang-cpp:
- changed-files:
  - any-glob-to-any-file: '*.c*'
  - any-glob-to-any-file: '*.h'
lang-perl:
- changed-files:
  - any-glob-to-any-file: '*.pl'
  - any-glob-to-any-file: '*perl*'
lang-python:
- changed-files:
  - any-glob-to-any-file: '*.py'
lang-shell:
- changed-files:
  - any-glob-to-any-file: '*.sh'
lang-netlist:
- changed-files:
  - any-glob-to-any-file: '*.blif'
  - any-glob-to-any-file: '*.eblif'
  - any-glob-to-any-file: '*.edif'
  - any-glob-to-any-file: '*.vqm'
lang-make:
- changed-files:
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: 'CMakeLists.txt'

[core] fix a bug in ql memory bank tb where VCS failed
  openfpga/src/fpga_verilog/verilog_top_testbench_memory_bank.cpp
Labels: openfpga-tools, openfpga-verilog

[core] add a new option for simulator type to verilog full testbench generator
  openfpga/src/base/openfpga_verilog_command_template.h
  openfpga/src/base/openfpga_verilog_template.h
  openfpga/src/fpga_verilog/verilog_testbench_options.cpp
  openfpga/src/fpga_verilog/verilog_testbench_options.h
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench_memory_bank.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench_memory_bank.h
Labels: openfpga-tools, openfpga-verilog

[core] code format
  openfpga/src/base/openfpga_verilog_template.h
  openfpga/src/fpga_verilog/verilog_testbench_options.cpp
  openfpga/src/fpga_verilog/verilog_testbench_options.h
  openfpga/src/fpga_verilog/verilog_top_testbench_memory_bank.cpp
Labels: openfpga-tools, openfpga-verilog

[test] add a new testcase to support vcs
  openfpga_flow/tasks/basic_tests/full_testbench/ql_memory_bank_shift_register_vcs/config/task.conf
Labels: tests

[test] add new testcase to reg test
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
Labels: none

[test] debug
  openfpga_flow/openfpga_shell_scripts/write_full_testbench_simulator_support_example_script.openfpga
  openfpga_flow/tasks/basic_tests/full_testbench/ql_memory_bank_shift_register_vcs/config/task.conf
Labels: flow-scripts, tests

[doc] add new option
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_verilog_commands.rst
Labels: documentation

[script] fixe the mismatch on keywords against latest vpr
  openfpga_flow/misc/fpgaflow_default_tool_path.conf
Labels: flow-scripts

[script] update openfpga flow to support args for default tool path
  openfpga_flow/scripts/run_fpga_flow.py
Labels: flow-scripts

[script] now run fpga task has a new option ``default_tool_path``
  openfpga_flow/scripts/run_fpga_task.py
Labels: flow-scripts

[script] syntax
  openfpga_flow/scripts/run_fpga_task.py
Labels: flow-scripts

[script] syntax
  openfpga_flow/scripts/run_fpga_flow.py
Labels: flow-scripts

[script] format
  openfpga_flow/scripts/run_fpga_flow.py
  openfpga_flow/scripts/run_fpga_task.py
Labels: flow-scripts

[script] add a new example default tool path config with a focus on timing
  openfpga_flow/misc/fpgaflow_default_tool_path_timing.conf
Labels: flow-scripts

[test] use a timing-focus tool path for a testcase
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
Labels: none

[script] typo
  openfpga_flow/misc/fpgaflow_default_tool_path.conf
  openfpga_flow/misc/fpgaflow_default_tool_path_timing.conf
  openfpga_flow/scripts/run_fpga_flow.py
Labels: flow-scripts

[script] now timing extraction focus on the last found results
  openfpga_flow/scripts/run_fpga_flow.py
Labels: flow-scripts

[doc] add new option
  docs/source/manual/openfpga_flow/run_fpga_task.rst
Labels: documentation

[core] fixed a bug where pb pin fixup may fail when subtile capacities are not same
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
Labels: openfpga-tools

[core] code format
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
Labels: openfpga-tools

Update build step to remove quicklogic-integrated-plugins-code, Update yosys to latest bump-version
  CMakeLists.txt
Labels: build, lang-make

BRAM preload data - generic way to extract data from design
  libs/libarchopenfpga/src/bitstream_setting.cpp
  libs/libarchopenfpga/src/bitstream_setting.h
  libs/libarchopenfpga/src/read_xml_bitstream_setting.cpp
  openfpga/src/base/openfpga_bitstream_template.h
  openfpga/src/fpga_bitstream/extract_device_none_fabric_bitstream.cpp
  openfpga/src/fpga_bitstream/extract_device_none_fabric_bitstream.h
Labels: VPR, openfpga-tools, openfpga-bitstream

Add docs and support special __layout__ case
  docs/source/manual/file_formats/bitstream_setting.rst
  libs/libarchopenfpga/src/bitstream_setting.cpp
  libs/libarchopenfpga/src/bitstream_setting.h
  libs/libarchopenfpga/src/read_xml_bitstream_setting.cpp
  openfpga/src/fpga_bitstream/extract_device_none_fabric_bitstream.cpp
Labels: VPR, documentation, openfpga-tools, openfpga-bitstream

Add test
  openfpga_flow/regression_test_scripts/fpga_bitstream_reg_test.sh
  openfpga_flow/tasks/fpga_bitstream/extract_dsp_mode_bit/config/bitstream_annotation.xml
  openfpga_flow/tasks/fpga_bitstream/extract_dsp_mode_bit/config/task.conf
Labels: tests

Fix warning
  openfpga/src/fpga_bitstream/extract_device_none_fabric_bitstream.cpp
Labels: openfpga-tools, openfpga-bitstream

Change none-fabric to non-fabric
  docs/source/manual/file_formats/bitstream_setting.rst
  libs/libarchopenfpga/src/bitstream_setting.cpp
  libs/libarchopenfpga/src/bitstream_setting.h
  libs/libarchopenfpga/src/read_xml_bitstream_setting.cpp
  openfpga/src/base/openfpga_bitstream_template.h
  openfpga/src/fpga_bitstream/extract_device_non_fabric_bitstream.cpp
  openfpga/src/fpga_bitstream/extract_device_non_fabric_bitstream.h
  openfpga_flow/tasks/fpga_bitstream/extract_dsp_mode_bit/config/bitstream_annotation.xml
Labels: VPR, documentation, openfpga-tools, openfpga-bitstream, tests

Support checking illegal pin constraint
  libs/libpcf/src/base/pcf2place.cpp
Labels: VPR

Support checking illegal pin constraint (Show design pins)
  libs/libpcf/src/base/pcf2place.cpp
Labels: VPR

Support checking illegal pin constraint (optimize and add comments)
  libs/libpcf/src/base/pcf2place.cpp
Labels: VPR

LUTRAM Support Phase 1
  docs/source/manual/arch_lang/generality.rst
  docs/source/manual/arch_lang/ql_memory_bank_config_setting.rst
  libs/libarchopenfpga/src/openfpga_arch.h
  libs/libarchopenfpga/src/ql_memory_bank_config_setting.cpp
  libs/libarchopenfpga/src/ql_memory_bank_config_setting.h
  libs/libarchopenfpga/src/read_xml_openfpga_arch.cpp
  libs/libarchopenfpga/src/read_xml_ql_memory_bank_config_setting.cpp
  libs/libarchopenfpga/src/read_xml_ql_memory_bank_config_setting.h
  openfpga/src/fabric/build_device_module.cpp
  openfpga/src/fabric/build_grid_modules.cpp
  openfpga/src/fabric/build_grid_modules.h
  openfpga/src/fabric/build_top_module_memory.cpp
  openfpga/src/utils/decoder_library_utils.cpp
  openfpga/src/utils/decoder_library_utils.h
  openfpga/src/utils/memory_utils.cpp
  openfpga/src/utils/memory_utils.h
  openfpga/src/utils/module_manager_utils.cpp
  openfpga/src/utils/module_manager_utils.h
Labels: VPR, documentation, openfpga-tools

Support checking illegal pin constraint (use loc as key and update message format)
  libs/libpcf/src/base/pcf2place.cpp
Labels: VPR

Preserve escaped names
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
  openfpga/src/fpga_verilog/verilog_writer_utils.cpp
  openfpga/src/fpga_verilog/verilog_writer_utils.h
Labels: openfpga-tools, openfpga-verilog

Preserve escaped names
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
Labels: openfpga-tools, openfpga-verilog

Preserve escaped names
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
Labels: openfpga-tools, openfpga-verilog

Preserve escaped names
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
  openfpga/src/fpga_verilog/verilog_writer_utils.cpp
  openfpga/src/fpga_verilog/verilog_writer_utils.h
Labels: openfpga-tools, openfpga-verilog

formatting
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
Labels: openfpga-tools, openfpga-verilog

formatting
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
Labels: openfpga-tools, openfpga-verilog

disable error message for specific commands
  libs/libpcf/src/io/pcf_reader.cpp
Labels: VPR

reformat the code
  libs/libpcf/src/io/pcf_reader.cpp
Labels: VPR

bypass error
  libs/libpcf/src/io/pcf_reader.cpp
Labels: VPR
