Repository lnis-uofu/OpenFPGA, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, VPR, documentation, github, docker, build, libopenfpga, libopenfpga-bitstream, libopenfpga-arch-parser, libopenfpga-fabric-key, libopenfpga-shell, libopenfpga-utils, openfpga-tools, openfpga-verilog, openfpga-sdc, openfpga-bitstream, openfpga-spice, flow-scripts, architecture-description, bitstream, cell-library, benchmarks, tests, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

[core] typo
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_clkntwk_io_subtile/config/clk_arch_1clk_2layer.xml
Labels: openfpga-tools, tests

[test] typo
  openfpga_flow/openfpga_arch/k4_N4_40nm_ClkNtwk_registerable_io_cc_openfpga.xml
Labels: architecture-description

[test] add a new test to validate perimeter cb using global tile clock
  openfpga_flow/openfpga_arch/k4_N4_40nm_GlobalTileClk_PerimeterCb_registerable_io_cc_openfpga.xml
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_perimeter_cb_global_tile_clock/config/task.conf
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_perimeter_cb_global_tile_clock/config/tile_config.xml
Labels: architecture-description, tests

[core] support perimeter cb when identify pins of I/Os tiles
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
  openfpga/src/fabric/build_device_module.cpp
  openfpga/src/fabric/build_top_module.cpp
  openfpga/src/fabric/build_top_module.h
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.cpp
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.h
  openfpga/src/fabric/build_top_module_child_tile_instance.cpp
  openfpga/src/fabric/build_top_module_child_tile_instance.h
  openfpga/src/fabric/build_top_module_connection.cpp
  openfpga/src/fabric/build_top_module_connection.h
  openfpga/src/utils/openfpga_physical_tile_utils.cpp
  openfpga/src/utils/openfpga_physical_tile_utils.h
Labels: openfpga-tools

[test] fixed some bug in pin loc; Outputs are not recommend on the fringe I/O tiles
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_perimeter_cb_global_tile_clock/config/task.conf
  openfpga_flow/vpr_arch/k4_N4_tileable_PerimeterCb_ClkNtwk_registerable_io_40nm.xml
Labels: architecture-description, tests

[core] fixed a bug where tap points of clock network cannot reach perimeter cb
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: openfpga-tools

[test] fixed a bug on clk ntwk arch where some io clocks are not tapped
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_clkntwk_io_subtile/config/clk_arch_1clk_2layer.xml
Labels: tests

[core] debugging
  openfpga/src/annotation/append_clock_rr_graph.cpp
  openfpga/src/utils/openfpga_physical_tile_utils.cpp
Labels: openfpga-tools

[core] fixed a critical bug on computing pin index for subtile in clock taps
  openfpga/src/utils/openfpga_physical_tile_utils.cpp
Labels: openfpga-tools

[core] add verbose outputs
  openfpga/src/annotation/append_clock_rr_graph.cpp
  openfpga/src/utils/openfpga_physical_tile_utils.cpp
Labels: openfpga-tools

[core] code format
  openfpga/src/annotation/append_clock_rr_graph.cpp
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
  openfpga/src/fabric/build_device_module.cpp
  openfpga/src/fabric/build_top_module.cpp
  openfpga/src/fabric/build_top_module.h
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.cpp
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.h
  openfpga/src/fabric/build_top_module_child_tile_instance.cpp
  openfpga/src/fabric/build_top_module_child_tile_instance.h
  openfpga/src/fabric/build_top_module_connection.cpp
  openfpga/src/fabric/build_top_module_connection.h
  openfpga/src/utils/openfpga_physical_tile_utils.cpp
Labels: openfpga-tools

[test] code format
  openfpga_flow/vpr_arch/k4_N4_tileable_PerimeterCb_ClkNtwk_registerable_io_40nm.xml
Labels: architecture-description

[arch] now all the outputs of I/O can only on 1 side
  openfpga_flow/vpr_arch/k4_N4_tileable_IoSubtile_PerimeterCb_40nm.xml
Labels: architecture-description

[test] code format
  openfpga_flow/vpr_arch/k4_N4_tileable_IoSubtile_PerimeterCb_40nm.xml
Labels: architecture-description

[doc] new option for perimeter cb
  docs/source/manual/arch_lang/addon_vpr_syntax.rst
Labels: documentation

[test] typo
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
Labels: none

[doc] new option to write_fabric_verilog
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_verilog_commands.rst
Labels: documentation

[doc] add perimeter cb examples on prog clk network
  docs/source/manual/file_formats/clock_network.rst
  docs/source/manual/file_formats/figures/prog_clk_network_example_2x2_perimeter_cb.png
Labels: documentation

[test] fixed a bug
  openfpga_flow/openfpga_arch/k4_N4_40nm_GlobalTileClk_registerable_io_cc_openfpga.xml
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_clock_subtile/config/task.conf
Labels: architecture-description, tests

[core] fixed a bug on calculating subtile pins
  openfpga/src/fabric/build_top_module_connection.cpp
Labels: openfpga-tools

[core] code format
  openfpga/src/fabric/build_top_module_connection.cpp
Labels: openfpga-tools

[core] remove verbose out
  openfpga/src/fabric/build_top_module_connection.cpp
Labels: openfpga-tools

[doc] update clock network details
  docs/source/manual/file_formats/clock_network.rst
Labels: documentation

[test] add a new benchmark to validate clock on LUT
  openfpga_flow/benchmarks/micro_benchmark/clk_on_lut/clk_on_lut.v
Labels: benchmarks

[test] add a new benchmark to validate rst and clk on LUTs
  openfpga_flow/benchmarks/micro_benchmark/rst_and_clk_on_lut/rst_and_clk_on_lut.v
Labels: benchmarks

[test] add new tests to validate rst on lut and clk on lut features
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut/config/clk_arch_1clk_1rst_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut/config/pin_constraints_clk.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut/config/pin_constraints_rst.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut/config/pin_constraints_rst_and_clk.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut/config/repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut/config/task.conf
Labels: tests

[test] typo
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut/config/task.conf
Labels: tests

[test] typo
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut/config/pin_constraints_rst.xml
Labels: tests

[core] fixed a bug on connecting clk/rst pins from programmable network any CLB inputs
  libs/libclkarchopenfpga/src/base/clock_network.cpp
Labels: VPR

[test] update arch to allow clock access on CLB inputs
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_fracff_40nm.xml
Labels: architecture-description

[core] fixed a bug where the pin idx of global net on rr graph is not well annotated
  openfpga/src/annotation/openfpga_annotate_routing.cpp
  openfpga/src/annotation/openfpga_annotate_routing.h
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga/src/annotation/route_clock_rr_graph.h
  openfpga/src/base/openfpga_link_arch_template.h
Labels: openfpga-tools

[test] typo
  openfpga_flow/benchmarks/micro_benchmark/rst_and_clk_on_lut/rst_and_clk_on_lut.v
Labels: benchmarks

[core] code format
  openfpga/src/annotation/openfpga_annotate_routing.cpp
  openfpga/src/annotation/openfpga_annotate_routing.h
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga/src/annotation/route_clock_rr_graph.h
  openfpga/src/base/openfpga_link_arch_template.h
Labels: openfpga-tools

[test] adjust W
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer/config/task.conf
Labels: tests

[test] update W
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_disable_unused_spines/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_syntax/config/task.conf
Labels: tests

[test] rework pin loc for k4_frac_N4_tileable_fracff_40nm to save route W
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_disable_unused_spines/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_syntax/config/task.conf
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_fracff_40nm.xml
Labels: architecture-description, tests

[test] remove unused files
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/clk_arch_1clk_1rst_2layer_int_driver.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/pin_constraints_clk_gate.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/pin_constraints_reset.xml
Labels: tests

[test] reworking the testcase to validate clock network with internal drivers
  openfpga_flow/benchmarks/micro_benchmark/clk_cond/clk_cond.v
  openfpga_flow/openfpga_shell_scripts/example_clkntwk_int_driver_no_ace_script.openfpga
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/clk_arch_1clk_1rst_2layer_int_driver.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/pin_constraints_clk_cond.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/vpr_constraint_clk_cond.xml
Labels: flow-scripts, benchmarks, tests

[core] fixed a bug when annotating global nets on OPIN
  openfpga/src/annotation/openfpga_annotate_routing.cpp
Labels: openfpga-tools

[core] fixed a bug where internal clock will be wired to fpga input pins in verilog testbenches
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.cpp
  openfpga/src/fpga_verilog/verilog_preconfig_top_module_utils.cpp
  openfpga/src/fpga_verilog/verilog_preconfig_top_module_utils.h
  openfpga/src/fpga_verilog/verilog_testbench_io_connection.cpp
Labels: openfpga-tools, openfpga-verilog

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use minimatch syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
ABC:
- changed-files:
  - any-glob-to-any-file: 'abc/*'
  - any-glob-to-any-file: 'abc/**/*'
ACE2:
- changed-files:
  - any-glob-to-any-file: 'ace2/*'
  - any-glob-to-any-file: 'ace2/**/*'
VPR:
- changed-files:
  - any-glob-to-any-file: 'vpr/*'
  - any-glob-to-any-file: 'vpr/**/*'
  - any-glob-to-any-file: 'libs/**/*'

# General areas
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*'
  - any-glob-to-any-file: 'docs/**/*'
  - any-glob-to-any-file: '*README*'
  - any-glob-to-any-file: '*.md'
  - any-glob-to-any-file: 'tutorial'
  - any-glob-to-any-file: '*.rst'
  - any-glob-to-any-file: '.readthedocs.yml'
github:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: '*docker*'
build:
- changed-files:
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'CMakeLists.txt'
  - any-glob-to-any-file: 'cmake'
libopenfpga:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/**'
libopenfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfpgabitstream/**'
libopenfpga-arch-parser:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libarchopenfpga/**'
libopenfpga-fabric-key:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfabrickey/**'
libopenfpga-shell:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgashell/**'
libopenfpga-utils:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgautil/**'
openfpga-tools:
- changed-files:
  - any-glob-to-any-file: 'openfpga/**'
openfpga-verilog:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_verilog/**'
openfpga-sdc:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_sdc/**'
openfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_bitstream/**'
openfpga-spice:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_spice/**'
flow-scripts:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_shell_scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_simulation_settings/**'
  - any-glob-to-any-file: 'openfpga_flow/misc/**'
architecture-description:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/vpr_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
cell-library:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/openfpga_cell_library/**'
  - any-glob-to-any-file: 'openfpga_flow/tech/**'
benchmarks:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/benchmarks/**'
tests:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/tasks/**'

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: '*.v'
  - any-glob-to-any-file: '*.sv'
lang-cpp:
- changed-files:
  - any-glob-to-any-file: '*.c*'
  - any-glob-to-any-file: '*.h'
lang-perl:
- changed-files:
  - any-glob-to-any-file: '*.pl'
  - any-glob-to-any-file: '*perl*'
lang-python:
- changed-files:
  - any-glob-to-any-file: '*.py'
lang-shell:
- changed-files:
  - any-glob-to-any-file: '*.sh'
lang-netlist:
- changed-files:
  - any-glob-to-any-file: '*.blif'
  - any-glob-to-any-file: '*.eblif'
  - any-glob-to-any-file: '*.edif'
  - any-glob-to-any-file: '*.vqm'
lang-make:
- changed-files:
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: 'CMakeLists.txt'
