Repository lnis-uofu/OpenFPGA, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, VPR, documentation, github, docker, build, libopenfpga, libopenfpga-bitstream, libopenfpga-arch-parser, libopenfpga-fabric-key, libopenfpga-shell, libopenfpga-utils, openfpga-tools, openfpga-verilog, openfpga-sdc, openfpga-bitstream, openfpga-spice, flow-scripts, architecture-description, bitstream, cell-library, benchmarks, tests, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use minimatch syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
ABC:
- changed-files:
  - any-glob-to-any-file: 'abc/*'
  - any-glob-to-any-file: 'abc/**/*'
ACE2:
- changed-files:
  - any-glob-to-any-file: 'ace2/*'
  - any-glob-to-any-file: 'ace2/**/*'
VPR:
- changed-files:
  - any-glob-to-any-file: 'vpr/*'
  - any-glob-to-any-file: 'vpr/**/*'
  - any-glob-to-any-file: 'libs/**/*'

# General areas
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*'
  - any-glob-to-any-file: 'docs/**/*'
  - any-glob-to-any-file: '*README*'
  - any-glob-to-any-file: '*.md'
  - any-glob-to-any-file: 'tutorial'
  - any-glob-to-any-file: '*.rst'
  - any-glob-to-any-file: '.readthedocs.yml'
github:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: '*docker*'
build:
- changed-files:
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'CMakeLists.txt'
  - any-glob-to-any-file: 'cmake'
libopenfpga:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/**'
libopenfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfpgabitstream/**'
libopenfpga-arch-parser:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libarchopenfpga/**'
libopenfpga-fabric-key:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfabrickey/**'
libopenfpga-shell:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgashell/**'
libopenfpga-utils:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgautil/**'
openfpga-tools:
- changed-files:
  - any-glob-to-any-file: 'openfpga/**'
openfpga-verilog:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_verilog/**'
openfpga-sdc:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_sdc/**'
openfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_bitstream/**'
openfpga-spice:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_spice/**'
flow-scripts:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_shell_scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_simulation_settings/**'
  - any-glob-to-any-file: 'openfpga_flow/misc/**'
architecture-description:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/vpr_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
cell-library:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/openfpga_cell_library/**'
  - any-glob-to-any-file: 'openfpga_flow/tech/**'
benchmarks:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/benchmarks/**'
tests:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/tasks/**'

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: '*.v'
  - any-glob-to-any-file: '*.sv'
lang-cpp:
- changed-files:
  - any-glob-to-any-file: '*.c*'
  - any-glob-to-any-file: '*.h'
lang-perl:
- changed-files:
  - any-glob-to-any-file: '*.pl'
  - any-glob-to-any-file: '*perl*'
lang-python:
- changed-files:
  - any-glob-to-any-file: '*.py'
lang-shell:
- changed-files:
  - any-glob-to-any-file: '*.sh'
lang-netlist:
- changed-files:
  - any-glob-to-any-file: '*.blif'
  - any-glob-to-any-file: '*.eblif'
  - any-glob-to-any-file: '*.edif'
  - any-glob-to-any-file: '*.vqm'
lang-make:
- changed-files:
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: 'CMakeLists.txt'

[lib] mem allocate
  libs/libclkarchopenfpga/src/base/clock_network.cpp
Labels: VPR

[test] add a new unit test
  libs/libclkarchopenfpga/test/xml_io_clock_network.cpp
Labels: VPR

[core] now support add internal drivers to clock tree
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: VPR, openfpga-tools

[core] syntax
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: VPR, openfpga-tools

[core] code format
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  libs/libclkarchopenfpga/src/io/clock_network_xml_constants.h
  libs/libclkarchopenfpga/src/io/read_xml_clock_network.cpp
  libs/libclkarchopenfpga/src/io/write_xml_clock_network.cpp
  libs/libclkarchopenfpga/src/utils/clock_network_utils.cpp
  openfpga/src/annotation/append_clock_rr_graph.cpp
  openfpga/src/base/openfpga_read_arch_template.h
Labels: VPR, openfpga-tools

[test] add a new testcase to validate programmable clock network with internal drivers
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/clk_arch_1clk_1rst_2layer_int_driver.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/pin_constraints_reset.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/pin_constraints_resetb.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/task.conf
Labels: tests

[core] fixed a bug where unexpected OPINs are added as internal drivers
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: openfpga-tools

[lib] now accept reset and set in programmable clock network
  libs/libarchopenfpga/src/read_xml_tile_annotation.cpp
Labels: VPR

[core] code format
  libs/libarchopenfpga/src/read_xml_tile_annotation.cpp
Labels: VPR

[test] fixed a bug on pin locations
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_fracff_40nm.xml
Labels: architecture-description

[doc] add syntax about internal drivers
  docs/source/manual/file_formats/clock_network.rst
Labels: documentation

[ci] now use download-artifact v4
  .github/workflows/build.yml
Labels: github

[lib] clock tap syntax are reworked. Support region, single, all and from/to ports
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  libs/libclkarchopenfpga/src/base/clock_network_fwd.h
  libs/libclkarchopenfpga/src/io/clock_network_xml_constants.h
  libs/libclkarchopenfpga/src/io/read_xml_clock_network.cpp
  libs/libclkarchopenfpga/src/io/write_xml_clock_network.cpp
Labels: VPR

[lib] syntax
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  libs/libclkarchopenfpga/src/io/read_xml_clock_network.cpp
  libs/libclkarchopenfpga/src/io/write_xml_clock_network.cpp
Labels: VPR

[core] support coordinate on clock taps
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: VPR, openfpga-tools

[core] now skip routing any unused clock tree. Only connect to desired clock pin at programmable blocks
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[core] add verbose output
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[core] code format
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  libs/libclkarchopenfpga/src/io/read_xml_clock_network.cpp
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: VPR, openfpga-tools

[core] update clock architecture
  libs/libclkarchopenfpga/arch/example.xml
  libs/libclkarchopenfpga/arch/example_internal_drivers.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer/config/clk_arch_1clk_1rst_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/clk_arch_1clk_1rst_2layer_int_driver.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_2layer/config/clk_arch_1clk_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_2layer_full_tb/config/clk_arch_1clk_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer/config/clk_arch_2clk_2layer.xml
Labels: VPR, tests

[core] comment out buggy codes where global net mapping is not annotated in OpenFPGA
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[core] now global nets mapping are applied to clock routing
  openfpga/src/annotation/openfpga_annotate_routing.cpp
  openfpga/src/annotation/openfpga_annotate_routing.h
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga/src/annotation/route_clock_rr_graph.h
  openfpga/src/base/openfpga_link_arch_template.h
Labels: openfpga-tools

[core] code format
  openfpga/src/annotation/openfpga_annotate_routing.cpp
  openfpga/src/annotation/openfpga_annotate_routing.h
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga/src/annotation/route_clock_rr_graph.h
  openfpga/src/base/openfpga_link_arch_template.h
Labels: openfpga-tools

[core] now internal drivers can be routed in dedicated clock network
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[core] syntax
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[core] code format
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[doc] add new syntax
  docs/source/manual/file_formats/clock_network.rst
Labels: documentation

[core] add a new option 'disable_unused_trees' to route clock rr graph
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga/src/annotation/route_clock_rr_graph.h
  openfpga/src/base/openfpga_link_arch_template.h
  openfpga/src/base/openfpga_setup_command_template.h
Labels: openfpga-tools

[core] refactor codes
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[core] now clock routing is based on tree expansion. Unused part can be disconnected
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: VPR, openfpga-tools

[core] syntax
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[core] debugging
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[core] fixed a critical bug where some switching points are missing
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[core] add code comments and fixed some bugs
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[doc] add new options to route clock graph
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
Labels: documentation

[test] add extra options to route clock rr_graph command in examples
  openfpga_flow/openfpga_shell_scripts/example_clkntwk_full_tb_script.openfpga
  openfpga_flow/openfpga_shell_scripts/example_clkntwk_no_ace_script.openfpga
  openfpga_flow/openfpga_shell_scripts/example_clkntwk_script.openfpga
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_2layer/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_2layer_full_tb/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer/config/task.conf
Labels: flow-scripts, tests

[test] add new testcases for validate clock tree disable functions
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_disable_unused_spines/config/clk_arch_1clk_1rst_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_disable_unused_spines/config/pin_constraints_reset.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_disable_unused_spines/config/pin_constraints_resetb.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_disable_unused_spines/config/repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_disable_unused_spines/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer_disable_unused/config/clk_arch_2clk_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer_disable_unused/config/pin_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer_disable_unused/config/repack_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer_disable_unused/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer_disable_unused_tree/config/clk_arch_2clk_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer_disable_unused_tree/config/pin_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer_disable_unused_tree/config/repack_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer_disable_unused_tree/config/task.conf
Labels: tests

[test] deploy new testcases to basic reg tests
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
Labels: none

[core] code format
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga/src/annotation/route_clock_rr_graph.h
  openfpga/src/base/openfpga_link_arch_template.h
  openfpga/src/base/openfpga_setup_command_template.h
Labels: VPR, openfpga-tools

[core] fixed a bug where counter for gnets are not activated
  openfpga/src/annotation/openfpga_annotate_routing.cpp
Labels: openfpga-tools

[core] debugging
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools
