Repository lnis-uofu/OpenFPGA, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, VPR, documentation, github, docker, build, libopenfpga, libopenfpga-bitstream, libopenfpga-arch-parser, libopenfpga-fabric-key, libopenfpga-shell, libopenfpga-utils, openfpga-tools, openfpga-verilog, openfpga-sdc, openfpga-bitstream, openfpga-spice, flow-scripts, architecture-description, bitstream, cell-library, benchmarks, tests, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

[core] code format
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

create capnp folder
  libs/CMakeLists.txt
  libs/libopenfpgacapnproto/CMakeLists.txt
  libs/libopenfpgacapnproto/README.md
  libs/libopenfpgacapnproto/gen/README.gen.md
  libs/libopenfpgacapnproto/gen/unique_blocks_uxsdcxx.capnp
  libs/libopenfpgacapnproto/intra_cluster_serdes.h
  libs/libopenfpgacapnproto/mmap_file.cpp
  libs/libopenfpgacapnproto/mmap_file.h
  libs/libopenfpgacapnproto/ndmatrix_serdes.h
  libs/libopenfpgacapnproto/serdes_utils.cpp
  libs/libopenfpgacapnproto/serdes_utils.h
Labels: VPR

add capnp for unique blocks and add write bin function
  libs/libopenfpgacapnproto/gen/README.gen.md
  libs/libopenfpgacapnproto/gen/unique_blocks_uxsdcxx.capnp
  libs/libopenfpgacapnproto/intra_cluster_serdes.h
  libs/libopenfpgacapnproto/ndmatrix_serdes.h
  openfpga/CMakeLists.txt
  openfpga/src/annotation/read_xml_unique_blocks.cpp
  openfpga/src/annotation/read_xml_unique_blocks.h
  openfpga/src/annotation/write_xml_unique_blocks.cpp
  openfpga/src/annotation/write_xml_unique_blocks.h
  openfpga/src/base/openfpga_build_fabric_template.h
Labels: VPR, openfpga-tools

write bin format function (with bug)
  openfpga/src/annotation/write_xml_unique_blocks.cpp
Labels: openfpga-tools

write bin function no compile error
  libs/libopenfpgacapnproto/gen/unique_blocks_uxsdcxx.capnp
  openfpga/src/annotation/write_xml_unique_blocks.cpp
  openfpga/src/annotation/write_xml_unique_blocks.h
Labels: VPR, openfpga-tools

write bin function works now
  libs/libopenfpgacapnproto/README.md
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/write_xml_unique_blocks.cpp
  openfpga/src/annotation/write_xml_unique_blocks.h
Labels: VPR, openfpga-tools

renamed file
  openfpga/src/annotation/write_unique_blocks.cpp
  openfpga/src/annotation/write_unique_blocks.h
  openfpga/src/base/openfpga_build_fabric_template.h
Labels: openfpga-tools

add read bin (with bugs)
  openfpga/src/annotation/read_xml_unique_blocks.cpp
  openfpga/src/annotation/read_xml_unique_blocks.h
  openfpga/src/annotation/write_unique_blocks.cpp
Labels: openfpga-tools

read bin format mod (with bug)
  libs/libopenfpgacapnproto/mmap_file.cpp
  libs/libopenfpgacapnproto/mmap_file.h
  libs/libopenfpgacapnproto/serdes_utils.cpp
  libs/libopenfpgacapnproto/serdes_utils.h
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/read_xml_unique_blocks.cpp
  openfpga/src/annotation/read_xml_unique_blocks.h
  openfpga/src/annotation/write_unique_blocks.cpp
  openfpga/src/base/openfpga_build_fabric_template.h
Labels: VPR, openfpga-tools

mod read bin
  openfpga/src/annotation/read_xml_unique_blocks.cpp
  openfpga/src/annotation/read_xml_unique_blocks.h
Labels: openfpga-tools

add three testcases to test bin read and write
  openfpga_flow/openfpga_shell_scripts/read_bin_unique_blocks_full_flow_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/read_bin_write_xml_uniqueblocks_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/read_unique_blocks_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/write_bin_unique_blocks_full_flow_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks_bin/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks_bin/config/tile_config.xml
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks_bin/read_unique_block.xml
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_write_unique_blocks_bin/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_write_unique_blocks_bin/config/tile_config.xml
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_write_unique_blocks_bin/read_unique_block.xml
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/write_bin_unique_blocks_full_flow/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/write_bin_unique_blocks_full_flow/config/tile_config.xml
Labels: flow-scripts, tests

modified testcases
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks_bin/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_write_unique_blocks_bin/config/task.conf
Labels: tests

read bin ready
  openfpga/src/annotation/read_xml_unique_blocks.cpp
  openfpga/src/annotation/read_xml_unique_blocks.h
Labels: openfpga-tools

modified testcase
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks_bin/read_unique_block.bin
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks_bin/read_unique_block.xml
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_write_unique_blocks_bin/read_unique_block.bin
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_write_unique_blocks_bin/read_unique_block.xml
Labels: tests

changed file name
  openfpga/src/annotation/read_unique_blocks.cpp
  openfpga/src/annotation/read_unique_blocks.h
  openfpga/src/base/openfpga_build_fabric_template.h
Labels: openfpga-tools

reformat code
  openfpga/src/base/openfpga_build_fabric_template.h
Labels: openfpga-tools

[core] adapt to side var changes
  libs/libopenfpgautil/src/openfpga_side_manager.cpp
  libs/libpcf/src/base/io_pin_table.cpp
  libs/libpcf/src/io/write_csv_io_pin_table.cpp
  openfpga/src/annotation/annotate_placement.cpp
  openfpga/src/annotation/annotate_rr_graph.cpp
  openfpga/src/annotation/openfpga_annotate_routing.cpp
  openfpga/src/annotation/write_xml_device_rr_gsb.cpp
  openfpga/src/base/openfpga_naming.cpp
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
  openfpga/src/fabric/build_grid_module_utils.cpp
  openfpga/src/fabric/build_grid_modules.cpp
  openfpga/src/fabric/build_routing_module_utils.cpp
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.cpp
  openfpga/src/fabric/build_top_module_child_tile_instance.cpp
  openfpga/src/fabric/build_top_module_connection.cpp
  openfpga/src/fabric/build_top_module_memory.cpp
  openfpga/src/fabric/build_top_module_utils.cpp
  openfpga/src/fabric/module_manager.cpp
  openfpga/src/fpga_bitstream/build_grid_bitstream.cpp
  openfpga/src/fpga_bitstream/build_io_mapping_info.cpp
  openfpga/src/fpga_bitstream/extract_device_non_fabric_bitstream.cpp
  openfpga/src/fpga_sdc/analysis_sdc_grid_writer.cpp
  openfpga/src/fpga_sdc/analysis_sdc_writer.cpp
  openfpga/src/fpga_sdc/pnr_sdc_grid_writer.cpp
  openfpga/src/fpga_sdc/sdc_hierarchy_writer.cpp
  openfpga/src/fpga_spice/spice_grid.cpp
  openfpga/src/fpga_verilog/verilog_grid.cpp
  openfpga/src/fpga_verilog/verilog_mock_fpga_wrapper.cpp
  openfpga/src/fpga_verilog/verilog_simulation_info_writer.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
  openfpga/src/tile_direct/build_tile_direct.cpp
  openfpga/src/utils/openfpga_physical_tile_utils.cpp
Labels: VPR, openfpga-tools, openfpga-verilog, openfpga-sdc, openfpga-bitstream, openfpga-spice

[core] code format
  libs/libpcf/src/io/write_csv_io_pin_table.cpp
  openfpga/src/fabric/build_grid_modules.cpp
  openfpga/src/fabric/build_top_module_child_tile_instance.cpp
  openfpga/src/fpga_spice/spice_grid.cpp
  openfpga/src/fpga_verilog/verilog_simulation_info_writer.cpp
Labels: VPR, openfpga-tools, openfpga-verilog, openfpga-spice

[test] use fixed route chan width to avoid the bug on vpr which failed routing on min chan width condition
  openfpga_flow/tasks/fpga_verilog/mux_design/stdcell_mux2_last_stage/config/task.conf
Labels: tests

[test] adjust route chan width to avoid vpr bug on min route chan width (some case failed)
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut_pb_pin_fixup_msb/config/task.conf
Labels: tests

add uxsdcxx
  libs/libopenfpgacapnproto/CMakeLists.txt
  libs/libopenfpgacapnproto/gen/unique_blocks.xsd
  libs/libopenfpgacapnproto/gen/unique_blocks_uxsdcxx_pre.capnp
Labels: VPR

add xsd file and modified cmakelist
  libs/libopenfpgacapnproto/CMakeLists.txt
  libs/libopenfpgacapnproto/gen/unique_blocks.xsd
  libs/libopenfpgacapnproto/gen/unique_blocks_uxsdcxx_pre.capnp
  openfpga/src/annotation/read_unique_blocks.cpp
  openfpga/src/annotation/write_unique_blocks.cpp
Labels: VPR, openfpga-tools

modified CMakeLists.txt
  libs/libopenfpgacapnproto/CMakeLists.txt
  libs/libopenfpgacapnproto/README.md
  libs/libopenfpgacapnproto/gen/unique_blocks.xsd
  libs/libopenfpgacapnproto/gen/unique_blocks_uxsdcxx.capnp
Labels: VPR

reformat code
  openfpga/src/annotation/write_unique_blocks.cpp
Labels: openfpga-tools

auto generate capnp no compile error
  libs/libopenfpgacapnproto/CMakeLists.txt
  libs/libopenfpgacapnproto/gen/unique_blocks_uxsdcxx.capnp
  libs/libopenfpgacapnproto/mmap_file.cpp
  libs/libopenfpgacapnproto/mmap_file.h
  libs/libopenfpgacapnproto/serdes_utils.cpp
  libs/libopenfpgacapnproto/serdes_utils.h
  openfpga/src/annotation/read_unique_blocks.cpp
  openfpga/src/annotation/read_unique_blocks.h
  openfpga/src/annotation/write_unique_blocks.cpp
  openfpga/src/annotation/write_unique_blocks.h
Labels: VPR, openfpga-tools

seperate xml parser and bin parser
  openfpga/src/annotation/read_unique_blocks_bin.cpp
  openfpga/src/annotation/read_unique_blocks_bin.h
  openfpga/src/annotation/read_unique_blocks_xml.cpp
  openfpga/src/annotation/read_unique_blocks_xml.h
  openfpga/src/annotation/write_unique_blocks_bin.cpp
  openfpga/src/annotation/write_unique_blocks_bin.h
  openfpga/src/annotation/write_unique_blocks_xml.cpp
  openfpga/src/annotation/write_unique_blocks_xml.h
  openfpga/src/base/openfpga_build_fabric_template.h
Labels: openfpga-tools

modified test cases & xsd file
  libs/libopenfpgacapnproto/gen/README.gen.md
  libs/libopenfpgacapnproto/gen/unique_blocks.xsd
  libs/libopenfpgacapnproto/gen/unique_blocks_uxsdcxx.capnp
  openfpga/src/annotation/read_unique_blocks_bin.cpp
  openfpga/src/annotation/read_unique_blocks_bin.h
  openfpga/src/annotation/write_unique_blocks_bin.cpp
  openfpga/src/annotation/write_unique_blocks_bin.h
  openfpga_flow/openfpga_shell_scripts/read_bin_unique_blocks_full_flow_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/read_bin_write_xml_uniqueblocks_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/read_unique_blocks_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/read_unique_blocks_full_flow_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/read_write_unique_blocks_full_flow_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/write_bin_unique_blocks_full_flow_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/write_unique_blocks_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/write_unique_blocks_full_flow_example_script.openfpga
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_bin_write_xml/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_bin_write_xml/config/tile_config.xml
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_bin_write_xml/read_unique_block.bin
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks/read_unique_block.xml
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks_bin/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks_full_flow/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_write_unique_blocks/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/write_bin_unique_blocks_full_flow/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/write_unique_blocks/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/write_unique_blocks_full_flow/config/task.conf
Labels: VPR, openfpga-tools, flow-scripts, tests

modified testcases
  openfpga/src/annotation/read_unique_blocks_xml.cpp
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_bin_write_xml/read_unique_block.bin
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks_bin/read_unique_block.bin
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_write_unique_blocks_bin/read_unique_block.bin
Labels: openfpga-tools, tests

Enable bitstream generation with flat routing
  openfpga/src/annotation/annotate_rr_graph.cpp
  openfpga/src/annotation/openfpga_annotate_routing.cpp
  openfpga/src/annotation/openfpga_annotate_routing.h
  openfpga/src/base/openfpga_link_arch_template.h
  openfpga/src/mux_lib/mux_library_builder.cpp
Labels: openfpga-tools

[core] resolve API mismatches
  openfpga/src/annotation/openfpga_annotate_routing.cpp
Labels: openfpga-tools

[core] code format
  openfpga/src/annotation/openfpga_annotate_routing.cpp
Labels: openfpga-tools

[core] update gen files; Should avoid such dynamic updates later
  libs/libopenfpgacapnproto/gen/unique_blocks_uxsdcxx.capnp
Labels: VPR

[core] resolve compiler warning
  openfpga/src/annotation/openfpga_annotate_routing.cpp
  openfpga/src/annotation/openfpga_annotate_routing.h
  openfpga/src/base/openfpga_link_arch_template.h
Labels: openfpga-tools

[test] bypass vtr bugs
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut_pb_pin_fixup_msb/config/task.conf
Labels: tests

[test] update golden
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_1x1/golden_outputs_no_time_stamp/and2_formal_random_top_tb.v
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_1x1/golden_outputs_no_time_stamp/and2_fpga_top_analysis.sdc
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_1x1/golden_outputs_no_time_stamp/and2_top_formal_verification.v
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_1x1/golden_outputs_no_time_stamp/fabric_bitstream.bit
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_1x1/golden_outputs_no_time_stamp/fabric_bitstream.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_1x1/golden_outputs_no_time_stamp/fabric_independent_bitstream.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_1x1/golden_outputs_no_time_stamp/global_ports.sdc
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_1x1/golden_outputs_no_time_stamp/pin_mapping.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/golden_outputs_no_time_stamp/and2_formal_random_top_tb.v
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/golden_outputs_no_time_stamp/and2_fpga_top_analysis.sdc
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/golden_outputs_no_time_stamp/and2_top_formal_verification.v
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/golden_outputs_no_time_stamp/fabric_bitstream.bit
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/golden_outputs_no_time_stamp/fabric_bitstream.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/golden_outputs_no_time_stamp/fabric_independent_bitstream.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/golden_outputs_no_time_stamp/global_ports.sdc
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/golden_outputs_no_time_stamp/pin_mapping.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/dump_waveform/golden_outputs_no_time_stamp/and2_formal_random_top_tb.v
  openfpga_flow/tasks/basic_tests/no_time_stamp/dump_waveform/golden_outputs_no_time_stamp/and2_fpga_top_analysis.sdc
  openfpga_flow/tasks/basic_tests/no_time_stamp/dump_waveform/golden_outputs_no_time_stamp/and2_top_formal_verification.v
  openfpga_flow/tasks/basic_tests/no_time_stamp/dump_waveform/golden_outputs_no_time_stamp/fabric_bitstream.bit
  openfpga_flow/tasks/basic_tests/no_time_stamp/dump_waveform/golden_outputs_no_time_stamp/fabric_bitstream.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/dump_waveform/golden_outputs_no_time_stamp/fabric_independent_bitstream.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/dump_waveform/golden_outputs_no_time_stamp/global_ports.sdc
  openfpga_flow/tasks/basic_tests/no_time_stamp/dump_waveform/golden_outputs_no_time_stamp/pin_mapping.xml
Labels: tests

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use minimatch syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
ABC:
- changed-files:
  - any-glob-to-any-file: 'abc/*'
  - any-glob-to-any-file: 'abc/**/*'
ACE2:
- changed-files:
  - any-glob-to-any-file: 'ace2/*'
  - any-glob-to-any-file: 'ace2/**/*'
VPR:
- changed-files:
  - any-glob-to-any-file: 'vpr/*'
  - any-glob-to-any-file: 'vpr/**/*'
  - any-glob-to-any-file: 'libs/**/*'

# General areas
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*'
  - any-glob-to-any-file: 'docs/**/*'
  - any-glob-to-any-file: '*README*'
  - any-glob-to-any-file: '*.md'
  - any-glob-to-any-file: 'tutorial'
  - any-glob-to-any-file: '*.rst'
  - any-glob-to-any-file: '.readthedocs.yml'
github:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: '*docker*'
build:
- changed-files:
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'CMakeLists.txt'
  - any-glob-to-any-file: 'cmake'
libopenfpga:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/**'
libopenfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfpgabitstream/**'
libopenfpga-arch-parser:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libarchopenfpga/**'
libopenfpga-fabric-key:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfabrickey/**'
libopenfpga-shell:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgashell/**'
libopenfpga-utils:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgautil/**'
openfpga-tools:
- changed-files:
  - any-glob-to-any-file: 'openfpga/**'
openfpga-verilog:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_verilog/**'
openfpga-sdc:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_sdc/**'
openfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_bitstream/**'
openfpga-spice:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_spice/**'
flow-scripts:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_shell_scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_simulation_settings/**'
  - any-glob-to-any-file: 'openfpga_flow/misc/**'
architecture-description:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/vpr_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
cell-library:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/openfpga_cell_library/**'
  - any-glob-to-any-file: 'openfpga_flow/tech/**'
benchmarks:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/benchmarks/**'
tests:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/tasks/**'

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: '*.v'
  - any-glob-to-any-file: '*.sv'
lang-cpp:
- changed-files:
  - any-glob-to-any-file: '*.c*'
  - any-glob-to-any-file: '*.h'
lang-perl:
- changed-files:
  - any-glob-to-any-file: '*.pl'
  - any-glob-to-any-file: '*perl*'
lang-python:
- changed-files:
  - any-glob-to-any-file: '*.py'
lang-shell:
- changed-files:
  - any-glob-to-any-file: '*.sh'
lang-netlist:
- changed-files:
  - any-glob-to-any-file: '*.blif'
  - any-glob-to-any-file: '*.eblif'
  - any-glob-to-any-file: '*.edif'
  - any-glob-to-any-file: '*.vqm'
lang-make:
- changed-files:
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: 'CMakeLists.txt'
