Repository lnis-uofu/OpenFPGA, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, VPR, documentation, github, docker, build, libopenfpga, libopenfpga-bitstream, libopenfpga-arch-parser, libopenfpga-fabric-key, libopenfpga-shell, libopenfpga-utils, openfpga-tools, openfpga-verilog, openfpga-sdc, openfpga-bitstream, openfpga-spice, flow-scripts, architecture-description, bitstream, cell-library, benchmarks, tests, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

reformat the code
  libs/libpcf/src/io/pcf_reader.cpp
Labels: VPR

Support extracting data that is not affecting fabric bitstream (#1566)
  docs/source/manual/file_formats/bitstream_setting.rst
  libs/libarchopenfpga/src/bitstream_setting.cpp
  libs/libarchopenfpga/src/bitstream_setting.h
  libs/libarchopenfpga/src/read_xml_bitstream_setting.cpp
  openfpga/src/base/openfpga_bitstream_template.h
  openfpga/src/fpga_bitstream/extract_device_non_fabric_bitstream.cpp
  openfpga/src/fpga_bitstream/extract_device_non_fabric_bitstream.h
  openfpga_flow/regression_test_scripts/fpga_bitstream_reg_test.sh
  openfpga_flow/tasks/fpga_bitstream/extract_dsp_mode_bit/config/bitstream_annotation.xml
  openfpga_flow/tasks/fpga_bitstream/extract_dsp_mode_bit/config/task.conf
Labels: VPR, documentation, openfpga-tools, openfpga-bitstream, tests

Add Test
  openfpga_flow/openfpga_arch/k4_N4_40nm_qlbankflatten_defined_wl_openfpga.xml
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/full_testbench/ql_memory_bank_flatten_defined_wl/config/task.conf
Labels: architecture-description, tests

Add more protocol checking to enable LUTRAM feature
  libs/libarchopenfpga/src/read_xml_openfpga_arch.cpp
Labels: VPR

[doc] add new option ``--dump_waveform``
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_verilog_commands.rst
Labels: documentation

[core] add a new opton ``--dump_waveform`` to command ``write_preconfigured_fabric_wrapper``
  openfpga/src/base/openfpga_verilog_command_template.h
  openfpga/src/base/openfpga_verilog_template.h
  openfpga/src/fpga_verilog/verilog_constants.h
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.cpp
  openfpga/src/fpga_verilog/verilog_testbench_options.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.h
Labels: openfpga-tools, openfpga-verilog

[core] code format
  openfpga/src/base/openfpga_verilog_template.h
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.cpp
  openfpga/src/fpga_verilog/verilog_testbench_options.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.h
Labels: openfpga-tools, openfpga-verilog

[code] syntax
  openfpga/src/fpga_verilog/verilog_testbench_options.cpp
  openfpga/src/fpga_verilog/verilog_testbench_options.h
Labels: openfpga-tools, openfpga-verilog

[test] add a new testcase to validate dump waveform
  openfpga_flow/openfpga_shell_scripts/no_time_stamp_example_script.openfpga
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/config/task.conf
  openfpga_flow/tasks/basic_tests/no_time_stamp/dump_waveform/config/task.conf
  openfpga_flow/tasks/basic_tests/no_time_stamp/no_cout_in_gsb/config/task.conf
Labels: flow-scripts, tests

[test] add new testcase to basic reg test
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
Labels: none

[core] typo
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
Labels: openfpga-tools, openfpga-verilog

Move the config setting under config protocol
  docs/source/manual/arch_lang/config_protocol.rst
  docs/source/manual/arch_lang/generality.rst
  docs/source/manual/arch_lang/ql_memory_bank_config_setting.rst
  libs/libarchopenfpga/src/config_protocol.cpp
  libs/libarchopenfpga/src/config_protocol.h
  libs/libarchopenfpga/src/openfpga_arch.h
  libs/libarchopenfpga/src/read_xml_config_protocol.cpp
  libs/libarchopenfpga/src/read_xml_openfpga_arch.cpp
  libs/libarchopenfpga/src/read_xml_ql_memory_bank_config_setting.cpp
  libs/libarchopenfpga/src/read_xml_ql_memory_bank_config_setting.h
  openfpga/src/fabric/build_device_module.cpp
  openfpga/src/fabric/build_grid_modules.cpp
  openfpga/src/fabric/build_grid_modules.h
  openfpga_flow/openfpga_arch/k4_N4_40nm_qlbankflatten_defined_wl_openfpga.xml
Labels: VPR, documentation, openfpga-tools, architecture-description

Revert any changes
  docs/source/manual/arch_lang/generality.rst
Labels: documentation

[doc] update black version from 20.8b1 to 24.3.0
  requirements.txt
Labels: none

[script] adapt code format for python
  openfpga_flow/scripts/arch_file_updater.py
  openfpga_flow/scripts/io_sequence_visualizer.py
  openfpga_flow/scripts/run_fpga_flow.py
Labels: flow-scripts

[core] added a new command write_pin_physical_location
  openfpga/src/base/openfpga_setup_command_template.h
Labels: openfpga-tools

[core] rename command name to 'write_fabric_pin_physical_location`` and start developing exec func
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/fabric/fabric_pin_physical_location_xml_constants.h
  openfpga/src/fabric/write_xml_fabric_pin_physical_location.cpp
  openfpga/src/fabric/write_xml_fabric_pin_physical_location.h
Labels: openfpga-tools

[core] developing xml writer for fabric pin phy loc
  openfpga/src/fabric/write_xml_fabric_pin_physical_location.cpp
Labels: openfpga-tools

[core] adding pin side attribute to module manager
  openfpga/src/fabric/module_manager.cpp
  openfpga/src/fabric/module_manager.h
  openfpga/src/fabric/write_xml_fabric_pin_physical_location.cpp
Labels: openfpga-tools

[core] add port side attribute and set them when buidling grid/cb/sb modules
  openfpga/src/base/openfpga_naming.cpp
  openfpga/src/base/openfpga_naming.h
  openfpga/src/fabric/build_grid_module_duplicated_pins.cpp
  openfpga/src/fabric/build_grid_modules.cpp
  openfpga/src/fabric/build_routing_modules.cpp
  openfpga/src/fabric/module_manager.cpp
  openfpga/src/fabric/module_manager.h
  openfpga/src/fabric/write_xml_fabric_pin_physical_location.cpp
Labels: openfpga-tools

[core] add port side to tile ports
  openfpga/src/fabric/build_tile_modules.cpp
Labels: openfpga-tools

[core] syntax
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/fabric/build_grid_module_duplicated_pins.cpp
  openfpga/src/fabric/build_grid_modules.cpp
  openfpga/src/fabric/build_routing_modules.cpp
  openfpga/src/fabric/build_tile_modules.cpp
  openfpga/src/fabric/module_manager.cpp
  openfpga/src/fabric/module_manager.h
  openfpga/src/fabric/write_xml_fabric_pin_physical_location.cpp
  openfpga/src/fabric/write_xml_fabric_pin_physical_location.h
Labels: openfpga-tools

[core] add a new option '--show_invalid_side'
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/fabric/write_xml_fabric_pin_physical_location.cpp
  openfpga/src/fabric/write_xml_fabric_pin_physical_location.h
Labels: openfpga-tools

[core] code format
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_naming.cpp
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/fabric/build_grid_module_duplicated_pins.cpp
  openfpga/src/fabric/build_grid_modules.cpp
  openfpga/src/fabric/build_routing_modules.cpp
  openfpga/src/fabric/build_tile_modules.cpp
  openfpga/src/fabric/module_manager.cpp
  openfpga/src/fabric/module_manager.h
  openfpga/src/fabric/write_xml_fabric_pin_physical_location.cpp
  openfpga/src/fabric/write_xml_fabric_pin_physical_location.h
Labels: openfpga-tools

[test] add a new test case to basic reg test to validate write_fabric_pin_physical_location command
  openfpga_flow/openfpga_shell_scripts/group_tile_write_fabric_pin_phy_loc_preconfig_testbench_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/write_fabric_pin_phy_loc/write_fabric_pin_phy_loc_for_tiles/config/task.conf
  openfpga_flow/tasks/basic_tests/write_fabric_pin_phy_loc/write_fabric_pin_phy_loc_for_tiles/config/tile_config.xml
Labels: flow-scripts, tests

[core] fixed a bug
  openfpga/src/fabric/module_manager.cpp
Labels: openfpga-tools

[core] now support regular expression in module name for fabric pin physical location output
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/fabric/write_xml_fabric_pin_physical_location.cpp
Labels: openfpga-tools

[core] fixed a bug where regex breaks
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/fabric/write_xml_fabric_pin_physical_location.cpp
Labels: openfpga-tools

[test] now test regex as module name for fabric pin physical location
  openfpga_flow/openfpga_shell_scripts/group_tile_write_fabric_pin_phy_loc_preconfig_testbench_example_script.openfpga
  openfpga_flow/tasks/basic_tests/write_fabric_pin_phy_loc/write_fabric_pin_phy_loc_for_tiles/config/task.conf
Labels: flow-scripts, tests

[core] code format
  openfpga/src/fabric/write_xml_fabric_pin_physical_location.cpp
Labels: openfpga-tools

[test] add new testcases to validate options of write_fabric_pin_physical_location
  openfpga_flow/tasks/basic_tests/write_fabric_pin_phy_loc/write_fabric_pin_phy_loc_default/config/task.conf
  openfpga_flow/tasks/basic_tests/write_fabric_pin_phy_loc/write_fabric_pin_phy_loc_default/config/tile_config.xml
  openfpga_flow/tasks/basic_tests/write_fabric_pin_phy_loc/write_fabric_pin_phy_loc_show_invalid_sides/config/task.conf
  openfpga_flow/tasks/basic_tests/write_fabric_pin_phy_loc/write_fabric_pin_phy_loc_show_invalid_sides/config/tile_config.xml
  openfpga_flow/tasks/basic_tests/write_fabric_pin_phy_loc/write_fabric_pin_phy_loc_wildcards/config/task.conf
  openfpga_flow/tasks/basic_tests/write_fabric_pin_phy_loc/write_fabric_pin_phy_loc_wildcards/config/tile_config.xml
Labels: tests

[ci] deploy new tests to basic reg tests
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
Labels: none

[ci] typo
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
Labels: none

[test] now validate no time stamp file for fabric pin physical location
  openfpga_flow/openfpga_shell_scripts/no_time_stamp_example_script.openfpga
Labels: flow-scripts

[test] add golden outputs
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_1x1/golden_outputs_no_time_stamp/fabric_pin_phy_loc.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/golden_outputs_no_time_stamp/fabric_pin_phy_loc.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/dump_waveform/golden_outputs_no_time_stamp/fabric_pin_phy_loc.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/no_cout_in_gsb/golden_outputs_no_time_stamp/fabric_pin_phy_loc.xml
Labels: tests

[doc] add new file format and new command as well as related options
  docs/source/manual/file_formats/fabric_pin_physical_location_file.rst
  docs/source/manual/file_formats/index.rst
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
Labels: documentation

[doc] add hyperlinks
  docs/source/manual/file_formats/fabric_pin_physical_location_file.rst
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
Labels: documentation

LUTRAM Support (#1595)
  docs/source/manual/arch_lang/config_protocol.rst
  libs/libarchopenfpga/src/config_protocol.cpp
  libs/libarchopenfpga/src/config_protocol.h
  libs/libarchopenfpga/src/ql_memory_bank_config_setting.cpp
  libs/libarchopenfpga/src/ql_memory_bank_config_setting.h
  libs/libarchopenfpga/src/read_xml_config_protocol.cpp
  openfpga/src/fabric/build_device_module.cpp
  openfpga/src/fabric/build_grid_modules.cpp
  openfpga/src/fabric/build_grid_modules.h
  openfpga/src/fabric/build_top_module_memory.cpp
  openfpga/src/utils/decoder_library_utils.cpp
  openfpga/src/utils/decoder_library_utils.h
  openfpga/src/utils/memory_utils.cpp
  openfpga/src/utils/memory_utils.h
  openfpga/src/utils/module_manager_utils.cpp
  openfpga/src/utils/module_manager_utils.h
  openfpga_flow/openfpga_arch/k4_N4_40nm_qlbankflatten_defined_wl_openfpga.xml
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/full_testbench/ql_memory_bank_flatten_defined_wl/config/task.conf
Labels: VPR, documentation, openfpga-tools, architecture-description, tests

[core] rework fabric hierarchy writer
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/fabric/fabric_hierarchy_writer.cpp
  openfpga/src/fabric/fabric_hierarchy_writer.h
Labels: openfpga-tools

[core] add fabric hierarchy writer
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/fabric/fabric_hierarchy_writer.cpp
  openfpga/src/fabric/fabric_hierarchy_writer.h
Labels: openfpga-tools

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use minimatch syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
ABC:
- changed-files:
  - any-glob-to-any-file: 'abc/*'
  - any-glob-to-any-file: 'abc/**/*'
ACE2:
- changed-files:
  - any-glob-to-any-file: 'ace2/*'
  - any-glob-to-any-file: 'ace2/**/*'
VPR:
- changed-files:
  - any-glob-to-any-file: 'vpr/*'
  - any-glob-to-any-file: 'vpr/**/*'
  - any-glob-to-any-file: 'libs/**/*'

# General areas
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*'
  - any-glob-to-any-file: 'docs/**/*'
  - any-glob-to-any-file: '*README*'
  - any-glob-to-any-file: '*.md'
  - any-glob-to-any-file: 'tutorial'
  - any-glob-to-any-file: '*.rst'
  - any-glob-to-any-file: '.readthedocs.yml'
github:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: '*docker*'
build:
- changed-files:
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'CMakeLists.txt'
  - any-glob-to-any-file: 'cmake'
libopenfpga:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/**'
libopenfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfpgabitstream/**'
libopenfpga-arch-parser:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libarchopenfpga/**'
libopenfpga-fabric-key:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfabrickey/**'
libopenfpga-shell:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgashell/**'
libopenfpga-utils:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgautil/**'
openfpga-tools:
- changed-files:
  - any-glob-to-any-file: 'openfpga/**'
openfpga-verilog:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_verilog/**'
openfpga-sdc:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_sdc/**'
openfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_bitstream/**'
openfpga-spice:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_spice/**'
flow-scripts:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_shell_scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_simulation_settings/**'
  - any-glob-to-any-file: 'openfpga_flow/misc/**'
architecture-description:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/vpr_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
cell-library:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/openfpga_cell_library/**'
  - any-glob-to-any-file: 'openfpga_flow/tech/**'
benchmarks:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/benchmarks/**'
tests:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/tasks/**'

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: '*.v'
  - any-glob-to-any-file: '*.sv'
lang-cpp:
- changed-files:
  - any-glob-to-any-file: '*.c*'
  - any-glob-to-any-file: '*.h'
lang-perl:
- changed-files:
  - any-glob-to-any-file: '*.pl'
  - any-glob-to-any-file: '*perl*'
lang-python:
- changed-files:
  - any-glob-to-any-file: '*.py'
lang-shell:
- changed-files:
  - any-glob-to-any-file: '*.sh'
lang-netlist:
- changed-files:
  - any-glob-to-any-file: '*.blif'
  - any-glob-to-any-file: '*.eblif'
  - any-glob-to-any-file: '*.edif'
  - any-glob-to-any-file: '*.vqm'
lang-make:
- changed-files:
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: 'CMakeLists.txt'
