Repository lnis-uofu/OpenFPGA, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, VPR, documentation, github, docker, build, libopenfpga, libopenfpga-bitstream, libopenfpga-arch-parser, libopenfpga-fabric-key, libopenfpga-shell, libopenfpga-utils, openfpga-tools, openfpga-verilog, openfpga-sdc, openfpga-bitstream, openfpga-spice, flow-scripts, architecture-description, bitstream, cell-library, benchmarks, tests, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

[core] code format
  libs/libarchopenfpga/src/arch_direct.h
  libs/libarchopenfpga/src/read_xml_routing_circuit.cpp
  openfpga/src/tile_direct/build_tile_direct.cpp
Labels: VPR, openfpga-tools

[core] now cb module include OPIN nodes
  openfpga/src/fabric/build_routing_module_utils.cpp
  openfpga/src/fabric/build_routing_module_utils.h
  openfpga/src/fabric/build_routing_modules.cpp
Labels: openfpga-tools

[core] syntax
  openfpga/src/fabric/build_routing_module_utils.cpp
  openfpga/src/fabric/build_routing_module_utils.h
  openfpga/src/fabric/build_routing_modules.cpp
  openfpga/src/fpga_sdc/pnr_sdc_routing_writer.cpp
Labels: openfpga-tools, openfpga-sdc

[core] code format
  openfpga/src/fabric/build_routing_module_utils.cpp
  openfpga/src/fabric/build_routing_modules.cpp
  openfpga/src/fpga_sdc/pnr_sdc_routing_writer.cpp
Labels: openfpga-tools, openfpga-sdc

[core] update vtr and developing caches for OPIN lists just for connection blocks
  openfpga/src/annotation/annotate_rr_graph.cpp
  openfpga/src/fabric/build_routing_module_utils.cpp
  openfpga/src/fabric/build_routing_modules.cpp
Labels: openfpga-tools

[core] now connect OPIN to CB in top-level module
  openfpga/src/fabric/build_top_module_connection.cpp
Labels: openfpga-tools

[core] supporting opin connection to cb in tiles
  openfpga/src/fabric/build_tile_modules.cpp
Labels: openfpga-tools

[core] sytax
  openfpga/src/fabric/build_routing_modules.cpp
  openfpga/src/fabric/build_tile_modules.cpp
  openfpga/src/fabric/build_top_module_connection.cpp
Labels: openfpga-tools

[core] code format
  openfpga/src/fabric/build_routing_modules.cpp
  openfpga/src/fabric/build_tile_modules.cpp
  openfpga/src/fabric/build_top_module_connection.cpp
Labels: openfpga-tools

[lib] typo on keywords in XML parser
  libs/libarchopenfpga/src/read_xml_routing_circuit.cpp
Labels: VPR

[arch] replace out-of-date keywords
  openfpga_flow/openfpga_arch/k4_frac_N4_adder_chain_40nm_cc_abspath_openfpga.xml
  openfpga_flow/openfpga_arch/k4_frac_N4_adder_chain_40nm_cc_openfpga.xml
  openfpga_flow/openfpga_arch/k4_frac_N4_adder_chain_mem1K_40nm_frame_openfpga.xml
  openfpga_flow/openfpga_arch/k4_frac_N4_adder_chain_mem1K_L124X_L12Y_40nm_frame_openfpga.xml
  openfpga_flow/openfpga_arch/k4_frac_N4_adder_chain_mem1K_L124_40nm_frame_openfpga.xml
  openfpga_flow/openfpga_arch/k4_frac_N4_adder_chain_mem1K_frac_dsp32_40nm_frame_openfpga.xml
  openfpga_flow/openfpga_arch/k4_frac_N8_register_scan_chain_caravel_io_skywater130nm_fdhd_cc_openfpga.xml
  openfpga_flow/openfpga_arch/k4_frac_N8_register_scan_chain_embedded_io_skywater130nm_fdhd_cc_openfpga.xml
  openfpga_flow/openfpga_arch/k4_frac_N8_reset_register_scan_chain_caravel_io_skywater130nm_fdhd_cc_openfpga.xml
  openfpga_flow/openfpga_arch/k4_frac_N8_reset_softadderSuperLUT_register_scan_chain_caravel_io_skywater130nm_fdhd_cc_openfpga.xml
  openfpga_flow/openfpga_arch/k4_frac_N8_reset_softadder_register_scan_chain_caravel_io_skywater130nm_fdhd_cc_openfpga.xml
  openfpga_flow/openfpga_arch/k4_frac_N8_reset_softadder_register_scan_chain_dsp8_caravel_io_skywater130nm_fdhd_cc_openfpga.xml
  openfpga_flow/openfpga_arch/k4_frac_N8_reset_softadder_register_scan_chain_frac_dsp16_caravel_io_skywater130nm_fdhd_cc_openfpga.xml
  openfpga_flow/openfpga_arch/k6_frac_N10_adder_chain_40nm_openfpga.xml
  openfpga_flow/openfpga_arch/k6_frac_N10_adder_chain_dpram8K_dsp36_40nm_openfpga.xml
  openfpga_flow/openfpga_arch/k6_frac_N10_adder_chain_dpram8K_dsp36_fracff_40nm_openfpga.xml
  openfpga_flow/openfpga_arch/k6_frac_N10_adder_chain_frac_mem32K_frac_dsp36_40nm_GlobalTile8Clk_openfpga.xml
  openfpga_flow/openfpga_arch/k6_frac_N10_adder_chain_frac_mem32K_frac_dsp36_40nm_openfpga.xml
  openfpga_flow/openfpga_arch/k6_frac_N10_adder_chain_mem16K_40nm_openfpga.xml
  openfpga_flow/openfpga_arch/k6_frac_N10_adder_chain_mem16K_aib_40nm_openfpga.xml
  openfpga_flow/openfpga_arch/k6_frac_N10_adder_chain_mem1K_40nm_openfpga.xml
  openfpga_flow/openfpga_arch/k6_frac_N10_adder_register_chain_40nm_openfpga.xml
  openfpga_flow/openfpga_arch/k6_frac_N10_adder_register_scan_chain_40nm_openfpga.xml
  openfpga_flow/openfpga_arch/k6_frac_N10_adder_register_scan_chain_depop50_40nm_openfpga.xml
  openfpga_flow/openfpga_arch/k6_frac_N10_adder_register_scan_chain_depop50_spypad_40nm_openfpga.xml
Labels: architecture-description

[arch] adding a new arch where feedback loops are modelled by direct connections
  openfpga_flow/vpr_arch/README.md
  openfpga_flow/vpr_arch/k4_N4_ecb_tileable_TileOrgzTl_40nm.xml
Labels: architecture-description

[arch] adding openfpga arch for ecb
  openfpga_flow/openfpga_arch/README.md
  openfpga_flow/openfpga_arch/k4_N4_ecb_40nm_cc_openfpga.xml
Labels: architecture-description

[test] add new testcase for ecb to basic regtest
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_ecb/config/task.conf
Labels: tests

[arch] typo
  openfpga_flow/vpr_arch/k4_N4_ecb_tileable_TileOrgzTl_40nm.xml
Labels: architecture-description

[core] fixed a bug where wire model is expected on direct connections
  libs/libarchopenfpga/src/read_xml_routing_circuit.cpp
Labels: VPR

[core] fixed a bug on requirement wire model for direction connection which is part of a cb
  openfpga/src/annotation/annotate_rr_graph.cpp
Labels: openfpga-tools

[core] code format
  libs/libarchopenfpga/src/read_xml_routing_circuit.cpp
  openfpga/src/annotation/annotate_rr_graph.cpp
Labels: VPR, openfpga-tools

[arch] Move clb I to right side as left side is not supported yet
  openfpga_flow/vpr_arch/k4_N4_ecb_tileable_TileOrgzTl_40nm.xml
Labels: architecture-description

[test] fixed some bugs
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_ecb/config/task.conf
Labels: tests

[core] fixed a bug on messed up wire connections for OPINs
  openfpga/src/fabric/build_routing_modules.cpp
Labels: openfpga-tools

[test] add fully connected feedback connections to directlist
  openfpga_flow/openfpga_arch/k4_N4_ecb_40nm_cc_openfpga.xml
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_ecb/config/task.conf
  openfpga_flow/vpr_arch/k4_N4_ecb_tileable_TileOrgzTr_40nm.xml
Labels: architecture-description, tests

[test] rework
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_ecb/config/task.conf
  openfpga_flow/vpr_arch/k4_N4_ecb_tileable_TileOrgzBr_40nm.xml
Labels: architecture-description, tests

[test] add a new test to validate ecb when tile modules are used
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/tile_organization/homo_fabric_tile_ecb_2x2_preconfig/config/task.conf
  openfpga_flow/tasks/basic_tests/tile_organization/homo_fabric_tile_ecb_2x2_preconfig/config/tile_config.xml
Labels: tests

[test] code format
  openfpga_flow/openfpga_arch/k4_N4_ecb_40nm_cc_openfpga.xml
Labels: architecture-description

[doc] enhance connection block details and restrictions
  docs/source/manual/arch_lang/direct_interconnect.rst
  docs/source/manual/arch_lang/figures/ecb_allowed_direct_connection.png
  docs/source/manual/arch_lang/figures/ecb_allowed_direct_connection_inner_tile_example.png
  docs/source/manual/arch_lang/figures/ecb_allowed_direct_connection_inter_tile_example.png
  docs/source/manual/arch_lang/figures/ecb_forbid_direct_connection_example.png
Labels: documentation

[doc] add a figure about ecb
  docs/source/manual/arch_lang/direct_interconnect.rst
  docs/source/manual/arch_lang/figures/ecb.png
Labels: documentation

[doc] syntax
  docs/source/manual/arch_lang/direct_interconnect.rst
Labels: documentation

[core] fixed a bug where gsb OPIN name does not match the switch block module
  openfpga/src/annotation/write_xml_device_rr_gsb.cpp
Labels: openfpga-tools

[doc] typo
  docs/source/manual/arch_lang/direct_interconnect.rst
Labels: documentation

[core] fixed a bug where net name is not shown correctly on wire LUTs
  openfpga/src/repack/build_physical_truth_table.cpp
Labels: openfpga-tools

[ci] now reg tests are only run on PR for main branch
  .github/workflows/build.yml
  .github/workflows/cell_lib_test.yml
  .github/workflows/format.yaml
Labels: github

[core] update debug messages
  openfpga/src/repack/build_physical_truth_table.cpp
  openfpga/src/repack/lb_router_utils.cpp
  openfpga/src/utils/physical_pb_utils.cpp
Labels: openfpga-tools

[core] enable more debugging message in repacker
  openfpga/src/utils/physical_pb_utils.cpp
Labels: openfpga-tools

[core] adding more debugging messages
  openfpga/src/utils/physical_pb_utils.cpp
Labels: openfpga-tools

[core] more debugging message
  openfpga/src/utils/physical_pb_utils.cpp
Labels: openfpga-tools

[core] syntax
  openfpga/src/utils/physical_pb_utils.cpp
Labels: openfpga-tools

[core] detailed messages to trace why some nets are no sync
  openfpga/src/utils/physical_pb_utils.cpp
Labels: openfpga-tools

[core] fixed a bug on missing net sync up during repack
  openfpga/src/utils/physical_pb_utils.cpp
Labels: openfpga-tools

[core] more debuggin messages
  openfpga/src/repack/build_physical_truth_table.cpp
Labels: openfpga-tools

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use minimatch syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
ABC:
- changed-files:
  - any-glob-to-any-file: 'abc/*'
  - any-glob-to-any-file: 'abc/**/*'
ACE2:
- changed-files:
  - any-glob-to-any-file: 'ace2/*'
  - any-glob-to-any-file: 'ace2/**/*'
VPR:
- changed-files:
  - any-glob-to-any-file: 'vpr/*'
  - any-glob-to-any-file: 'vpr/**/*'
  - any-glob-to-any-file: 'libs/**/*'

# General areas
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*'
  - any-glob-to-any-file: 'docs/**/*'
  - any-glob-to-any-file: '*README*'
  - any-glob-to-any-file: '*.md'
  - any-glob-to-any-file: 'tutorial'
  - any-glob-to-any-file: '*.rst'
  - any-glob-to-any-file: '.readthedocs.yml'
github:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: '*docker*'
build:
- changed-files:
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'CMakeLists.txt'
  - any-glob-to-any-file: 'cmake'
libopenfpga:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/**'
libopenfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfpgabitstream/**'
libopenfpga-arch-parser:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libarchopenfpga/**'
libopenfpga-fabric-key:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfabrickey/**'
libopenfpga-shell:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgashell/**'
libopenfpga-utils:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgautil/**'
openfpga-tools:
- changed-files:
  - any-glob-to-any-file: 'openfpga/**'
openfpga-verilog:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_verilog/**'
openfpga-sdc:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_sdc/**'
openfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_bitstream/**'
openfpga-spice:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_spice/**'
flow-scripts:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_shell_scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_simulation_settings/**'
  - any-glob-to-any-file: 'openfpga_flow/misc/**'
architecture-description:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/vpr_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
cell-library:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/openfpga_cell_library/**'
  - any-glob-to-any-file: 'openfpga_flow/tech/**'
benchmarks:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/benchmarks/**'
tests:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/tasks/**'

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: '*.v'
  - any-glob-to-any-file: '*.sv'
lang-cpp:
- changed-files:
  - any-glob-to-any-file: '*.c*'
  - any-glob-to-any-file: '*.h'
lang-perl:
- changed-files:
  - any-glob-to-any-file: '*.pl'
  - any-glob-to-any-file: '*perl*'
lang-python:
- changed-files:
  - any-glob-to-any-file: '*.py'
lang-shell:
- changed-files:
  - any-glob-to-any-file: '*.sh'
lang-netlist:
- changed-files:
  - any-glob-to-any-file: '*.blif'
  - any-glob-to-any-file: '*.eblif'
  - any-glob-to-any-file: '*.edif'
  - any-glob-to-any-file: '*.vqm'
lang-make:
- changed-files:
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: 'CMakeLists.txt'
