Repository lnis-uofu/OpenFPGA, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, VPR, documentation, github, docker, build, libopenfpga, libopenfpga-bitstream, libopenfpga-arch-parser, libopenfpga-fabric-key, libopenfpga-shell, libopenfpga-utils, openfpga-tools, openfpga-verilog, openfpga-sdc, openfpga-bitstream, openfpga-spice, flow-scripts, architecture-description, bitstream, cell-library, benchmarks, tests, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

[core] code format
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/fabric/fabric_hierarchy_writer.cpp
  openfpga/src/fabric/fabric_hierarchy_writer.h
Labels: openfpga-tools

[core] fixed some bugs on format
  openfpga/src/fabric/fabric_hierarchy_writer.cpp
Labels: openfpga-tools

[core] code format
  openfpga/src/fabric/fabric_hierarchy_writer.cpp
Labels: openfpga-tools

[core] avoid unwanted tab
  openfpga/src/fabric/fabric_hierarchy_writer.cpp
Labels: openfpga-tools

[test] add options to write fabric hierarchy file
  openfpga_flow/openfpga_shell_scripts/group_config_block_preconfig_testbench_example_script.openfpga
Labels: flow-scripts

[test] add fabric hierarchy file to golden outputs
  openfpga_flow/openfpga_shell_scripts/no_time_stamp_example_script.openfpga
Labels: flow-scripts

[test] fixed a bug and add golden outputs
  openfpga_flow/openfpga_shell_scripts/no_time_stamp_example_script.openfpga
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_1x1/golden_outputs_no_time_stamp/mux_modules.yaml
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/golden_outputs_no_time_stamp/mux_modules.yaml
  openfpga_flow/tasks/basic_tests/no_time_stamp/dump_waveform/golden_outputs_no_time_stamp/mux_modules.yaml
  openfpga_flow/tasks/basic_tests/no_time_stamp/no_cout_in_gsb/golden_outputs_no_time_stamp/mux_modules.yaml
Labels: flow-scripts, tests

[doc] add new options for write_fabric_hierarchy
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
Labels: documentation

[doc] add example file and file format details
  docs/source/manual/file_formats/fabric_hierarchy_file.rst
  docs/source/manual/file_formats/index.rst
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
Labels: documentation

[doc] add more comments
  docs/source/manual/file_formats/fabric_hierarchy_file.rst
Labels: documentation

[core] fixed some bugs
  openfpga/src/fabric/fabric_hierarchy_writer.cpp
Labels: openfpga-tools

[core] fixed the bugs when there are module renaming
  openfpga/src/fabric/fabric_hierarchy_writer.cpp
Labels: openfpga-tools

[core] code format
  openfpga/src/fabric/fabric_hierarchy_writer.cpp
Labels: openfpga-tools

[ci] now use ubuntu 22.04 as the main os to check build compatibility; Drop gcc-8, clang-6, clang-7, clang-8, clang-9 support
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/format.yaml
  .github/workflows/install_dependencies_build_ubuntu20p04.sh
  .github/workflows/install_dependencies_build_ubuntu22p04.sh
  .github/workflows/install_dependencies_run_ubuntu20p04.sh
Labels: github

[script] now use clang-format-14 as c++/c formatter
  Makefile
Labels: build, lang-make

[docker] now move to ubuntu 22.04
  docker/Dockerfile.base
  docker/Dockerfile.clang-10
  docker/Dockerfile.clang-11
  docker/Dockerfile.clang-12
  docker/Dockerfile.clang-13
  docker/Dockerfile.clang-14
  docker/Dockerfile.clang-6.0
  docker/Dockerfile.clang-7
  docker/Dockerfile.clang-8
  docker/Dockerfile.env
  docker/Dockerfile.gcc-12
  docker/Dockerfile.gcc-7
  docker/Dockerfile.gcc-8
Labels: none

[doc] update os and dep info
  docs/source/tutorials/getting_started/compile.rst
  docs/source/tutorials/getting_started/ubuntu20p04_dependencies.sh
  docs/source/tutorials/getting_started/ubuntu20p04_regtest_dependencies.sh
  docs/source/tutorials/getting_started/ubuntu22p04_regtest_dependencies.sh
Labels: documentation

[ci] typo on dep file
  .github/workflows/build.yml
Labels: github

[lib] add header to pass Gcc-12
  libs/libnamemanager/src/base/io_name_map.h
Labels: VPR

[ci] show clear error log when build errors out
  .github/workflows/build.yml
Labels: github

[lib] code format
  libs/libnamemanager/src/base/io_name_map.h
Labels: VPR

[lib] add missing header required by clang-11+
  libs/libarchopenfpga/src/ql_memory_bank_config_setting.h
Labels: VPR

[core] add missing header required by clang-11+
  openfpga/src/fpga_bitstream/fabric_bitstream.h
Labels: openfpga-tools, openfpga-bitstream

[docker] fix bugs on python3
  docker/Dockerfile.env
Labels: none

[test] now use latest python3 of ubuntu 22.04
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/regression_test_scripts/basic_reg_yosys_only_test.sh
  openfpga_flow/regression_test_scripts/fpga_bitstream_reg_test.sh
  openfpga_flow/regression_test_scripts/fpga_sdc_reg_test.sh
  openfpga_flow/regression_test_scripts/fpga_spice_reg_test.sh
  openfpga_flow/regression_test_scripts/fpga_verilog_reg_test.sh
  openfpga_flow/regression_test_scripts/iwls_benchmark_reg_test.sh
  openfpga_flow/regression_test_scripts/micro_benchmark_reg_test.sh
  openfpga_flow/regression_test_scripts/quicklogic_reg_test.sh
  openfpga_flow/regression_test_scripts/vtr_benchmark_reg_test.sh
Labels: none

[test] avoid no-fanin errors for hetero arch
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_adder_chain_mem1K_L124X_L12Y_ChanWidth0p8_40nm.xml
Labels: architecture-description

[script] remove the custom findTbb module for cmake as it is native in CMake
  cmake/modules/FindTBB.cmake
Labels: none

[test] now use fixed routing channel width
  openfpga_flow/openfpga_shell_scripts/global_tile_clock_full_testbench_example_script.openfpga
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_clock/config/task.conf
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_clock_subtile/config/task.conf
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_clock_subtile_port_merge/config/task.conf
Labels: flow-scripts, tests

[test] create a new example script for fixed routing W case
  openfpga_flow/openfpga_shell_scripts/global_tile_clock_full_testbench_fix_routeW_example_script.openfpga
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_clock/config/task.conf
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_clock_subtile/config/task.conf
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_clock_subtile_port_merge/config/task.conf
Labels: flow-scripts, tests

[test] fixed some bugs
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_clock/config/task.conf
Labels: tests

[test] use a different W to avoid vvp collapse
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_clock_subtile_port_merge/config/task.conf
Labels: tests

[test] update golden outputs
  openfpga_flow/tasks/basic_tests/no_time_stamp/dump_waveform/golden_outputs_no_time_stamp/and2_formal_random_top_tb.v
  openfpga_flow/tasks/basic_tests/no_time_stamp/dump_waveform/golden_outputs_no_time_stamp/and2_fpga_top_analysis.sdc
  openfpga_flow/tasks/basic_tests/no_time_stamp/dump_waveform/golden_outputs_no_time_stamp/global_ports.sdc
Labels: tests

[test] update golden files
  openfpga_flow/tasks/basic_tests/no_time_stamp/no_cout_in_gsb/golden_outputs_no_time_stamp/and2_formal_random_top_tb.v
  openfpga_flow/tasks/basic_tests/no_time_stamp/no_cout_in_gsb/golden_outputs_no_time_stamp/and2_fpga_top_analysis.sdc
  openfpga_flow/tasks/basic_tests/no_time_stamp/no_cout_in_gsb/golden_outputs_no_time_stamp/global_ports.sdc
Labels: tests

[test] update golden files
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_1x1/golden_outputs_no_time_stamp/and2_formal_random_top_tb.v
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_1x1/golden_outputs_no_time_stamp/and2_fpga_top_analysis.sdc
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_1x1/golden_outputs_no_time_stamp/global_ports.sdc
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/golden_outputs_no_time_stamp/and2_formal_random_top_tb.v
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/golden_outputs_no_time_stamp/and2_fpga_top_analysis.sdc
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/golden_outputs_no_time_stamp/global_ports.sdc
Labels: tests

[core] fixed a bug where incoming edges are not built after loading rr_graph in vpr
  openfpga/src/base/openfpga_link_arch_template.h
Labels: openfpga-tools

[core] code format
  openfpga/src/base/openfpga_link_arch_template.h
Labels: openfpga-tools

[test] add new tests to verify rr graph preloading in two file formats
  openfpga_flow/openfpga_shell_scripts/preload_rr_graph_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/preload_rr_graph/preload_rr_graph_bin/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_rr_graph/preload_rr_graph_xml/config/task.conf
Labels: flow-scripts, tests

[core] add new type 'part_of_cb' for tile direct connections
  libs/libarchopenfpga/src/arch_direct.h
  libs/libarchopenfpga/src/read_xml_routing_circuit.cpp
  openfpga/src/tile_direct/build_tile_direct.cpp
Labels: VPR, openfpga-tools

[doc] rework out-of-date syntax
  docs/source/manual/arch_lang/direct_interconnect.rst
  libs/libarchopenfpga/src/read_xml_routing_circuit.cpp
Labels: VPR, documentation

[core] syntax
  libs/libarchopenfpga/src/arch_direct.cpp
  libs/libarchopenfpga/src/arch_direct.h
  libs/libarchopenfpga/src/read_xml_routing_circuit.cpp
  libs/libarchopenfpga/src/write_xml_routing_circuit.cpp
  openfpga/src/tile_direct/build_tile_direct.cpp
Labels: VPR, openfpga-tools

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use minimatch syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
ABC:
- changed-files:
  - any-glob-to-any-file: 'abc/*'
  - any-glob-to-any-file: 'abc/**/*'
ACE2:
- changed-files:
  - any-glob-to-any-file: 'ace2/*'
  - any-glob-to-any-file: 'ace2/**/*'
VPR:
- changed-files:
  - any-glob-to-any-file: 'vpr/*'
  - any-glob-to-any-file: 'vpr/**/*'
  - any-glob-to-any-file: 'libs/**/*'

# General areas
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*'
  - any-glob-to-any-file: 'docs/**/*'
  - any-glob-to-any-file: '*README*'
  - any-glob-to-any-file: '*.md'
  - any-glob-to-any-file: 'tutorial'
  - any-glob-to-any-file: '*.rst'
  - any-glob-to-any-file: '.readthedocs.yml'
github:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: '*docker*'
build:
- changed-files:
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'CMakeLists.txt'
  - any-glob-to-any-file: 'cmake'
libopenfpga:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/**'
libopenfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfpgabitstream/**'
libopenfpga-arch-parser:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libarchopenfpga/**'
libopenfpga-fabric-key:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfabrickey/**'
libopenfpga-shell:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgashell/**'
libopenfpga-utils:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgautil/**'
openfpga-tools:
- changed-files:
  - any-glob-to-any-file: 'openfpga/**'
openfpga-verilog:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_verilog/**'
openfpga-sdc:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_sdc/**'
openfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_bitstream/**'
openfpga-spice:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_spice/**'
flow-scripts:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_shell_scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_simulation_settings/**'
  - any-glob-to-any-file: 'openfpga_flow/misc/**'
architecture-description:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/vpr_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
cell-library:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/openfpga_cell_library/**'
  - any-glob-to-any-file: 'openfpga_flow/tech/**'
benchmarks:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/benchmarks/**'
tests:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/tasks/**'

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: '*.v'
  - any-glob-to-any-file: '*.sv'
lang-cpp:
- changed-files:
  - any-glob-to-any-file: '*.c*'
  - any-glob-to-any-file: '*.h'
lang-perl:
- changed-files:
  - any-glob-to-any-file: '*.pl'
  - any-glob-to-any-file: '*perl*'
lang-python:
- changed-files:
  - any-glob-to-any-file: '*.py'
lang-shell:
- changed-files:
  - any-glob-to-any-file: '*.sh'
lang-netlist:
- changed-files:
  - any-glob-to-any-file: '*.blif'
  - any-glob-to-any-file: '*.eblif'
  - any-glob-to-any-file: '*.edif'
  - any-glob-to-any-file: '*.vqm'
lang-make:
- changed-files:
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: 'CMakeLists.txt'
