Repository lnis-uofu/OpenFPGA, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, VPR, documentation, github, docker, build, libopenfpga, libopenfpga-bitstream, libopenfpga-arch-parser, libopenfpga-fabric-key, libopenfpga-shell, libopenfpga-utils, openfpga-tools, openfpga-verilog, openfpga-sdc, openfpga-bitstream, openfpga-spice, flow-scripts, architecture-description, bitstream, cell-library, benchmarks, tests, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

[core] more debuggin messages
  openfpga/src/repack/repack.cpp
Labels: openfpga-tools

[core] syntax
  openfpga/src/repack/repack.cpp
Labels: openfpga-tools

[core] code comments
  openfpga/src/repack/repack.cpp
Labels: openfpga-tools

[core] code format
  openfpga/src/repack/build_physical_truth_table.cpp
  openfpga/src/repack/repack.cpp
  openfpga/src/utils/physical_pb_utils.cpp
Labels: openfpga-tools

[core] fixed a bug
  openfpga/src/utils/physical_pb_utils.cpp
Labels: openfpga-tools

[core] format
  openfpga/src/utils/physical_pb_utils.cpp
Labels: openfpga-tools

[test] deploy new benchmarks
  openfpga_flow/benchmarks/micro_benchmark/rst_on_lut_4bit/rst_on_lut_4bit.v
  openfpga_flow/regression_test_scripts/fpga_bitstream_reg_test.sh
  openfpga_flow/tasks/fpga_bitstream/repack_ignore_nets/config/rst_on_lut_repack_dc.xml
  openfpga_flow/tasks/fpga_bitstream/repack_ignore_nets/config/task.conf
Labels: benchmarks, tests

[test] add and deploy new benchmark
  openfpga_flow/benchmarks/micro_benchmark/rst_on_lut_8bit/rst_on_lut_8bit.v
  openfpga_flow/tasks/fpga_bitstream/repack_ignore_nets/config/task.conf
Labels: benchmarks, tests

[ci] try to use ssh key
  .github/workflows/build.yml
Labels: github

[ci] now checkout all the submodules by default
  .github/workflows/build.yml
  .github/workflows/docker.yml
Labels: github

[ci] debugging
  .github/workflows/build.yml
  .github/workflows/docker.yml
Labels: github

[ci] revert back to original checkout submodule strategy, as sockpp submodule link is updated in vtr
  .github/workflows/build.yml
  .github/workflows/docker.yml
Labels: github

[doc] now add tips/notes to readme. Update broken links
  README.md
  docs/source/dev_manual/ci.rst
  docs/source/dev_manual/contributor_guidelines/general_rules.rst
  docs/source/dev_manual/contributor_guidelines/index.rst
  docs/source/dev_manual/contributor_guidelines/naming_convention.rst
  docs/source/dev_manual/index.rst
Labels: documentation

[doc] format
  README.md
Labels: documentation

[doc] merge cicd into ci section
  docs/source/dev_manual/ci.rst
  docs/source/dev_manual/cicd_setup.rst
  docs/source/dev_manual/index.rst
Labels: documentation

[doc] add missing links
  docs/source/dev_manual/index.rst
Labels: documentation

[ci] now enable cancel jobs in progress
  .github/workflows/build.yml
  .github/workflows/cell_lib_test.yml
  .github/workflows/docker.yml
  .github/workflows/format.yaml
Labels: github

[ci] bring back reg tests on master branch and version updater is now triggered automatically on any changes to master branch
  .github/workflows/build.yml
  .github/workflows/cell_lib_test.yml
  .github/workflows/format.yaml
  .github/workflows/patch_updater.yml
Labels: github

[core] now use force push
  .github/workflows/patch_updater.yml
Labels: github

Make sure net is valid before setting it as wire LUT output
  openfpga/src/utils/physical_pb_utils.cpp
Labels: openfpga-tools

[lib] now default switch of clk ntwk is split to default_tap_switch and default_driver_switch
  libs/libclkarchopenfpga/arch/example.xml
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  libs/libclkarchopenfpga/src/io/clock_network_xml_constants.h
  libs/libclkarchopenfpga/src/io/read_xml_clock_network.cpp
  libs/libclkarchopenfpga/src/io/write_xml_clock_network.cpp
Labels: VPR

[lib] now link clock arch supports tap and driver default switches
  libs/libclkarchopenfpga/src/utils/clock_network_utils.cpp
Labels: VPR

[core] now clock graph builder supports two types of switches
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: openfpga-tools

[test] update clock network testcase
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_2layer/config/clk_arch_1clk_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_2layer_full_tb/config/clk_arch_1clk_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer/config/clk_arch_2clk_2layer.xml
Labels: tests

[lib] syntax
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
Labels: VPR

[core] code format
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  libs/libclkarchopenfpga/src/utils/clock_network_utils.cpp
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: VPR, openfpga-tools

[core] remove restrictions on 1 clock tree definition
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: openfpga-tools

[test] add a new testcase to programmable clock network on supporting reset signals
  openfpga_flow/openfpga_arch/k4_frac_N4_fracff_40nm_Ntwk1clk1rst2lvl_cc_openfpga.xml
  openfpga_flow/openfpga_shell_scripts/example_clkntwk_no_ace_script.openfpga
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer/config/clk_arch_1clk_1rst_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer/config/pin_constraints_reset.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer/config/pin_constraints_resetb.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer/config/task.conf
Labels: flow-scripts, architecture-description, tests

[test] deploy new tests to basic reg tests
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
Labels: none

[arch] fixed some bugs
  openfpga_flow/openfpga_arch/k4_frac_N4_fracff_40nm_Ntwk1clk1rst2lvl_cc_openfpga.xml
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_fracff_40nm.xml
Labels: architecture-description

[core] add debugging messages
  libs/libclkarchopenfpga/src/utils/clock_network_utils.cpp
  openfpga/src/base/openfpga_read_arch_template.h
Labels: VPR, openfpga-tools

[test] fixed a bug where ace is no required
  openfpga_flow/openfpga_shell_scripts/example_clkntwk_no_ace_script.openfpga
Labels: flow-scripts

[core] removing the restrictions on only 1 clock tree is supported in programmable clock network
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[test] fixed a bug on pin mapping of tetbenche
  openfpga_flow/openfpga_shell_scripts/example_clkntwk_no_ace_script.openfpga
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer/config/task.conf
Labels: flow-scripts, tests

[doc] add new syntax for clock network
  docs/source/manual/file_formats/clock_network.rst
Labels: documentation

[ci] use a new version of cancel-previous-flow due to node16 deprecation
  .github/workflows/build.yml
  .github/workflows/cell_lib_test.yml
  .github/workflows/format.yaml
Labels: github

[ci] now use upload-artifact v4 due to deprecation
  .github/workflows/build.yml
Labels: github

[lib] add syntax to support internal drivers in clock network parsers
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  libs/libclkarchopenfpga/src/base/clock_network_fwd.h
  libs/libclkarchopenfpga/src/io/clock_network_xml_constants.h
  libs/libclkarchopenfpga/src/io/read_xml_clock_network.cpp
  libs/libclkarchopenfpga/src/io/write_xml_clock_network.cpp
Labels: VPR

[lib] syntax
  libs/libclkarchopenfpga/src/io/clock_network_xml_constants.h
  libs/libclkarchopenfpga/src/io/read_xml_clock_network.cpp
  libs/libclkarchopenfpga/src/io/write_xml_clock_network.cpp
Labels: VPR

[lib] add example arch for clock arch with internal drivers
  libs/libclkarchopenfpga/arch/example_internal_drivers.xml
Labels: VPR

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use minimatch syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
ABC:
- changed-files:
  - any-glob-to-any-file: 'abc/*'
  - any-glob-to-any-file: 'abc/**/*'
ACE2:
- changed-files:
  - any-glob-to-any-file: 'ace2/*'
  - any-glob-to-any-file: 'ace2/**/*'
VPR:
- changed-files:
  - any-glob-to-any-file: 'vpr/*'
  - any-glob-to-any-file: 'vpr/**/*'
  - any-glob-to-any-file: 'libs/**/*'

# General areas
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*'
  - any-glob-to-any-file: 'docs/**/*'
  - any-glob-to-any-file: '*README*'
  - any-glob-to-any-file: '*.md'
  - any-glob-to-any-file: 'tutorial'
  - any-glob-to-any-file: '*.rst'
  - any-glob-to-any-file: '.readthedocs.yml'
github:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: '*docker*'
build:
- changed-files:
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'CMakeLists.txt'
  - any-glob-to-any-file: 'cmake'
libopenfpga:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/**'
libopenfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfpgabitstream/**'
libopenfpga-arch-parser:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libarchopenfpga/**'
libopenfpga-fabric-key:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfabrickey/**'
libopenfpga-shell:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgashell/**'
libopenfpga-utils:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgautil/**'
openfpga-tools:
- changed-files:
  - any-glob-to-any-file: 'openfpga/**'
openfpga-verilog:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_verilog/**'
openfpga-sdc:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_sdc/**'
openfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_bitstream/**'
openfpga-spice:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_spice/**'
flow-scripts:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_shell_scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_simulation_settings/**'
  - any-glob-to-any-file: 'openfpga_flow/misc/**'
architecture-description:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/vpr_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
cell-library:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/openfpga_cell_library/**'
  - any-glob-to-any-file: 'openfpga_flow/tech/**'
benchmarks:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/benchmarks/**'
tests:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/tasks/**'

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: '*.v'
  - any-glob-to-any-file: '*.sv'
lang-cpp:
- changed-files:
  - any-glob-to-any-file: '*.c*'
  - any-glob-to-any-file: '*.h'
lang-perl:
- changed-files:
  - any-glob-to-any-file: '*.pl'
  - any-glob-to-any-file: '*perl*'
lang-python:
- changed-files:
  - any-glob-to-any-file: '*.py'
lang-shell:
- changed-files:
  - any-glob-to-any-file: '*.sh'
lang-netlist:
- changed-files:
  - any-glob-to-any-file: '*.blif'
  - any-glob-to-any-file: '*.eblif'
  - any-glob-to-any-file: '*.edif'
  - any-glob-to-any-file: '*.vqm'
lang-make:
- changed-files:
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: 'CMakeLists.txt'
