Repository lnis-uofu/OpenFPGA, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, VPR, documentation, github, docker, build, libopenfpga, libopenfpga-bitstream, libopenfpga-arch-parser, libopenfpga-fabric-key, libopenfpga-shell, libopenfpga-utils, openfpga-tools, openfpga-verilog, openfpga-sdc, openfpga-bitstream, openfpga-spice, flow-scripts, architecture-description, bitstream, cell-library, benchmarks, tests, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use minimatch syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
ABC:
- changed-files:
  - any-glob-to-any-file: 'abc/*'
  - any-glob-to-any-file: 'abc/**/*'
ACE2:
- changed-files:
  - any-glob-to-any-file: 'ace2/*'
  - any-glob-to-any-file: 'ace2/**/*'
VPR:
- changed-files:
  - any-glob-to-any-file: 'vpr/*'
  - any-glob-to-any-file: 'vpr/**/*'
  - any-glob-to-any-file: 'libs/**/*'

# General areas
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*'
  - any-glob-to-any-file: 'docs/**/*'
  - any-glob-to-any-file: '*README*'
  - any-glob-to-any-file: '*.md'
  - any-glob-to-any-file: 'tutorial'
  - any-glob-to-any-file: '*.rst'
  - any-glob-to-any-file: '.readthedocs.yml'
github:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: '*docker*'
build:
- changed-files:
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'CMakeLists.txt'
  - any-glob-to-any-file: 'cmake'
libopenfpga:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/**'
libopenfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfpgabitstream/**'
libopenfpga-arch-parser:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libarchopenfpga/**'
libopenfpga-fabric-key:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfabrickey/**'
libopenfpga-shell:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgashell/**'
libopenfpga-utils:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgautil/**'
openfpga-tools:
- changed-files:
  - any-glob-to-any-file: 'openfpga/**'
openfpga-verilog:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_verilog/**'
openfpga-sdc:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_sdc/**'
openfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_bitstream/**'
openfpga-spice:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_spice/**'
flow-scripts:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_shell_scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_simulation_settings/**'
  - any-glob-to-any-file: 'openfpga_flow/misc/**'
architecture-description:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/vpr_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
cell-library:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/openfpga_cell_library/**'
  - any-glob-to-any-file: 'openfpga_flow/tech/**'
benchmarks:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/benchmarks/**'
tests:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/tasks/**'

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: '*.v'
  - any-glob-to-any-file: '*.sv'
lang-cpp:
- changed-files:
  - any-glob-to-any-file: '*.c*'
  - any-glob-to-any-file: '*.h'
lang-perl:
- changed-files:
  - any-glob-to-any-file: '*.pl'
  - any-glob-to-any-file: '*perl*'
lang-python:
- changed-files:
  - any-glob-to-any-file: '*.py'
lang-shell:
- changed-files:
  - any-glob-to-any-file: '*.sh'
lang-netlist:
- changed-files:
  - any-glob-to-any-file: '*.blif'
  - any-glob-to-any-file: '*.eblif'
  - any-glob-to-any-file: '*.edif'
  - any-glob-to-any-file: '*.vqm'
lang-make:
- changed-files:
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: 'CMakeLists.txt'

[core] debugging
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga/src/annotation/route_clock_rr_graph.h
  openfpga/src/base/openfpga_link_arch_template.h
  openfpga/src/utils/openfpga_clustered_netlist_utils.cpp
  openfpga/src/utils/openfpga_clustered_netlist_utils.h
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer/config/pin_constraints_reset.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer/config/pin_constraints_resetb.xml
Labels: openfpga-tools, tests

[core] debuggging
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer/config/task.conf
Labels: openfpga-tools, tests

[test] now use correct pcf for clock network testcases
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_disable_unused_spines/config/pin_constraints_reset.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_disable_unused_spines/config/pin_constraints_resetb.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_disable_unused_spines/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/pin_constraints_reset.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/pin_constraints_resetb.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/task.conf
Labels: tests

[core] replace width syntax with global port name
  libs/libclkarchopenfpga/arch/example.xml
  libs/libclkarchopenfpga/arch/example_internal_drivers.xml
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  libs/libclkarchopenfpga/src/io/clock_network_xml_constants.h
  libs/libclkarchopenfpga/src/io/read_xml_clock_network.cpp
  libs/libclkarchopenfpga/src/io/write_xml_clock_network.cpp
Labels: VPR

[core] fixed the bug on matching global net from pcf
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[core] add more debugging message
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[test] update clock arch xml syntax
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer/config/clk_arch_1clk_1rst_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_disable_unused_spines/config/clk_arch_1clk_1rst_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_internal_driver/config/clk_arch_1clk_1rst_2layer_int_driver.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_2layer/config/clk_arch_1clk_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_2layer_full_tb/config/clk_arch_1clk_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer/config/clk_arch_2clk_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer_disable_unused/config/clk_arch_2clk_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer_disable_unused_tree/config/clk_arch_2clk_2layer.xml
Labels: tests

[test] update testcase for 2-clk on programmable clock network
  openfpga_flow/openfpga_arch/k4_N4_40nm_Ntwk2clk2lvl_cc_openfpga.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer/config/clk_arch_2clk_2layer.xml
  openfpga_flow/vpr_arch/k4_N4_tileable_Ntwk2clk2lvl_40nm.xml
Labels: architecture-description, tests

[core] typo
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer/config/clk_arch_2clk_2layer.xml
Labels: tests

[core] fixed a bug where clock network size cannot impact global port on top module
  libs/libarchopenfpga/src/tile_annotation.cpp
  libs/libarchopenfpga/src/tile_annotation.h
  openfpga/src/fabric/build_top_module_connection.cpp
Labels: VPR, openfpga-tools

[test] fixed some bugs on arch
  openfpga_flow/openfpga_arch/k4_N4_40nm_Ntwk2clk2lvl_cc_openfpga.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer/config/repack_constraints.xml
Labels: architecture-description, tests

[test] update 2-clock arch and pcf
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer_disable_unused/config/clk_arch_2clk_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer_disable_unused/config/repack_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer_disable_unused_tree/config/clk_arch_2clk_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_2clock_2layer_disable_unused_tree/config/repack_constraints.xml
Labels: tests

[core] code format
  libs/libarchopenfpga/src/tile_annotation.cpp
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  libs/libclkarchopenfpga/src/io/read_xml_clock_network.cpp
  libs/libclkarchopenfpga/src/io/write_xml_clock_network.cpp
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga/src/annotation/route_clock_rr_graph.h
  openfpga/src/base/openfpga_link_arch_template.h
  openfpga/src/fabric/build_top_module_connection.cpp
Labels: VPR, openfpga-tools

[doc] update syntax on clock network file
  docs/source/manual/arch_lang/annotate_vpr_arch.rst
  docs/source/manual/file_formats/clock_network.rst
Labels: documentation

[core] now clock network keep port info in a native data structure
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  libs/libclkarchopenfpga/src/io/read_xml_clock_network.cpp
  libs/libclkarchopenfpga/src/io/write_xml_clock_network.cpp
Labels: VPR

[lib] sanity check on global port name and from pin name of tap points
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
Labels: VPR

[lib] add sanity checks on global port name and clock network's global port name
  libs/libclkarchopenfpga/src/utils/clock_network_utils.cpp
  libs/libclkarchopenfpga/src/utils/clock_network_utils.h
  openfpga/src/base/openfpga_read_arch_template.h
Labels: VPR, openfpga-tools

[core] code format
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/io/write_xml_clock_network.cpp
  libs/libclkarchopenfpga/src/utils/clock_network_utils.cpp
  openfpga/src/base/openfpga_read_arch_template.h
Labels: VPR, openfpga-tools

[test] validate region and single syntax
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_syntax/config/clk_arch_1clk_1rst_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_syntax/config/pin_constraints_reset.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_syntax/config/pin_constraints_resetb.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_syntax/config/repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_syntax/config/task.conf
Labels: tests

[test] typo
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_syntax/config/clk_arch_1clk_1rst_2layer.xml
Labels: tests

[core] fixed a bug on tap point identificatin
  libs/libclkarchopenfpga/src/base/clock_network.cpp
Labels: VPR

[lib] typo
  libs/libclkarchopenfpga/src/io/write_xml_clock_network.cpp
Labels: VPR

[core] fixed a bug on region tap point identification
  libs/libclkarchopenfpga/src/base/clock_network.cpp
Labels: VPR

[doc] add example to example clock network
  docs/source/manual/file_formats/clock_network.rst
  docs/source/manual/file_formats/figures/prog_clk_network_example_2x2.png
Labels: documentation

[test] fix a bug in arch
  openfpga_flow/openfpga_arch/k4_frac_N4_fracff_40nm_cc_openfpga.xml
Labels: architecture-description

[test] fixed a bug on out-of-date arch
  openfpga_flow/tasks/basic_tests/tile_organization/homo_fabric_tile_clkntwk/config/clk_arch_1clk_2layer.xml
Labels: tests

[arch] code format
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_fracff_40nm.xml
Labels: architecture-description

[core] add missing file
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer/config/repack_pin_constraints.xml
Labels: tests

[test] typo
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
Labels: none

[doc] typo
  docs/source/manual/file_formats/clock_network.rst
Labels: documentation

[core] update API call due to vtr upgrade
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: openfpga-tools

[core] code format
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: openfpga-tools

[test] add a new testcase to validate perimeter cb
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/tile_organization/perimeter_cb/config/task.conf
  openfpga_flow/vpr_arch/README.md
Labels: architecture-description, tests

[lib] update vtr and fixing some bugs in annotate gsb when perimeter_cb is enabled
  openfpga/src/annotation/annotate_rr_graph.cpp
Labels: openfpga-tools

[core] fixed the bug on build gsb when cbs are on perimeters
  openfpga/src/annotation/annotate_rr_graph.cpp
Labels: openfpga-tools

[core] fixed a bug on build top module connections on perimeter gsb when cbs occur
  openfpga/src/fabric/build_top_module_connection.cpp
Labels: openfpga-tools

[core] now when perimeter_cb is on, I/O pins can access three sides of routing tracks
  openfpga/src/fabric/build_device_module.cpp
  openfpga/src/fabric/build_grid_module_duplicated_pins.cpp
  openfpga/src/fabric/build_grid_module_duplicated_pins.h
  openfpga/src/fabric/build_grid_module_utils.cpp
  openfpga/src/fabric/build_grid_module_utils.h
  openfpga/src/fabric/build_grid_modules.cpp
  openfpga/src/fabric/build_tile_modules.cpp
  openfpga/src/fabric/build_tile_modules.h
Labels: openfpga-tools

[core] fixed a minor bug
  openfpga/src/fabric/build_grid_module_utils.cpp
Labels: openfpga-tools

[core] fixed a bug
  openfpga/src/fabric/build_top_module_connection.cpp
Labels: openfpga-tools

[core] now corner tile are considered as config child
  openfpga/src/fabric/build_top_module_memory.cpp
Labels: openfpga-tools
