Repository lnis-uofu/OpenFPGA, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, VPR, documentation, github, docker, build, libopenfpga, libopenfpga-bitstream, libopenfpga-arch-parser, libopenfpga-fabric-key, libopenfpga-shell, libopenfpga-utils, openfpga-tools, openfpga-verilog, openfpga-sdc, openfpga-bitstream, openfpga-spice, flow-scripts, architecture-description, bitstream, cell-library, benchmarks, tests, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

fix build bug
  openfpga/src/fabric/read_xml_unique_blocks.cpp
Labels: openfpga-tools

change file location
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/annotation/read_xml_unique_blocks.cpp
  openfpga/src/annotation/read_xml_unique_blocks.h
  openfpga/src/annotation/write_xml_unique_blocks.cpp
  openfpga/src/annotation/write_xml_unique_blocks.h
  openfpga/src/base/openfpga_build_fabric_template.h
Labels: openfpga-tools

mod prelod flag
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/annotation/read_xml_unique_blocks.cpp
  openfpga/src/annotation/write_xml_unique_blocks.cpp
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_setup_command_template.h
Labels: openfpga-tools

fix typo
  openfpga/src/base/openfpga_build_fabric_template.h
Labels: openfpga-tools

add test case
  openfpga_flow/openfpga_shell_scripts/read_unique_blocks_full_flow_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/write_unique_blocks_full_flow_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks_full_flow/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks_full_flow/config/tile_config.xml
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks_full_flow/read_unique_block.xml
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/write_unique_blocks_full_flow/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/write_unique_blocks_full_flow/config/tile_config.xml
Labels: flow-scripts, tests

delete redundant file
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/write_unique_blocks/design_variables.yml
Labels: tests

change to reference
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
Labels: openfpga-tools

mod typo
  openfpga/src/base/openfpga_setup_command_template.h
Labels: openfpga-tools

Add command report_reference
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/utils/report_reference.cpp
  openfpga/src/utils/report_reference.h
Labels: openfpga-tools

update code format
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/utils/report_reference.cpp
  openfpga/src/utils/report_reference.h
Labels: openfpga-tools

preload document copied
  docs/source/manual/file_formats/unique_blocks.rst
Labels: documentation

Update unique_blocks.rst
  docs/source/manual/file_formats/unique_blocks.rst
Labels: documentation

Update unique_blocks.rst
  docs/source/manual/file_formats/unique_blocks.rst
Labels: documentation

fix issue in reg test
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/utils/report_reference.cpp
Labels: openfpga-tools

update code according to code review comments
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/utils/report_reference.cpp
  openfpga/src/utils/report_reference.h
  openfpga_flow/openfpga_shell_scripts/report_reference_example_script.openfpga
  openfpga_flow/tasks/basic_tests/report_reference/config/task.conf
Labels: documentation, openfpga-tools, flow-scripts, tests

add dependency on build_fabric
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga_flow/openfpga_shell_scripts/report_reference_example_script.openfpga
Labels: openfpga-tools, flow-scripts

add test case of report_reference to basic_reg_test.sh
  openfpga_flow/openfpga_shell_scripts/report_reference_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
Labels: flow-scripts

Fixed typo in vpr-main.cpp
  openfpga/src/vpr_wrapper/vpr_main.cpp
Labels: openfpga-tools

fix is_compressed_ tag
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/base/openfpga_build_fabric_template.h
Labels: openfpga-tools

modification on device_rr_gsb
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/read_xml_unique_blocks.cpp
Labels: openfpga-tools

add a task case to ease the use of compress_routing option
  openfpga_flow/openfpga_shell_scripts/read_write_unique_blocks_full_flow_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_write_unique_blocks/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_write_unique_blocks/config/tile_config.xml
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_write_unique_blocks/read_unique_block.xml
Labels: flow-scripts, tests

Add more test cases and update documentation about the YAML file format of this command
  docs/source/manual/file_formats/reference_file.rst
  openfpga_flow/openfpga_shell_scripts/report_reference_example_script.openfpga
  openfpga_flow/tasks/basic_tests/report_reference/config/task.conf
Labels: documentation, flow-scripts, tests

fix build error
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/annotation/read_xml_unique_blocks.cpp
  openfpga/src/annotation/write_xml_unique_blocks.cpp
Labels: openfpga-tools

[core] add a new option map_global_net_to_msb for pb_pin_fixup
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
  openfpga/src/base/openfpga_pb_pin_fixup.h
  openfpga/src/base/openfpga_pb_pin_fixup_template.h
  openfpga/src/base/openfpga_setup_command_template.h
Labels: openfpga-tools

[core] typo
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
Labels: openfpga-tools

[core] syntax
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
Labels: openfpga-tools

[core] code format
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
  openfpga/src/base/openfpga_pb_pin_fixup.h
  openfpga/src/base/openfpga_setup_command_template.h
Labels: openfpga-tools

[doc] add new options
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
Labels: documentation

[test] add a new testcase to validate mapping gnet to msb during pb_pin_fix
  openfpga_flow/openfpga_shell_scripts/example_clkntwk_pb_pin_fixup_no_ace_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut_pb_pin_fixup_msb/config/clk_arch_1clk_1rst_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut_pb_pin_fixup_msb/config/pin_constraints_clk.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut_pb_pin_fixup_msb/config/pin_constraints_rst.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut_pb_pin_fixup_msb/config/pin_constraints_rst_and_clk.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut_pb_pin_fixup_msb/config/repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_on_lut_pb_pin_fixup_msb/config/task.conf
Labels: flow-scripts, tests

Add the reference_file to the index.rst
  docs/source/manual/file_formats/index.rst
  openfpga/src/utils/report_reference.cpp
  openfpga/src/utils/report_reference.h
Labels: documentation, openfpga-tools

fix bug
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/base/openfpga_build_fabric_template.h
Labels: openfpga-tools

fix format issue
  docs/source/manual/file_formats/reference_file.rst
Labels: documentation

add ident
  docs/source/manual/file_formats/reference_file.rst
Labels: documentation

fix merge error
  openfpga/src/base/openfpga_setup_command_template.h
Labels: openfpga-tools

modify document format
  docs/source/manual/file_formats/reference_file.rst
Labels: documentation

fix issue related to line feed
  docs/source/manual/file_formats/reference_file.rst
Labels: documentation

modify file format
  docs/source/manual/file_formats/reference_file.rst
Labels: documentation

rewrite write_xml function
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/annotation/write_xml_unique_blocks.cpp
  openfpga/src/annotation/write_xml_unique_blocks.h
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_setup_command_template.h
Labels: openfpga-tools

modified index.rst
  docs/source/manual/file_formats/index.rst
Labels: documentation

modify file format
  docs/source/manual/file_formats/reference_file.rst
Labels: documentation

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use minimatch syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
ABC:
- changed-files:
  - any-glob-to-any-file: 'abc/*'
  - any-glob-to-any-file: 'abc/**/*'
ACE2:
- changed-files:
  - any-glob-to-any-file: 'ace2/*'
  - any-glob-to-any-file: 'ace2/**/*'
VPR:
- changed-files:
  - any-glob-to-any-file: 'vpr/*'
  - any-glob-to-any-file: 'vpr/**/*'
  - any-glob-to-any-file: 'libs/**/*'

# General areas
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*'
  - any-glob-to-any-file: 'docs/**/*'
  - any-glob-to-any-file: '*README*'
  - any-glob-to-any-file: '*.md'
  - any-glob-to-any-file: 'tutorial'
  - any-glob-to-any-file: '*.rst'
  - any-glob-to-any-file: '.readthedocs.yml'
github:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: '*docker*'
build:
- changed-files:
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'CMakeLists.txt'
  - any-glob-to-any-file: 'cmake'
libopenfpga:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/**'
libopenfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfpgabitstream/**'
libopenfpga-arch-parser:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libarchopenfpga/**'
libopenfpga-fabric-key:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfabrickey/**'
libopenfpga-shell:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgashell/**'
libopenfpga-utils:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgautil/**'
openfpga-tools:
- changed-files:
  - any-glob-to-any-file: 'openfpga/**'
openfpga-verilog:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_verilog/**'
openfpga-sdc:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_sdc/**'
openfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_bitstream/**'
openfpga-spice:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_spice/**'
flow-scripts:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_shell_scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_simulation_settings/**'
  - any-glob-to-any-file: 'openfpga_flow/misc/**'
architecture-description:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/vpr_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
cell-library:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/openfpga_cell_library/**'
  - any-glob-to-any-file: 'openfpga_flow/tech/**'
benchmarks:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/benchmarks/**'
tests:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/tasks/**'

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: '*.v'
  - any-glob-to-any-file: '*.sv'
lang-cpp:
- changed-files:
  - any-glob-to-any-file: '*.c*'
  - any-glob-to-any-file: '*.h'
lang-perl:
- changed-files:
  - any-glob-to-any-file: '*.pl'
  - any-glob-to-any-file: '*perl*'
lang-python:
- changed-files:
  - any-glob-to-any-file: '*.py'
lang-shell:
- changed-files:
  - any-glob-to-any-file: '*.sh'
lang-netlist:
- changed-files:
  - any-glob-to-any-file: '*.blif'
  - any-glob-to-any-file: '*.eblif'
  - any-glob-to-any-file: '*.edif'
  - any-glob-to-any-file: '*.vqm'
lang-make:
- changed-files:
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: 'CMakeLists.txt'
