Repository lnis-uofu/OpenFPGA, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, VPR, documentation, github, docker, build, libopenfpga, libopenfpga-bitstream, libopenfpga-arch-parser, libopenfpga-fabric-key, libopenfpga-shell, libopenfpga-utils, openfpga-tools, openfpga-verilog, openfpga-sdc, openfpga-bitstream, openfpga-spice, flow-scripts, architecture-description, bitstream, cell-library, benchmarks, tests, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

modified unique_block.rst
  docs/source/manual/file_formats/unique_blocks.rst
Labels: documentation

modify format
  docs/source/manual/file_formats/reference_file.rst
Labels: documentation

modify file format
  docs/source/manual/file_formats/reference_file.rst
Labels: documentation

update document format
  docs/source/manual/file_formats/reference_file.rst
Labels: documentation

add ident
  docs/source/manual/file_formats/reference_file.rst
Labels: documentation

add ident for comment line
  docs/source/manual/file_formats/reference_file.rst
Labels: documentation

add ident
  docs/source/manual/file_formats/reference_file.rst
Labels: documentation

remove blank lines
  docs/source/manual/file_formats/reference_file.rst
Labels: documentation

refine doc format
  docs/source/manual/file_formats/reference_file.rst
Labels: documentation

add comments
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/annotation/read_xml_unique_blocks.cpp
  openfpga/src/annotation/read_xml_unique_blocks.h
  openfpga/src/annotation/write_xml_unique_blocks.cpp
  openfpga/src/annotation/write_xml_unique_blocks.h
  openfpga/src/base/openfpga_setup_command_template.h
Labels: openfpga-tools

reformat code
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/annotation/write_xml_unique_blocks.cpp
  openfpga/src/annotation/write_xml_unique_blocks.h
Labels: openfpga-tools

add command doc
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
Labels: documentation

add link to file format description file
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
Labels: documentation

add link to file format description page
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
Labels: documentation

add link to command doc
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
Labels: documentation

add link to command doc, valid now
  docs/source/manual/file_formats/unique_blocks.rst
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
Labels: documentation

[core] support last stage mux
  libs/libarchopenfpga/src/circuit_library.cpp
  libs/libarchopenfpga/src/circuit_library.h
  libs/libarchopenfpga/src/read_xml_circuit_library.cpp
  libs/libarchopenfpga/src/write_xml_circuit_library.cpp
  openfpga/src/fabric/build_mux_modules.cpp
Labels: VPR, openfpga-tools

[core] syntax
  libs/libarchopenfpga/src/circuit_library.h
  openfpga/src/fabric/build_mux_modules.cpp
Labels: VPR, openfpga-tools

[test] validate mux2 at last stage
  openfpga_flow/openfpga_arch/README.md
  openfpga_flow/openfpga_arch/k6_frac_N8_stdcell_laststage_mux_40nm_openfpga.xml
  openfpga_flow/openfpga_cell_library/verilog/mux2.v
  openfpga_flow/regression_test_scripts/fpga_verilog_reg_test.sh
  openfpga_flow/tasks/fpga_verilog/mux_design/stdcell_mux2_last_stage/config/task.conf
Labels: architecture-description, cell-library, tests

[core] fixed a bug
  openfpga/src/fabric/build_mux_modules.cpp
Labels: openfpga-tools

[core] code format
  libs/libarchopenfpga/src/circuit_library.cpp
  libs/libarchopenfpga/src/circuit_library.h
  libs/libarchopenfpga/src/read_xml_circuit_library.cpp
  libs/libarchopenfpga/src/write_xml_circuit_library.cpp
  openfpga/src/fabric/build_mux_modules.cpp
Labels: VPR, openfpga-tools

[doc] update new syntax with example
  docs/source/manual/arch_lang/circuit_library.rst
  docs/source/manual/arch_lang/circuit_model_examples.rst
  docs/source/manual/arch_lang/figures/stdcellmux.png
Labels: documentation

[core] add check codes for last stage pgl model
  libs/libarchopenfpga/src/check_circuit_library.cpp
Labels: VPR

[core] code format
  libs/libarchopenfpga/src/check_circuit_library.cpp
Labels: VPR

[doc] typo
  docs/source/manual/arch_lang/circuit_model_examples.rst
Labels: documentation

[core] support intermediate driver in clock arch
  libs/libclkarchopenfpga/arch/example_internal_drivers.xml
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  libs/libclkarchopenfpga/src/io/clock_network_xml_constants.h
  libs/libclkarchopenfpga/src/io/read_xml_clock_network.cpp
  libs/libclkarchopenfpga/src/io/write_xml_clock_network.cpp
Labels: VPR

[core] code format
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  libs/libclkarchopenfpga/src/io/clock_network_xml_constants.h
  libs/libclkarchopenfpga/src/io/read_xml_clock_network.cpp
  libs/libclkarchopenfpga/src/io/write_xml_clock_network.cpp
Labels: VPR

[core] enable clock intermediate driver in rrgraph buildup
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: openfpga-tools

[core] support intermediate driver in clock routing
  openfpga/src/annotation/append_clock_rr_graph.cpp
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[core] code format
  openfpga/src/annotation/append_clock_rr_graph.cpp
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[test] add new tests to validate intermediate drivers in clock
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/clk_arch_1clk_1rst_2layer_int_driver_clk.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/clk_arch_1clk_1rst_2layer_int_driver_rst.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/pin_constraints_clk_cond.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/pin_constraints_rst_cond.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/vpr_constraint_clk_cond.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/vpr_constraint_rst_cond.xml
Labels: tests

[test] typo
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/clk_arch_1clk_1rst_2layer_int_driver_rst.xml
Labels: tests

[core] debugging
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/vpr_constraint_clk_cond.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/vpr_constraint_rst_cond.xml
Labels: openfpga-tools, tests

[core] fixed the bug
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/vpr_constraint_clk_cond.xml
Labels: openfpga-tools, tests

[core] code format
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

[doc] add new syntax about clock network
  docs/source/manual/file_formats/clock_network.rst
Labels: documentation

[doc] update fig
  docs/source/manual/file_formats/clock_network.rst
  docs/source/manual/file_formats/figures/prog_clk_network_example_2x2_perimeter_cb.png
Labels: documentation

[core] standardize API for clock network intermeidate drivers
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  openfpga/src/annotation/append_clock_rr_graph.cpp
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: VPR, openfpga-tools

[core] code format
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  openfpga/src/annotation/append_clock_rr_graph.cpp
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: VPR, openfpga-tools

[core] refactor
  openfpga/src/annotation/route_clock_rr_graph.cpp
Labels: openfpga-tools

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use minimatch syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
ABC:
- changed-files:
  - any-glob-to-any-file: 'abc/*'
  - any-glob-to-any-file: 'abc/**/*'
ACE2:
- changed-files:
  - any-glob-to-any-file: 'ace2/*'
  - any-glob-to-any-file: 'ace2/**/*'
VPR:
- changed-files:
  - any-glob-to-any-file: 'vpr/*'
  - any-glob-to-any-file: 'vpr/**/*'
  - any-glob-to-any-file: 'libs/**/*'

# General areas
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*'
  - any-glob-to-any-file: 'docs/**/*'
  - any-glob-to-any-file: '*README*'
  - any-glob-to-any-file: '*.md'
  - any-glob-to-any-file: 'tutorial'
  - any-glob-to-any-file: '*.rst'
  - any-glob-to-any-file: '.readthedocs.yml'
github:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: '*docker*'
build:
- changed-files:
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'CMakeLists.txt'
  - any-glob-to-any-file: 'cmake'
libopenfpga:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/**'
libopenfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfpgabitstream/**'
libopenfpga-arch-parser:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libarchopenfpga/**'
libopenfpga-fabric-key:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfabrickey/**'
libopenfpga-shell:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgashell/**'
libopenfpga-utils:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgautil/**'
openfpga-tools:
- changed-files:
  - any-glob-to-any-file: 'openfpga/**'
openfpga-verilog:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_verilog/**'
openfpga-sdc:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_sdc/**'
openfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_bitstream/**'
openfpga-spice:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_spice/**'
flow-scripts:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_shell_scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_simulation_settings/**'
  - any-glob-to-any-file: 'openfpga_flow/misc/**'
architecture-description:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/vpr_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
cell-library:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/openfpga_cell_library/**'
  - any-glob-to-any-file: 'openfpga_flow/tech/**'
benchmarks:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/benchmarks/**'
tests:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/tasks/**'

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: '*.v'
  - any-glob-to-any-file: '*.sv'
lang-cpp:
- changed-files:
  - any-glob-to-any-file: '*.c*'
  - any-glob-to-any-file: '*.h'
lang-perl:
- changed-files:
  - any-glob-to-any-file: '*.pl'
  - any-glob-to-any-file: '*perl*'
lang-python:
- changed-files:
  - any-glob-to-any-file: '*.py'
lang-shell:
- changed-files:
  - any-glob-to-any-file: '*.sh'
lang-netlist:
- changed-files:
  - any-glob-to-any-file: '*.blif'
  - any-glob-to-any-file: '*.eblif'
  - any-glob-to-any-file: '*.edif'
  - any-glob-to-any-file: '*.vqm'
lang-make:
- changed-files:
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: 'CMakeLists.txt'
