Repository lnis-uofu/OpenFPGA, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, VPR, documentation, github, docker, build, libopenfpga, libopenfpga-bitstream, libopenfpga-arch-parser, libopenfpga-fabric-key, libopenfpga-shell, libopenfpga-utils, openfpga-tools, openfpga-verilog, openfpga-sdc, openfpga-bitstream, openfpga-spice, flow-scripts, architecture-description, bitstream, cell-library, benchmarks, tests, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

[core] fixed a bug
  openfpga/src/fabric/build_top_module_memory.cpp
Labels: openfpga-tools

[core] now verbose mode is applicable to more build top module cb instances
  openfpga/src/fabric/build_top_module.cpp
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.cpp
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.h
Labels: openfpga-tools

[core] more verbose
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.cpp
Labels: openfpga-tools

[lib] update vtr
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.cpp
Labels: openfpga-tools

[core] on a new feature to connect undriven pins to ground
  openfpga/src/fpga_verilog/verilog_module_writer.cpp
Labels: openfpga-tools, openfpga-verilog

[core] now support constant undriven local wires in verilog writer
  openfpga/src/fpga_verilog/fabric_verilog_options.cpp
  openfpga/src/fpga_verilog/fabric_verilog_options.h
  openfpga/src/fpga_verilog/verilog_grid.cpp
  openfpga/src/fpga_verilog/verilog_lut.cpp
  openfpga/src/fpga_verilog/verilog_memory.cpp
  openfpga/src/fpga_verilog/verilog_module_writer.cpp
  openfpga/src/fpga_verilog/verilog_module_writer.h
  openfpga/src/fpga_verilog/verilog_mux.cpp
  openfpga/src/fpga_verilog/verilog_routing.cpp
  openfpga/src/fpga_verilog/verilog_shift_register_banks.cpp
  openfpga/src/fpga_verilog/verilog_tile.cpp
  openfpga/src/fpga_verilog/verilog_top_module.cpp
Labels: openfpga-tools, openfpga-verilog

[core] add new command line option 'constant_undriven_inputs'
  openfpga/src/base/openfpga_verilog_command_template.h
  openfpga/src/base/openfpga_verilog_template.h
Labels: openfpga-tools

[core] now constant_undriven_inputs are force to enable when perimeter_cb is selected
  openfpga/src/base/openfpga_verilog_template.h
  openfpga/src/fpga_verilog/verilog_module_writer.cpp
Labels: openfpga-tools, openfpga-verilog

[test] add new arch
  openfpga_flow/vpr_arch/k4_N4_tileable_IoSubtile_PerimeterCb_40nm.xml
Labels: architecture-description

[test] updating arch for perimeter cb
  openfpga_flow/vpr_arch/k4_N4_tileable_IoSubtile_PerimeterCb_40nm.xml
Labels: architecture-description

[test] changing arch
  openfpga_flow/vpr_arch/k4_N4_tileable_IoSubtile_PerimeterCb_40nm.xml
Labels: architecture-description

[core] adapt new gsb coordinate system
  openfpga/src/annotation/annotate_rr_graph.cpp
Labels: openfpga-tools

[core] syntax
  openfpga/src/annotation/annotate_rr_graph.cpp
Labels: openfpga-tools

[core] fixed a bug
  openfpga/src/annotation/annotate_rr_graph.cpp
Labels: openfpga-tools

[core] debug
  openfpga/src/annotation/annotate_rr_graph.cpp
Labels: openfpga-tools

[core] debug
  openfpga/src/annotation/annotate_rr_graph.cpp
Labels: openfpga-tools

[core] debug
  openfpga/src/annotation/annotate_rr_graph.cpp
Labels: openfpga-tools

[core] now netlist look ok
  openfpga/src/fabric/build_top_module_connection.cpp
  openfpga/src/fabric/build_top_module_utils.cpp
Labels: openfpga-tools

[core] fixed the bugs in fabric tile build-up
  openfpga/src/fabric/build_fabric_tile.cpp
  openfpga/src/fabric/build_tile_modules.cpp
Labels: openfpga-tools

[core] fixed a bug on bottom left tile organization
  openfpga/src/fabric/build_fabric_tile.cpp
Labels: openfpga-tools

[core] add a new test for bottom-left tile grouping
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/tile_organization/homo_fabric_tile_bl/config/task.conf
  openfpga_flow/tasks/basic_tests/tile_organization/homo_fabric_tile_bl/config/tile_config.xml
Labels: tests

[core] debugging
  openfpga/src/fabric/build_fabric_tile.cpp
Labels: openfpga-tools

[core] fixed a bug on inter-tile connections in top module
  openfpga/src/fabric/build_top_module_child_tile_instance.cpp
Labels: openfpga-tools

[core] fixed a bug
  openfpga/src/fabric/build_top_module_memory.cpp
Labels: openfpga-tools

[test] make arch pin loc for spread for perimeter cb validation
  openfpga_flow/vpr_arch/k4_N4_tileable_IoSubtile_PerimeterCb_40nm.xml
Labels: architecture-description

[core] code format
  openfpga/src/annotation/annotate_rr_graph.cpp
  openfpga/src/base/openfpga_verilog_command_template.h
  openfpga/src/base/openfpga_verilog_template.h
  openfpga/src/fabric/build_device_module.cpp
  openfpga/src/fabric/build_fabric_tile.cpp
  openfpga/src/fabric/build_grid_module_duplicated_pins.cpp
  openfpga/src/fabric/build_grid_module_utils.cpp
  openfpga/src/fabric/build_grid_module_utils.h
  openfpga/src/fabric/build_grid_modules.cpp
  openfpga/src/fabric/build_tile_modules.cpp
  openfpga/src/fabric/build_tile_modules.h
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.cpp
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.h
  openfpga/src/fabric/build_top_module_connection.cpp
  openfpga/src/fpga_verilog/fabric_verilog_options.cpp
  openfpga/src/fpga_verilog/verilog_grid.cpp
  openfpga/src/fpga_verilog/verilog_lut.cpp
  openfpga/src/fpga_verilog/verilog_memory.cpp
  openfpga/src/fpga_verilog/verilog_module_writer.cpp
  openfpga/src/fpga_verilog/verilog_mux.cpp
  openfpga/src/fpga_verilog/verilog_routing.cpp
  openfpga/src/fpga_verilog/verilog_shift_register_banks.cpp
  openfpga/src/fpga_verilog/verilog_tile.cpp
  openfpga/src/fpga_verilog/verilog_top_module.cpp
Labels: openfpga-tools, openfpga-verilog

[test] code format
  openfpga_flow/vpr_arch/k4_N4_tileable_IoSubtile_PerimeterCb_40nm.xml
Labels: architecture-description

[doc] update figures for ecb
  docs/source/manual/arch_lang/figures/ecb_allowed_direct_connection.png
  docs/source/manual/arch_lang/figures/ecb_allowed_direct_connection_inner_tile_example.png
  docs/source/manual/arch_lang/figures/ecb_allowed_direct_connection_inter_tile_example.png
  docs/source/manual/arch_lang/figures/ecb_forbid_direct_connection_example.png
Labels: documentation

[test] fixed a bug on ecb support
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_ecb/config/task.conf
  openfpga_flow/vpr_arch/k4_N4_ecb_tileable_TileOrgzBl_40nm.xml
Labels: architecture-description, tests

[doc] update for bottom-left tile organization
  docs/source/manual/file_formats/figures/tile_style_bottom_left.png
  docs/source/manual/file_formats/tile_config_file.rst
Labels: documentation

[core] now support perimeter cb in programmable clock network arch
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: openfpga-tools

[test] typo
  openfpga_flow/tasks/basic_tests/tile_organization/homo_fabric_tile_ecb_2x2_preconfig/config/task.conf
  openfpga_flow/tasks/basic_tests/tile_organization/homo_fabric_tile_ecb_2x2_preconfig/config/tile_config.xml
Labels: tests

[test] add a new testcase to validate clock network when perimeter cb is on
  openfpga_flow/openfpga_arch/k4_N4_40nm_ClkNtwk_registerable_io_cc_openfpga.xml
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_clkntwk_io_subtile/config/clk_arch_1clk_2layer.xml
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_clkntwk_io_subtile/config/task.conf
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_clkntwk_io_subtile/config/tile_config.xml
  openfpga_flow/vpr_arch/k4_N4_tileable_PerimeterCb_ClkNtwk_registerable_io_40nm.xml
Labels: architecture-description, tests

[test] typo
  openfpga_flow/vpr_arch/k4_N4_tileable_PerimeterCb_ClkNtwk_registerable_io_40nm.xml
Labels: architecture-description

[test] typo
  openfpga_flow/vpr_arch/k4_N4_tileable_PerimeterCb_ClkNtwk_registerable_io_40nm.xml
Labels: architecture-description

[test] debugging
  openfpga_flow/vpr_arch/k4_N4_tileable_PerimeterCb_ClkNtwk_registerable_io_40nm.xml
Labels: architecture-description

[test] debugging
  openfpga_flow/vpr_arch/k4_N4_tileable_PerimeterCb_ClkNtwk_registerable_io_40nm.xml
Labels: architecture-description

[test] debugging
  openfpga_flow/openfpga_arch/k4_N4_40nm_ClkNtwk_registerable_io_cc_openfpga.xml
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_clkntwk_io_subtile/config/clk_arch_1clk_2layer.xml
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_clkntwk_io_subtile/config/task.conf
  openfpga_flow/vpr_arch/k4_N4_tileable_PerimeterCb_ClkNtwk_registerable_io_40nm.xml
Labels: architecture-description, tests

[core] typo
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: openfpga-tools

[core] remove restrictions on cb clock nodes
  openfpga/src/annotation/append_clock_rr_graph.cpp
Labels: openfpga-tools

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use minimatch syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
ABC:
- changed-files:
  - any-glob-to-any-file: 'abc/*'
  - any-glob-to-any-file: 'abc/**/*'
ACE2:
- changed-files:
  - any-glob-to-any-file: 'ace2/*'
  - any-glob-to-any-file: 'ace2/**/*'
VPR:
- changed-files:
  - any-glob-to-any-file: 'vpr/*'
  - any-glob-to-any-file: 'vpr/**/*'
  - any-glob-to-any-file: 'libs/**/*'

# General areas
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*'
  - any-glob-to-any-file: 'docs/**/*'
  - any-glob-to-any-file: '*README*'
  - any-glob-to-any-file: '*.md'
  - any-glob-to-any-file: 'tutorial'
  - any-glob-to-any-file: '*.rst'
  - any-glob-to-any-file: '.readthedocs.yml'
github:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: '*docker*'
build:
- changed-files:
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'CMakeLists.txt'
  - any-glob-to-any-file: 'cmake'
libopenfpga:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/**'
libopenfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfpgabitstream/**'
libopenfpga-arch-parser:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libarchopenfpga/**'
libopenfpga-fabric-key:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libfabrickey/**'
libopenfpga-shell:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgashell/**'
libopenfpga-utils:
- changed-files:
  - any-glob-to-any-file: 'libopenfpga/libopenfpgautil/**'
openfpga-tools:
- changed-files:
  - any-glob-to-any-file: 'openfpga/**'
openfpga-verilog:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_verilog/**'
openfpga-sdc:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_sdc/**'
openfpga-bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_bitstream/**'
openfpga-spice:
- changed-files:
  - any-glob-to-any-file: 'openfpga/*/fpga_spice/**'
flow-scripts:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_shell_scripts/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_simulation_settings/**'
  - any-glob-to-any-file: 'openfpga_flow/misc/**'
architecture-description:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/vpr_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/openfpga_arch/**'
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
bitstream:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/fabric_keys/**'
cell-library:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/openfpga_cell_library/**'
  - any-glob-to-any-file: 'openfpga_flow/tech/**'
benchmarks:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/benchmarks/**'
tests:
- changed-files:
  - any-glob-to-any-file: 'openfpga_flow/tasks/**'

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: '*.v'
  - any-glob-to-any-file: '*.sv'
lang-cpp:
- changed-files:
  - any-glob-to-any-file: '*.c*'
  - any-glob-to-any-file: '*.h'
lang-perl:
- changed-files:
  - any-glob-to-any-file: '*.pl'
  - any-glob-to-any-file: '*perl*'
lang-python:
- changed-files:
  - any-glob-to-any-file: '*.py'
lang-shell:
- changed-files:
  - any-glob-to-any-file: '*.sh'
lang-netlist:
- changed-files:
  - any-glob-to-any-file: '*.blif'
  - any-glob-to-any-file: '*.eblif'
  - any-glob-to-any-file: '*.edif'
  - any-glob-to-any-file: '*.vqm'
lang-make:
- changed-files:
  - any-glob-to-any-file: '*.make'
  - any-glob-to-any-file: 'Makefile'
  - any-glob-to-any-file: 'CMakeLists.txt'
