Repository lnis-uofu/OpenFPGA, pull requests merged in 2020-12, with the labels that each got.

#160 [Git] Add labeler for pull requests
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: enhancement

#163 Dead link patch to fontpage README
  README.md
Labels: documentation

#156 Adding a testcase to run yosys quicklogic flow
  .github/workflows/basic_reg_test.sh
  openfpga_flow/misc/quicklogic_yosys_flow_ap3.ys
  openfpga_flow/openfpga_shell_scripts/quicklogic_flow_example_script.openfpga
  openfpga_flow/tasks/quicklogic_tests/flow_test/config/task.conf
  openfpga_flow/vpr_arch/k4_frac_N8_tileable_reset_softadder_register_scan_chain_nonLR_caravel_io_skywater130nm.xml
Labels: architecture-description, flow-scripts, github, tests
