Repository lnis-uofu/OpenFPGA, pull requests merged in 2021-04, with the labels that each got.

#281 Tutorials
  docs/source/tutorials/arch_modeling/figures/Control_Waveforms.pdf
  docs/source/tutorials/arch_modeling/figures/Control_Waveforms.svg
  docs/source/tutorials/arch_modeling/figures/Control_Waveforms2.svg
  docs/source/tutorials/arch_modeling/figures/Control_Waveforms3.svg
  docs/source/tutorials/arch_modeling/figures/Control_Waves.png
  docs/source/tutorials/arch_modeling/figures/Control_Waves2.png
  docs/source/tutorials/arch_modeling/figures/Custom_Waveforms.pdf
  docs/source/tutorials/arch_modeling/figures/Custom_Waveforms.svg
  docs/source/tutorials/arch_modeling/figures/Custom_Waveforms2.svg
  docs/source/tutorials/arch_modeling/figures/Custom_Waves.png
  docs/source/tutorials/arch_modeling/figures/Custom_Waves2.png
  docs/source/tutorials/arch_modeling/index.rst
  docs/source/tutorials/arch_modeling/open_cell_libraries_tutorial.rst
  docs/source/tutorials/arch_modeling/user_defined_temp_tutorial.rst
Labels: documentation

#283 Update README.md
  README.md
Labels: documentation

#285 Fabric bitstream writer supports multiple regions
  docs/source/manual/file_formats/fabric_bitstream.rst
  openfpga/src/fpga_bitstream/write_text_fabric_bitstream.cpp
  openfpga/src/fpga_bitstream/write_xml_fabric_bitstream.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga/src/utils/fabric_bitstream_utils.cpp
  openfpga/src/utils/fabric_bitstream_utils.h
Labels: documentation, openfpga-bitstream, openfpga-tools, openfpga-verilog

#286 Update generate_fabric and generate_testbench test cases
  openfpga_flow/openfpga_shell_scripts/generate_fabric_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/generate_testbench_example_script.openfpga
  openfpga_flow/tasks/basic_tests/generate_fabric/config/task.conf
  openfpga_flow/tasks/basic_tests/generate_testbench/config/task.conf
Labels: flow-scripts, tests

#287 Enriched FPGA-SDC regression tests by sweeping time units
  openfpga_flow/openfpga_shell_scripts/sdc_time_unit_example_script.openfpga
  openfpga_flow/regression_test_scripts/fpga_sdc_reg_test.sh
  openfpga_flow/tasks/fpga_sdc/sdc_time_unit/sdc_time_unit_Ms/config/task.conf
  openfpga_flow/tasks/fpga_sdc/sdc_time_unit/sdc_time_unit_as/config/task.conf
  openfpga_flow/tasks/fpga_sdc/sdc_time_unit/sdc_time_unit_default/config/task.conf
  openfpga_flow/tasks/fpga_sdc/sdc_time_unit/sdc_time_unit_fs/config/task.conf
  openfpga_flow/tasks/fpga_sdc/sdc_time_unit/sdc_time_unit_ks/config/task.conf
  openfpga_flow/tasks/fpga_sdc/sdc_time_unit/sdc_time_unit_ms/config/task.conf
  openfpga_flow/tasks/fpga_sdc/sdc_time_unit/sdc_time_unit_ns/config/task.conf
  openfpga_flow/tasks/fpga_sdc/sdc_time_unit/sdc_time_unit_ps/config/task.conf
  openfpga_flow/tasks/fpga_sdc/sdc_time_unit/sdc_time_unit_us/config/task.conf
Labels: flow-scripts, tests

#291 Support DFF with asynchronous reset in tech mapping
  openfpga_flow/benchmarks/micro_benchmark/counter_async_reset/counter.v
  openfpga_flow/benchmarks/micro_benchmark/counter_async_reset/counter_tb.v
  openfpga_flow/misc/ys_tmpl_yosys_vpr_dff_flow.ys
  openfpga_flow/openfpga_arch/README.md
  openfpga_flow/openfpga_arch/k4_frac_N4_fracff_40nm_cc_openfpga.xml
  openfpga_flow/openfpga_shell_scripts/example_without_ace_script.openfpga
  openfpga_flow/openfpga_yosys_techlib/openfpga_dff_map.v
  openfpga_flow/openfpga_yosys_techlib/openfpga_dff_sim.v
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_fracff/config/task.conf
  openfpga_flow/vpr_arch/README.md
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_fracff_40nm.xml
Labels: architecture-description, benchmarks, flow-scripts, tests

#292 Verilog testbench generator now accepts pin constraints on non-clock global ports
  libopenfpga/libpcf/src/pin_constraints.cpp
  libopenfpga/libpcf/src/pin_constraints.h
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga_flow/openfpga_shell_scripts/example_without_ace_script.openfpga
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_fracff/config/pin_constraints.xml
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_fracff/config/task.conf
Labels: flow-scripts, libopenfpga, openfpga-tools, openfpga-verilog, tests

#293 Enable correct reset stimuli in testbench generators
  libopenfpga/libpcf/src/pin_constraints.cpp
  libopenfpga/libpcf/src/pin_constraints.h
  openfpga/src/fpga_verilog/verilog_api.cpp
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.h
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.h
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga/src/utils/fabric_global_port_info_utils.cpp
  openfpga/src/utils/fabric_global_port_info_utils.h
Labels: libopenfpga, openfpga-tools, openfpga-verilog

#284 Tutorials
  docs/source/tutorials/arch_modeling/figures/ADDF_Example_Spypad.svg
  docs/source/tutorials/arch_modeling/figures/gpout_ports.png
  docs/source/tutorials/arch_modeling/figures/gpout_ports_example.png
  docs/source/tutorials/arch_modeling/figures/lut6_Example_Spypad.svg
  docs/source/tutorials/arch_modeling/figures/spyadder_waveform.png
  docs/source/tutorials/arch_modeling/figures/spypad_waveforms.png
  docs/source/tutorials/arch_modeling/index.rst
  docs/source/tutorials/arch_modeling/open_cell_libraries_tutorial.rst
  docs/source/tutorials/arch_modeling/spypads_tutorial.rst
  docs/source/tutorials/arch_modeling/user_defined_temp_tutorial.rst
Labels: documentation

#294 Support customizable default path in bitstream generation for any interconnect inside pb_type
  docs/source/manual/file_formats/bitstream_setting.rst
  libopenfpga/libarchopenfpga/src/bitstream_setting.cpp
  libopenfpga/libarchopenfpga/src/bitstream_setting.h
  libopenfpga/libarchopenfpga/src/bitstream_setting_fwd.h
  libopenfpga/libarchopenfpga/src/read_xml_bitstream_setting.cpp
  libopenfpga/libarchopenfpga/src/write_xml_bitstream_setting.cpp
  openfpga/src/annotation/annotate_bitstream_setting.cpp
  openfpga/src/annotation/annotate_bitstream_setting.h
  openfpga/src/annotation/vpr_bitstream_annotation.cpp
  openfpga/src/annotation/vpr_bitstream_annotation.h
  openfpga/src/base/openfpga_link_arch.cpp
  openfpga/src/fpga_bitstream/build_device_bitstream.cpp
  openfpga/src/fpga_bitstream/build_grid_bitstream.cpp
  openfpga/src/fpga_bitstream/build_grid_bitstream.h
  openfpga_flow/openfpga_shell_scripts/fix_device_global_tile_clock_bitstream_setting_example_script.openfpga
  openfpga_flow/regression_test_scripts/fpga_bitstream_reg_test.sh
  openfpga_flow/tasks/fpga_bitstream/overload_mux_default_path/config/bitstream_annotation.xml
  openfpga_flow/tasks/fpga_bitstream/overload_mux_default_path/config/task.conf
Labels: documentation, flow-scripts, libopenfpga, libopenfpga-arch-parser, openfpga-bitstream, openfpga-tools, tests

#295 Patches on multi-clock support in repacking stage
  docs/source/manual/file_formats/repack_design_constraints.rst
  libopenfpga/librepackdc/src/repack_design_constraints.cpp
  libopenfpga/librepackdc/src/repack_design_constraints.h
  openfpga/src/repack/repack.cpp
  openfpga_flow/benchmarks/micro_benchmark/and2_latch_2clock/and2_latch_2clock.v
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_4clock/config/task.conf
Labels: benchmarks, documentation, libopenfpga, openfpga-tools, tests

#296 Unlock flexible FF mapping and enable IWLS'2005 benchmark
  openfpga/src/base/openfpga_pb_pin_fixup.cpp
  openfpga_flow/misc/ys_tmpl_yosys_vpr_bram_dsp_dff_flow.ys
  openfpga_flow/openfpga_arch/k6_frac_N10_adder_chain_dpram8K_dsp36_fracff_40nm_openfpga.xml
  openfpga_flow/openfpga_cell_library/verilog/dff.v
  openfpga_flow/openfpga_shell_scripts/iwls_benchmark_example_script.openfpga
  openfpga_flow/openfpga_yosys_techlib/k6_frac_N10_tileable_adder_chain_dpram8K_dsp36_fracff_40nm_cell_sim.v
  openfpga_flow/openfpga_yosys_techlib/k6_frac_N10_tileable_adder_chain_dpram8K_dsp36_fracff_40nm_dff_map.v
  openfpga_flow/openfpga_yosys_techlib/openfpga_dff_sim.v
  openfpga_flow/regression_test_scripts/iwls_benchmark_reg_test.sh
  openfpga_flow/tasks/benchmark_sweep/iwls2005/config/iwls_benchmark_golden_results.csv
  openfpga_flow/tasks/benchmark_sweep/iwls2005/config/metric_checklist.csv
  openfpga_flow/tasks/benchmark_sweep/iwls2005/config/task.conf
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_adder_chain_dpram8K_dsp36_fracff_40nm.xml
Labels: architecture-description, cell-library, flow-scripts, openfpga-tools, tests

#297 Enable constant net routing for VTR benchmarks
  openfpga_flow/openfpga_shell_scripts/vtr_benchmark_example_script.openfpga
Labels: flow-scripts

#302 Update pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: github

#301 Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: github

#299 Updated compile.rst
  docs/source/tutorials/getting_started/compile.rst
Labels: documentation

#304 Tileable rr graph
  openfpga_flow/vpr_arch/k4_frac_N8_tileable_reset_softadder_register_scan_chain_dsp8_nonLR_caravel_io_skywater130nm.xml
  openfpga_flow/vpr_arch/k4_frac_N8_tileable_reset_softadder_register_scan_chain_frac_dsp16_nonLR_caravel_io_skywater130nm.xml
  vpr/src/tileable_rr_graph/tileable_rr_graph_gsb.cpp
Labels: VPR, architecture-description

#305 Test addition for FPGA architecture with multi-width DSP blocks
  openfpga_flow/regression_test_scripts/fpga_verilog_reg_test.sh
  openfpga_flow/tasks/fpga_verilog/dsp/wide_multi_mode_mult_16x16/config/task.conf
  openfpga_flow/vpr_arch/k4_frac_N8_tileable_reset_softadder_register_scan_chain_wide_frac_dsp16_nonLR_caravel_io_skywater130nm.xml
Labels: architecture-description, tests

#307 Output I/O mapping information to XML file
  docs/source/manual/file_formats/index.rst
  docs/source/manual/file_formats/io_mapping_file.rst
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_bitstream_commands.rst
  openfpga/src/base/io_map.cpp
  openfpga/src/base/io_map.h
  openfpga/src/base/io_map_fwd.h
  openfpga/src/base/openfpga_bitstream.cpp
  openfpga/src/base/openfpga_bitstream.h
  openfpga/src/base/openfpga_bitstream_command.cpp
  openfpga/src/fpga_bitstream/build_io_mapping_info.cpp
  openfpga/src/fpga_bitstream/build_io_mapping_info.h
  openfpga/src/fpga_bitstream/write_xml_io_mapping.cpp
  openfpga/src/fpga_bitstream/write_xml_io_mapping.h
  openfpga_flow/openfpga_shell_scripts/write_io_mapping_example_script.openfpga
  openfpga_flow/regression_test_scripts/fpga_bitstream_reg_test.sh
  openfpga_flow/tasks/fpga_bitstream/write_io_mapping/config/task.conf
Labels: documentation, flow-scripts, openfpga-bitstream, openfpga-tools, tests
