Repository lnis-uofu/OpenFPGA, pull requests merged in 2021-12, with the labels that each got.

#430 Updated yosys paths to copy in docker image
  .github/workflows/build.yml
  docs/source/contact.rst
Labels: documentation, github

#429 Update contact.rst
  docs/source/contact.rst
Labels: documentation

#433 Automatic PR creation for yosys-symbiflow-plugins update
  .github/dependabot.yml
Labels: github

#435 allow bitstream setting on hard blocks
  openfpga/src/fpga_bitstream/build_grid_bitstream.cpp
Labels: openfpga-tools, openfpga-bitstream

#440 Enable Yosys in dependabot
  .github/dependabot.yml
Labels: github

#439 Now CI tests will cancel previous runs
  .github/workflows/build.yml
Labels: github

#453 Patch counter
  .github/workflows/patch_updater.yml
Labels: github

#455 Added Auto PR step
  .github/workflows/patch_updater.yml
Labels: github

#459 Add version naming convention to developer guidelines
  docs/source/dev_manual/index.rst
  docs/source/dev_manual/version_number.rst
Labels: documentation
