Repository lnis-uofu/OpenFPGA, pull requests merged in 2021-02, with the labels that each got.

#214 [Cleanup] Removed deadcode
  openfpga.sh
  openfpga_flow/misc/fpgaflow_default_tool_path.conf
  openfpga_flow/scripts/run_fpga_flow.py
  openfpga_flow/scripts/run_fpga_task.py
  requirements.txt
Labels: flow-scripts, lang-shell

#212 Support overloading LUT bitstream from attributes in .eblif file format
  .github/workflows/fpga_verilog_reg_test.sh
  docs/source/manual/file_formats/bitstream_setting.rst
  docs/source/manual/file_formats/index.rst
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
  libopenfpga/libarchopenfpga/src/bitstream_setting.cpp
  libopenfpga/libarchopenfpga/src/bitstream_setting.h
  libopenfpga/libarchopenfpga/src/bitstream_setting_fwd.h
  libopenfpga/libarchopenfpga/src/openfpga_arch.h
  libopenfpga/libarchopenfpga/src/read_xml_bitstream_setting.cpp
  libopenfpga/libarchopenfpga/src/read_xml_bitstream_setting.h
  libopenfpga/libarchopenfpga/src/read_xml_openfpga_arch.cpp
  libopenfpga/libarchopenfpga/src/read_xml_openfpga_arch.h
  libopenfpga/libarchopenfpga/src/write_xml_bitstream_setting.cpp
  libopenfpga/libarchopenfpga/src/write_xml_bitstream_setting.h
  libopenfpga/libarchopenfpga/src/write_xml_openfpga_arch.cpp
  libopenfpga/libarchopenfpga/src/write_xml_openfpga_arch.h
  libopenfpga/libarchopenfpga/test/read_bitstream_setting_openfpga.cpp
  openfpga/src/annotation/annotate_bitstream_setting.cpp
  openfpga/src/annotation/annotate_bitstream_setting.h
  openfpga/src/annotation/vpr_bitstream_annotation.cpp
  openfpga/src/annotation/vpr_bitstream_annotation.h
  openfpga/src/base/openfpga_context.h
  openfpga/src/base/openfpga_link_arch.cpp
  openfpga/src/base/openfpga_read_arch.cpp
  openfpga/src/base/openfpga_read_arch.h
  openfpga/src/base/openfpga_repack.cpp
  openfpga/src/base/openfpga_setup_command.cpp
  openfpga/src/fpga_bitstream/build_grid_bitstream.cpp
  openfpga/src/repack/build_physical_truth_table.h
  openfpga/src/repack/physical_pb.cpp
  openfpga/src/repack/physical_pb.h
  openfpga/src/repack/repack.cpp
  openfpga/src/repack/repack.h
  openfpga/src/utils/physical_pb_utils.cpp
  openfpga/src/utils/physical_pb_utils.h
  openfpga_flow/benchmarks/micro_benchmark/adder_8/adder_8.act
  openfpga_flow/benchmarks/micro_benchmark/adder_8/adder_8.eblif
  openfpga_flow/benchmarks/micro_benchmark/adder_8/adder_8.v
  openfpga_flow/benchmarks/micro_benchmark/adder_8/adder_8_out.v
  openfpga_flow/benchmarks/micro_benchmark/and2/and2.eblif
  openfpga_flow/openfpga_arch/k4_frac_N8_reset_softadder_register_scan_chain_caravel_io_skywater130nm_fdhd_cc_openfpga.xml
  openfpga_flow/openfpga_cell_library/verilog/mux2.v
  openfpga_flow/openfpga_shell_scripts/bitstream_setting_example_script.openfpga
  openfpga_flow/tasks/fpga_verilog/adder/hard_adder/config/task.conf
  openfpga_flow/tasks/fpga_verilog/adder/soft_adder/config/bitstream_annotation.xml
  openfpga_flow/tasks/fpga_verilog/adder/soft_adder/config/task.conf
  openfpga_flow/vpr_arch/k4_frac_N8_tileable_reset_softadder_register_scan_chain_nonLR_caravel_io_skywater130nm.xml
Labels: architecture-description, benchmarks, cell-library, documentation, flow-scripts, github, libopenfpga, libopenfpga-arch-parser, openfpga-bitstream, openfpga-tools, tests

#215 Changed readthedocs.io dependencies link
  README.md
  docs/source/tutorials/compile.rst
Labels: documentation

#217 Synchronize the out-of-date XML syntax 'disable_in_pack' with VPR upstream
  docs/source/manual/arch_lang/addon_vpr_syntax.rst
  libs/libarchfpga/src/read_xml_arch_file.cpp
  openfpga_flow/vpr_arch/k4_N4_tileableIO_40nm.xml
  openfpga_flow/vpr_arch/k4_N4_tileable_40nm.xml
  openfpga_flow/vpr_arch/k4_N4_tileable_GlobalTile4Clk_40nm.xml
  openfpga_flow/vpr_arch/k4_N4_tileable_GlobalTileClk_40nm.xml
  openfpga_flow/vpr_arch/k4_N4_tileable_GlobalTileClk_registerable_io_40nm.xml
  openfpga_flow/vpr_arch/k4_N4_tileable_TileOrgzBr_40nm.xml
  openfpga_flow/vpr_arch/k4_N4_tileable_TileOrgzTl_40nm.xml
  openfpga_flow/vpr_arch/k4_N4_tileable_TileOrgzTr_40nm.xml
  openfpga_flow/vpr_arch/k4_N4_tileable_full_output_crossbar_40nm.xml
  openfpga_flow/vpr_arch/k4_N4_tileable_no_local_routing_40nm.xml
  openfpga_flow/vpr_arch/k4_N5_tileable_pattern_local_routing_40nm.xml
  openfpga_flow/vpr_arch/k4_fracNative_N4_tileable_40nm.xml
  openfpga_flow/vpr_arch/k4_frac_N4_40nm.xml
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_40nm.xml
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_adder_chain_40nm.xml
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_adder_chain_mem1K_40nm.xml
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_adder_chain_mem1K_L124_40nm.xml
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_adder_chain_mem1K_frac_dsp32_40nm.xml
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_lutram_40nm.xml
  openfpga_flow/vpr_arch/k4_frac_N8_tileable_register_scan_chain_nonLR_caravel_io_skywater130nm.xml
  openfpga_flow/vpr_arch/k4_frac_N8_tileable_register_scan_chain_nonLR_embedded_io_skywater130nm.xml
  openfpga_flow/vpr_arch/k4_frac_N8_tileable_reset_register_scan_chain_nonLR_caravel_io_skywater130nm.xml
  openfpga_flow/vpr_arch/k4_frac_N8_tileable_reset_softadder_register_scan_chain_nonLR_caravel_io_skywater130nm.xml
  openfpga_flow/vpr_arch/k6_N10_40nm.xml
  openfpga_flow/vpr_arch/k6_N10_tileable_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_adder_chain_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_adder_chain_mem16K_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_adder_chain_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_adder_chain_frac_mem32K_frac_dsp36_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_adder_chain_mem16K_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_adder_chain_mem16K_aib_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_adder_chain_mem16K_multi_io_capacity_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_adder_chain_mem16K_reduced_io_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_adder_chain_wide_mem16K_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_adder_register_chain_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_adder_register_scan_chain_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_adder_register_scan_chain_depop50_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_adder_register_scan_chain_depop50_spypad_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_adder_register_scan_chain_mem16K_depop50_12nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_thru_channel_adder_chain_mem16K_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_thru_channel_adder_chain_wide_mem16K_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N8_tileable_40nm.xml
  vpr/src/pack/cluster.cpp
Labels: VPR, architecture-description, documentation

#218 Add tutorial videos to Documentation
  README.md
  docs/requirements.txt
  docs/source/conf.py
  docs/source/overview/motivation.rst
  docs/source/tutorials/compile.rst
  docs/source/tutorials/design_flow/generate_fabric.rst
  docs/source/tutorials/design_flow/index.rst
  docs/source/tutorials/design_flow/verilog2verification.rst
Labels: documentation

#219 Documentation Patches on Supporting PDF builds
  docs/requirements.txt
  docs/source/conf.py
  docs/source/overview/motivation.rst
  docs/source/tutorials/compile.rst
  docs/source/tutorials/design_flow/generate_fabric.rst
Labels: documentation

#220 Support SVG in Sphinx Latex building
  .readthedocs.yml
  docs/requirements.txt
  docs/source/conf.py
  docs/source/manual/arch_lang/circuit_model_examples.rst
Labels: documentation

#222 [Flow] ACE is optional during flow script, only runs when power estimation is on
  openfpga_flow/scripts/run_fpga_flow.py
Labels: flow-scripts

#221 [Flow] Support multi-user environment for running task
  .github/workflows/basic_reg_test.sh
  openfpga_flow/scripts/run_fpga_task.py
Labels: flow-scripts, github

#224 [Docs] Added documentation for docker based run and shell shortcuts documentation
  docs/source/tutorials/compile.rst
  docs/source/tutorials/index.rst
  docs/source/tutorials/shell_shortcuts.rst
  openfpga.sh
Labels: documentation, lang-shell

#231 Extended LUT Support: Now accept external LUT netlists with embedded custom logic
  .github/workflows/fpga_verilog_reg_test.sh
  docs/source/manual/arch_lang/circuit_model_examples.rst
  docs/source/manual/arch_lang/figures/lut_arith_example.svg
  docs/source/overview/tech_highlights.rst
  libopenfpga/libarchopenfpga/src/circuit_library.cpp
  libopenfpga/libarchopenfpga/src/circuit_library.h
  libopenfpga/libarchopenfpga/src/read_xml_circuit_library.cpp
  libopenfpga/libarchopenfpga/src/write_xml_circuit_library.cpp
  openfpga/src/fabric/build_lut_modules.cpp
  openfpga/src/fabric/build_mux_modules.cpp
  openfpga/src/fpga_bitstream/build_grid_bitstream.cpp
  openfpga/src/fpga_sdc/configure_port_sdc_writer.cpp
  openfpga/src/mux_lib/mux_library_builder.cpp
  openfpga/src/repack/build_physical_truth_table.cpp
  openfpga/src/utils/circuit_library_utils.cpp
  openfpga/src/utils/circuit_library_utils.h
  openfpga_flow/benchmarks/micro_benchmark/and2/and2_frac_lut4_arith.eblif
  openfpga_flow/openfpga_arch/k4_frac_N8_reset_softadderSuperLUT_register_scan_chain_caravel_io_skywater130nm_fdhd_cc_openfpga.xml
  openfpga_flow/openfpga_cell_library/verilog/frac_lut4_arith.v
  openfpga_flow/tasks/fpga_verilog/lut_design/frac_lut4_arith/config/bitstream_annotation.xml
  openfpga_flow/tasks/fpga_verilog/lut_design/frac_lut4_arith/config/task.conf
  openfpga_flow/vpr_arch/k4_frac_N8_tileable_reset_softadderSuperLUT_register_scan_chain_nonLR_caravel_io_skywater130nm.xml
Labels: architecture-description, benchmarks, cell-library, documentation, github, libopenfpga, libopenfpga-arch-parser, openfpga-bitstream, openfpga-sdc, openfpga-tools, tests

#235 Reorganize tutorial documentation
  docs/source/tutorials/figures/eda_flow.pdf
  docs/source/tutorials/figures/frac_lut8.pdf
  docs/source/tutorials/figures/fract_lut6.pdf
  docs/source/tutorials/getting_started/compile.rst
  docs/source/tutorials/getting_started/figures/openfpga_tools.svg
  docs/source/tutorials/getting_started/index.rst
  docs/source/tutorials/getting_started/shell_shortcuts.rst
  docs/source/tutorials/getting_started/tools.rst
  docs/source/tutorials/index.rst
Labels: documentation

#236 Tpagarani dev
  openfpga_flow/openfpga_shell_scripts/quicklogic_flow_example_script.openfpga
  openfpga_flow/scripts/run_fpga_flow.py
  openfpga_flow/tasks/quicklogic_tests/flow_test/config/task.conf
Labels: flow-scripts, tests

#237 Move quicklogic regresssion tests to a dedicated CI run
  .github/workflows/build.yml
  .github/workflows/quicklogic_reg_test.sh
Labels: github

#238 Move regression test scripts from workflow to openfpga_flow
  .github/workflows/build.yml
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/regression_test_scripts/fpga_bitstream_reg_test.sh
  openfpga_flow/regression_test_scripts/fpga_sdc_reg_test.sh
  openfpga_flow/regression_test_scripts/fpga_spice_reg_test.sh
  openfpga_flow/regression_test_scripts/fpga_verilog_reg_test.sh
  openfpga_flow/regression_test_scripts/quicklogic_reg_test.sh
  openfpga_flow/scripts/run_fpga_flow.py
Labels: flow-scripts, github

#227 Standard-cell flow
  openfpga_flow/openfpga_arch/k6_frac_N10_stdcell_mux_40nm_openfpga_synthesizable.xml
  openfpga_flow/openfpga_cell_library/verilog/buf4.v
  openfpga_flow/openfpga_cell_library/verilog/inv.v
  openfpga_flow/openfpga_cell_library/verilog/or2.v
  openfpga_flow/openfpga_cell_library/verilog/tap_buf4.v
  openfpga_flow/openfpga_shell_scripts/fix_device_route_chan_width_example_script.openfpga
  openfpga_flow/scripts/run_fpga_task.py
  openfpga_flow/tasks/fpga_verilog/synthesizable_verilog/config/task.conf
Labels: architecture-description, cell-library, flow-scripts, tests

#242 [Bugfix] Docker regression using master regression scripts
  .github/workflows/build.yml
Labels: github

#248 Disabling verilog testbench generation for quicklogic tests
  openfpga_flow/openfpga_shell_scripts/quicklogic_flow_example_script.openfpga
Labels: flow-scripts

#245 Throw fatal error when the number of configurable region is different between fabric key and architecture definition
  docs/source/manual/arch_lang/config_protocol.rst
  openfpga/src/fabric/build_top_module.cpp
Labels: documentation, openfpga-tools

#253 Modifying custom yosys script file name
  openfpga_flow/misc/qlf_k4n8_yosys.ys
  openfpga_flow/misc/quicklogic_yosys_flow_ap3_adder.ys
  openfpga_flow/tasks/quicklogic_tests/counter_5clock_test/config/task.conf
  openfpga_flow/tasks/quicklogic_tests/flow_test/config/task.conf
  openfpga_flow/tasks/quicklogic_tests/sdc_controller_test/config/task.conf
Labels: flow-scripts, tests

#254 Renaming file qlf_k4n8_yosys.ys to qlf_yosys.ys
  openfpga_flow/misc/qlf_yosys.ys
  openfpga_flow/tasks/quicklogic_tests/counter_5clock_test/config/task.conf
  openfpga_flow/tasks/quicklogic_tests/flow_test/config/task.conf
  openfpga_flow/tasks/quicklogic_tests/sdc_controller_test/config/task.conf
Labels: flow-scripts, tests
