Repository lnis-uofu/OpenFPGA, pull requests merged in 2021-01, with the labels that each got.

#167 Support on Using Scan-chain Flip-flop in Configuration Chain
  .github/workflows/basic_reg_test.sh
  docs/source/manual/arch_lang/circuit_model_examples.rst
  docs/source/manual/arch_lang/figures/config_chain.svg
  docs/source/manual/arch_lang/figures/config_chain_config_enable.svg
  docs/source/manual/arch_lang/figures/config_chain_scan_capable.svg
  docs/source/manual/arch_lang/figures/scff.png
  libopenfpga/libarchopenfpga/src/check_circuit_library.cpp
  libopenfpga/libopenfpgautil/src/openfpga_reserved_words.h
  openfpga/src/base/openfpga_naming.cpp
  openfpga/src/fabric/build_memory_modules.cpp
  openfpga_flow/openfpga_arch/k4_N4_40nm_cc_cfgscff_openfpga.xml
  openfpga_flow/openfpga_cell_library/verilog/dff.v
  openfpga_flow/tasks/basic_tests/full_testbench/configuration_chain_config_enable_scff/config/task.conf
Labels: architecture-description, cell-library, documentation, github, libopenfpga, libopenfpga-arch-parser, libopenfpga-utils, openfpga-tools, tests

#172 Basic Support on Multi-Clock Fabric Netlist Generation and Testbench Generation
  .github/workflows/basic_reg_test.sh
  openfpga/src/fabric/build_top_module_connection.cpp
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.h
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga_flow/benchmarks/micro_benchmark/counter4bit_2clock/counter4bit_2clock.act
  openfpga_flow/benchmarks/micro_benchmark/counter4bit_2clock/counter4bit_2clock.blif
  openfpga_flow/benchmarks/micro_benchmark/counter4bit_2clock/counter4bit_2clock.v
  openfpga_flow/benchmarks/micro_benchmark/counter4bit_2clock/counter4bit_2clock_post_yosys.v
  openfpga_flow/benchmarks/micro_benchmark/counter4bit_2clock/counter4bit_2clock_tb.v
  openfpga_flow/openfpga_arch/README.md
  openfpga_flow/openfpga_arch/k4_N4_40nm_GlobalTile4Clk_cc_openfpga.xml
  openfpga_flow/openfpga_shell_scripts/global_tile_clock_example_script.openfpga
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_4clock/config/task.conf
  openfpga_flow/vpr_arch/README.md
  openfpga_flow/vpr_arch/k4_N4_tileable_GlobalTile4Clk_40nm.xml
Labels: architecture-description, benchmarks, flow-scripts, github, openfpga-tools, openfpga-verilog, tests

#173 Support Multiple Clock Definition in Testbench and SDC Generators
  docs/source/manual/arch_lang/annotate_vpr_arch.rst
  docs/source/manual/arch_lang/circuit_library.rst
  docs/source/manual/arch_lang/simulation_setting.rst
  libopenfpga/libarchopenfpga/src/read_xml_simulation_setting.cpp
  libopenfpga/libarchopenfpga/src/simulation_setting.cpp
  libopenfpga/libarchopenfpga/src/simulation_setting.h
  libopenfpga/libarchopenfpga/src/simulation_setting_fwd.h
  libopenfpga/libarchopenfpga/src/write_xml_simulation_setting.cpp
  libopenfpga/libarchopenfpga/src/write_xml_tile_annotation.cpp
  libopenfpga/libarchopenfpga/src/write_xml_utils.cpp
  libopenfpga/libarchopenfpga/src/write_xml_utils.h
  openfpga/src/annotation/annotate_simulation_setting.cpp
  openfpga/src/base/openfpga_sdc.cpp
  openfpga/src/fpga_sdc/analysis_sdc_writer.cpp
  openfpga/src/fpga_sdc/pnr_sdc_global_port.cpp
  openfpga/src/fpga_sdc/pnr_sdc_global_port.h
  openfpga/src/fpga_sdc/pnr_sdc_writer.cpp
  openfpga/src/fpga_sdc/pnr_sdc_writer.h
  openfpga/src/fpga_verilog/verilog_api.cpp
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga_flow/openfpga_simulation_settings/fixed_4clock_sim_openfpga.xml
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_4clock/config/task.conf
Labels: documentation, flow-scripts, libopenfpga, libopenfpga-arch-parser, openfpga-sdc, openfpga-tools, openfpga-verilog, tests

#174 Support Design Constraints for Repack
  docs/source/manual/fpga_bitstream/index.rst
  docs/source/manual/fpga_bitstream/repack_design_constraints.rst
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_bitstream_commands.rst
  libopenfpga/CMakeLists.txt
  libopenfpga/librepackdc/CMakeLists.txt
  libopenfpga/librepackdc/dc_example/repack_design_constraint_example.xml
  libopenfpga/librepackdc/src/read_xml_repack_design_constraints.cpp
  libopenfpga/librepackdc/src/read_xml_repack_design_constraints.h
  libopenfpga/librepackdc/src/repack_design_constraints.cpp
  libopenfpga/librepackdc/src/repack_design_constraints.h
  libopenfpga/librepackdc/src/repack_design_constraints_fwd.h
  libopenfpga/librepackdc/src/write_xml_repack_design_constraints.cpp
  libopenfpga/librepackdc/src/write_xml_repack_design_constraints.h
  libopenfpga/librepackdc/test/test_repack_design_constraints.cpp
  openfpga/CMakeLists.txt
  openfpga/src/base/openfpga_bitstream_command.cpp
  openfpga/src/base/openfpga_repack.cpp
  openfpga/src/repack/repack.cpp
  openfpga/src/repack/repack.h
  openfpga_flow/openfpga_shell_scripts/global_tile_multiclock_example_script.openfpga
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_4clock/config/repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_4clock/config/task.conf
Labels: documentation, flow-scripts, libopenfpga, openfpga-tools, tests

#175 Pin Constraint Support in Testbench Generation
  docs/source/manual/file_formats/index.rst
  docs/source/manual/file_formats/pin_constraints_file.rst
  docs/source/manual/index.rst
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_verilog_commands.rst
  libopenfpga/CMakeLists.txt
  libopenfpga/libpcf/CMakeLists.txt
  libopenfpga/libpcf/example/fpga_io_nets.xml
  libopenfpga/libpcf/src/pin_constraints.cpp
  libopenfpga/libpcf/src/pin_constraints.h
  libopenfpga/libpcf/src/pin_constraints_fwd.h
  libopenfpga/libpcf/src/read_xml_pin_constraints.cpp
  libopenfpga/libpcf/src/read_xml_pin_constraints.h
  libopenfpga/libpcf/src/write_xml_pin_constraints.cpp
  libopenfpga/libpcf/src/write_xml_pin_constraints.h
  libopenfpga/libpcf/test/test_xml_pcf.cpp
  openfpga/CMakeLists.txt
  openfpga/src/base/openfpga_verilog.cpp
  openfpga/src/base/openfpga_verilog_command.cpp
  openfpga/src/fpga_verilog/verilog_api.cpp
  openfpga/src/fpga_verilog/verilog_api.h
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.h
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.cpp
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.h
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.h
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench.h
  openfpga_flow/openfpga_shell_scripts/global_tile_multiclock_example_script.openfpga
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_4clock/config/pin_constraints.xml
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_4clock/config/task.conf
Labels: documentation, flow-scripts, libopenfpga, openfpga-tools, openfpga-verilog, tests

#182 Add OpenFPGA version display
  libopenfpga/libopenfpgautil/CMakeLists.txt
  libopenfpga/libopenfpgautil/cmake/modules/configure_version.cmake
  libopenfpga/libopenfpgautil/src/openfpga_version.cpp.in
  libopenfpga/libopenfpgautil/src/openfpga_version.h
  openfpga/src/base/openfpga_title.cpp
Labels: libopenfpga, libopenfpga-utils, openfpga-tools

#179 Avoid to output initial signal for general-purpose output ports of FPGA fabrics in Verilog testbenches
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
Labels: openfpga-tools, openfpga-verilog

#184 Support batch mode when executing OpenFPGA commands
  docs/source/manual/openfpga_shell/launch_openfpga_shell.rst
  libopenfpga/libopenfpgashell/src/shell.h
  libopenfpga/libopenfpgashell/src/shell.tpp
  openfpga/src/main.cpp
Labels: documentation, libopenfpga, libopenfpga-shell, openfpga-tools

#176 Documentation Formatting
  docs/source/manual/arch_lang/fabric_key.rst
  docs/source/manual/file_formats/architecture_bitstream.rst
  docs/source/manual/file_formats/fabric_bitstream.rst
  docs/source/manual/file_formats/fabric_key.rst
  docs/source/manual/file_formats/index.rst
  docs/source/manual/file_formats/pin_constraints_file.rst
  docs/source/manual/file_formats/repack_design_constraints.rst
  docs/source/manual/fpga_bitstream/fabric_dependent_bitstream.rst
  docs/source/manual/fpga_bitstream/generic_bitstream.rst
  docs/source/manual/fpga_bitstream/index.rst
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_bitstream_commands.rst
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_sdc_commands.rst
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_verilog_commands.rst
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
Labels: documentation

#164 GitHub action optimizations
  .dockerignore
  .github/workflows/build.yml
  .github/workflows/build_old.yml
  .github/workflows/docker.yml
  .github/workflows/install_dependencies_build.sh
  .github/workflows/install_dependencies_run.sh
  .github/workflows/install_dependency_old.sh
  .github/workflows/labeler.yml
  .gitignore
  docker/Dockerfile.base
  docker/Dockerfile.clang-6.0
  docker/Dockerfile.clang-8
  docker/Dockerfile.env
  docker/Dockerfile.gcc-5
  docker/Dockerfile.gcc-6
  docker/Dockerfile.gcc-7
  docker/Dockerfile.gcc-8
  docker/Dockerfile.gcc-9
  docker/Dockerfile.master
Labels: github

#186 Typo fix on documentation about option ``--generate_random_fabric_key``
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
Labels: documentation

#189 Update figures in documentation about OpenFPGA framework
  docs/source/manual/arch_lang/config_protocol.rst
  docs/source/overview/figures/fpga_verilog_motivation.png
  docs/source/overview/figures/fpga_verilog_motivation.svg
  docs/source/overview/figures/openfpga_flow.png
  docs/source/overview/figures/openfpga_framework.svg
  docs/source/overview/motivation.rst
  docs/source/tutorials/figures/openfpga_tools.png
  docs/source/tutorials/figures/openfpga_tools.svg
  docs/source/tutorials/tools.rst
Labels: documentation

#190 [Docs] Added CI/CD docs
  docs/source/dev_manual/ci_cd_setup/index.rst
  docs/source/dev_manual/index.rst
  docs/source/index.rst
Labels: documentation

#191 Upgrade Python3 to python 3.8
  .dockerignore
  .github/workflows/basic_reg_test.sh
  .github/workflows/build.yml
  .github/workflows/build_old.yml
  .github/workflows/fpga_bitstream_reg_test.sh
  .github/workflows/fpga_sdc_reg_test.sh
  .github/workflows/fpga_spice_reg_test.sh
  .github/workflows/fpga_verilog_reg_test.sh
  .github/workflows/install_dependencies_run.sh
  docker/Dockerfile.env
  openfpga_flow/scripts/run_fpga_task.py
Labels: flow-scripts, github

#192 Removing unused files from the repo
  .travis.yml
  .travis/after_failure.sh
  .travis/after_success.sh
  .travis/basic_reg_test.sh
  .travis/build.sh
  .travis/common.sh
  .travis/fpga_bitstream_reg_test.sh
  .travis/fpga_sdc_reg_test.sh
  .travis/fpga_spice_reg_test.sh
  .travis/fpga_verilog_reg_test.sh
  .travis/install.sh
  deploy_key.enc
  run_local.bat
  run_local.sh
Labels: lang-shell

#194 Removing old dockerfile
  Dockerfile
Labels: docker

#196 [Bugfix] failing docker build + push on master branch
  .github/workflows/build.yml
Labels: github

#199 Version Echo of OpenFPGA Shell
  docs/source/manual/openfpga_shell/launch_openfpga_shell.rst
  docs/source/manual/openfpga_shell/openfpga_commands/basic_commands.rst
  openfpga/src/base/basic_command.cpp
  openfpga/src/base/openfpga_title.cpp
  openfpga/src/base/openfpga_title.h
  openfpga/src/main.cpp
Labels: documentation, openfpga-tools

#200 Microbenchmarks of Single-Port RAM and Associated Example Architecture Files as well as Test Cases
  .github/workflows/basic_reg_test.sh
  openfpga_flow/benchmarks/micro_benchmark/asyn_spram_4x1/asyn_spram_4x1.act
  openfpga_flow/benchmarks/micro_benchmark/asyn_spram_4x1/asyn_spram_4x1.blif
  openfpga_flow/benchmarks/micro_benchmark/asyn_spram_4x1/asyn_spram_4x1.v
  openfpga_flow/benchmarks/micro_benchmark/syn_spram_4x1/syn_spram_4x1.act
  openfpga_flow/benchmarks/micro_benchmark/syn_spram_4x1/syn_spram_4x1.blif
  openfpga_flow/benchmarks/micro_benchmark/syn_spram_4x1/syn_spram_4x1.v
  openfpga_flow/openfpga_arch/k4_frac_N4_lutram_40nm_cc_openfpga.xml
  openfpga_flow/openfpga_cell_library/verilog/spram_4x1.v
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_lutram/config/task.conf
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_lutram_40nm.xml
Labels: architecture-description, benchmarks, cell-library, github, tests

#202 Bug fix on Docker build and upload on master
  .dockerignore
  .github/workflows/build.yml
  docker/Dockerfile.master
Labels: github

#205 [CICD] Checking master branch in change_detect
  .github/workflows/build.yml
Labels: github

#203 Remove the hard requirement on signal activity file
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
  openfpga/src/annotation/annotate_simulation_setting.cpp
  openfpga/src/base/openfpga_context.h
  openfpga/src/base/openfpga_link_arch.cpp
  openfpga/src/base/openfpga_setup_command.cpp
  openfpga_flow/openfpga_shell_scripts/global_tile_multiclock_example_script.openfpga
Labels: documentation, flow-scripts, openfpga-tools

#206 [CICD] Added SHA tag to docker build image
  .github/workflows/build.yml
Labels: github

#207 Checking complete flow of build.yml from non master branch
  .github/workflows/build.yml
Labels: github
