Repository lnis-uofu/OpenFPGA, pull requests merged in 2021-07, with the labels that each got.

#353 Bug fix on the reset stimuli generator
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.cpp
Labels: openfpga-tools, openfpga-verilog

#327 added configuration benchmark files
  openfpga_flow/benchmarks/micro_benchmark/config_loader/bitstream_loader.v
  openfpga_flow/benchmarks/micro_benchmark/config_loader/configuration_manager.v
  openfpga_flow/benchmarks/micro_benchmark/signal_gen/clock_divider.v
  openfpga_flow/benchmarks/micro_benchmark/signal_gen/pulse_generator.v
  openfpga_flow/benchmarks/micro_benchmark/signal_gen/reset_generator.v
  openfpga_flow/regression_test_scripts/micro_benchmark_reg_test.sh
  openfpga_flow/tasks/benchmark_sweep/signal_gen/config/task.conf
Labels: benchmarks, tests

#354 [Flow] Allows benchmark specific Variable declaration
  openfpga_flow/scripts/run_fpga_task.py
Labels: flow-scripts

#356 [WIP] Support custom default value in Pin Constraint File
  docs/source/manual/file_formats/pin_constraints_file.rst
  libopenfpga/libpcf/src/pin_constraints.cpp
  libopenfpga/libpcf/src/pin_constraints.h
  libopenfpga/libpcf/src/read_xml_pin_constraints.cpp
  libopenfpga/libpcf/src/write_xml_pin_constraints.cpp
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
Labels: documentation, libopenfpga, openfpga-tools, openfpga-verilog

#358 Testcase for benchmark specific variables
  openfpga_flow/scripts/run_fpga_task.py
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_4clock/config/task.conf
Labels: flow-scripts, tests

#359 Add Test Cases for the Signal Polarity Support in Pin Constraint Files
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.h
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga_flow/benchmarks/micro_benchmark/counter4bit_2clock/counter4bit_2clock.act
  openfpga_flow/benchmarks/micro_benchmark/counter4bit_2clock/counter4bit_2clock.blif
  openfpga_flow/benchmarks/micro_benchmark/counter4bit_2clock/counter4bit_2clock_post_yosys.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_128bit_async_reset/counter.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_128bit_async_reset/counter_tb.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_128bit_async_resetb/counter.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_128bit_async_resetb/counter_tb.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_4bit_2clock/counter_4bit_2clock.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_4bit_2clock/counter_4bit_2clock_tb.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_8bit_async_reset/counter.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_8bit_async_reset/counter_tb.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_8bit_async_resetb/counter.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_8bit_async_resetb/counter_tb.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_8bit_sync_reset/counter.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_8bit_sync_reset/counter_tb.v
  openfpga_flow/openfpga_arch/k4_frac_N4_fracff_40nm_cc_openfpga.xml
  openfpga_flow/openfpga_cell_library/verilog/dff.v
  openfpga_flow/openfpga_yosys_techlib/openfpga_dff_map.v
  openfpga_flow/openfpga_yosys_techlib/openfpga_dff_sim.v
  openfpga_flow/scripts/run_fpga_task.py
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_4clock/config/task.conf
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_fracff/config/pin_constraints_reset.xml
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_fracff/config/pin_constraints_resetb.xml
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_fracff/config/task.conf
  openfpga_flow/tasks/benchmark_sweep/counter/config/task.conf
  openfpga_flow/tasks/fpga_verilog/verilog_netlist_formats/implicit_verilog/config/task.conf
  openfpga_flow/tasks/fpga_verilog/verilog_netlist_formats/implicit_verilog_default_nettype_wire/config/task.conf
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_fracff_40nm.xml
Labels: architecture-description, benchmarks, cell-library, flow-scripts, openfpga-tools, openfpga-verilog, tests
