Repository lnis-uofu/OpenFPGA, pull requests merged in 2021-11, with the labels that each got.

#402 Adding Yosys+Verific support.
  docs/source/manual/openfpga_flow/run_fpga_flow.rst
  docs/source/manual/openfpga_flow/run_fpga_task.rst
  openfpga_flow/benchmarks/micro_benchmark/and2/and2_verific.blif
  openfpga_flow/benchmarks/micro_benchmark/and2_latch/and2_latch_verific.blif
  openfpga_flow/benchmarks/micro_benchmark/or2/or2_verific.blif
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/scripts/run_fpga_flow.py
  openfpga_flow/scripts/run_fpga_task.py
  openfpga_flow/tasks/basic_tests/verific_test/config/task.conf
Labels: documentation, flow-scripts, tests, benchmarks

#420 Enable all quicklogic tests
  openfpga_flow/tasks/quicklogic_tests/flow_test/config/task.conf
Labels: tests

#425 Address: Compilation fails on Manjaro
  libs/EXTERNAL/libargparse/src/argparse.cpp
Labels: VPR

#426 added in CMakeList.txt to check if yosys binary already exist to avoi…
  CMakeLists.txt
Labels: build, lang-make
