Repository lnis-uofu/OpenFPGA, pull requests merged in 2021-03, with the labels that each got.

#252 Add QuickLogic LUT adder test case
  libopenfpga/libarchopenfpga/src/circuit_library.cpp
  openfpga/src/repack/repack.cpp
  openfpga_flow/openfpga_arch/k4_frac_N8_reset_softadderSuperLUT_register_scan_chain_caravel_io_skywater130nm_fdhd_cc_openfpga.xml
  openfpga_flow/openfpga_shell_scripts/bitstream_setting_example_script.openfpga
  openfpga_flow/regression_test_scripts/quicklogic_reg_test.sh
  openfpga_flow/tasks/quicklogic_tests/lut_adder_test/config/bitstream_annotation.xml
  openfpga_flow/tasks/quicklogic_tests/lut_adder_test/config/task.conf
  openfpga_flow/vpr_arch/k4_frac_N8_tileable_reset_softadderSuperLUT_register_scan_chain_nonLR_caravel_io_skywater130nm.xml
Labels: architecture-description, flow-scripts, libopenfpga, libopenfpga-arch-parser, openfpga-tools, tests

#260 [CI/CD] Skipped container login if branch is not master
  .github/workflows/build.yml
Labels: github

#262 Added variable YOSYS_MODE, YOSYS_FAMILY in ys script to dynamically p…
  openfpga_flow/misc/qlf_yosys.ys
  openfpga_flow/scripts/run_fpga_flow.py
  openfpga_flow/tasks/quicklogic_tests/counter_5clock_test/config/task.conf
  openfpga_flow/tasks/quicklogic_tests/flow_test/config/task.conf
  openfpga_flow/tasks/quicklogic_tests/lut_adder_test/config/task.conf
Labels: flow-scripts, tests

#265 add shift register test case
  openfpga_flow/benchmarks/quicklogic_tests/shift_reg_8192/rtl/shift_reg_8192.v
Labels: benchmarks

#257 GSB dump enhancement
  .github/workflows/build.yml
  openfpga/src/annotation/write_xml_device_rr_gsb.cpp
Labels: github, openfpga-tools

#266 [Task/Flow] Extended Yosys support in OpenFPGA task
  docs/source/manual/arch_lang/annotate_vpr_arch.rst
  docs/source/manual/file_formats/bitstream_setting.rst
  libopenfpga/libarchopenfpga/src/bitstream_setting.cpp
  libopenfpga/libarchopenfpga/src/bitstream_setting.h
  libopenfpga/libarchopenfpga/src/read_xml_bitstream_setting.cpp
  libopenfpga/libarchopenfpga/src/write_xml_bitstream_setting.cpp
  openfpga/src/annotation/annotate_bitstream_setting.cpp
  openfpga/src/annotation/vpr_bitstream_annotation.cpp
  openfpga/src/annotation/vpr_bitstream_annotation.h
  openfpga/src/fpga_bitstream/build_grid_bitstream.cpp
  openfpga/src/repack/physical_pb.cpp
  openfpga/src/repack/physical_pb.h
  openfpga/src/utils/physical_pb_utils.cpp
  openfpga_flow/misc/qlf_yosys.ys
  openfpga_flow/misc/ys_tmpl_rewrite_flow.ys
  openfpga_flow/misc/ys_tmpl_yosys_vpr_flow_with_rewrite.ys
  openfpga_flow/openfpga_arch/k4_frac_N8_reset_softadderSuperLUT_register_scan_chain_caravel_io_skywater130nm_fdhd_cc_openfpga.xml
  openfpga_flow/openfpga_cell_library/verilog/frac_lut4_arith.v
  openfpga_flow/scripts/run_fpga_flow.py
  openfpga_flow/scripts/run_fpga_task.py
  openfpga_flow/tasks/quicklogic_tests/lut_adder_test/config/bitstream_annotation.xml
  openfpga_flow/tasks/quicklogic_tests/lut_adder_test/config/task.conf
Labels: architecture-description, cell-library, documentation, flow-scripts, libopenfpga, libopenfpga-arch-parser, openfpga-bitstream, openfpga-tools, tests

#270 Name grid module pins in Verilog netlist with architecture port defintion
  openfpga/src/annotation/annotate_physical_tiles.cpp
  openfpga/src/annotation/annotate_physical_tiles.h
  openfpga/src/annotation/vpr_device_annotation.cpp
  openfpga/src/annotation/vpr_device_annotation.h
  openfpga/src/base/openfpga_link_arch.cpp
  openfpga/src/base/openfpga_naming.cpp
  openfpga/src/base/openfpga_naming.h
  openfpga/src/fabric/build_device_module.cpp
  openfpga/src/fabric/build_grid_module_duplicated_pins.cpp
  openfpga/src/fabric/build_grid_module_duplicated_pins.h
  openfpga/src/fabric/build_grid_module_utils.cpp
  openfpga/src/fabric/build_grid_module_utils.h
  openfpga/src/fabric/build_grid_modules.cpp
  openfpga/src/fabric/build_routing_module_utils.cpp
  openfpga/src/fabric/build_routing_module_utils.h
  openfpga/src/fabric/build_routing_modules.cpp
  openfpga/src/fabric/build_top_module.cpp
  openfpga/src/fabric/build_top_module.h
  openfpga/src/fabric/build_top_module_connection.cpp
  openfpga/src/fabric/build_top_module_connection.h
  openfpga/src/fabric/build_top_module_directs.cpp
  openfpga/src/fabric/build_top_module_directs.h
  openfpga/src/fpga_sdc/analysis_sdc_routing_writer.cpp
  openfpga/src/fpga_sdc/analysis_sdc_routing_writer.h
  openfpga/src/fpga_sdc/analysis_sdc_writer.cpp
  openfpga/src/fpga_sdc/pnr_sdc_routing_writer.cpp
  openfpga/src/fpga_sdc/pnr_sdc_routing_writer.h
  openfpga/src/fpga_sdc/pnr_sdc_writer.cpp
  openfpga/src/fpga_verilog/verilog_writer_utils.cpp
Labels: openfpga-sdc, openfpga-tools, openfpga-verilog

#272 Yosys heterogeneous block support
  .github/workflows/build.yml
  openfpga_flow/benchmarks/vtr_benchmark/LU32PEEng.v
  openfpga_flow/benchmarks/vtr_benchmark/LU64PEEng.v
  openfpga_flow/benchmarks/vtr_benchmark/LU8PEEng.v
  openfpga_flow/benchmarks/vtr_benchmark/arm_core.v
  openfpga_flow/benchmarks/vtr_benchmark/bgm.v
  openfpga_flow/benchmarks/vtr_benchmark/blob_merge.v
  openfpga_flow/benchmarks/vtr_benchmark/boundtop.v
  openfpga_flow/benchmarks/vtr_benchmark/ch_intrinsics.v
  openfpga_flow/benchmarks/vtr_benchmark/diffeq1.v
  openfpga_flow/benchmarks/vtr_benchmark/diffeq2.v
  openfpga_flow/benchmarks/vtr_benchmark/matmul_8x8_fp16.v
  openfpga_flow/benchmarks/vtr_benchmark/mcml.v
  openfpga_flow/benchmarks/vtr_benchmark/mkDelayWorker32B.v
  openfpga_flow/benchmarks/vtr_benchmark/mkPktMerge.v
  openfpga_flow/benchmarks/vtr_benchmark/mkSMAdapter4B.v
  openfpga_flow/benchmarks/vtr_benchmark/or1200.v
  openfpga_flow/benchmarks/vtr_benchmark/raygentop.v
  openfpga_flow/benchmarks/vtr_benchmark/sha.v
  openfpga_flow/benchmarks/vtr_benchmark/spree.v
  openfpga_flow/benchmarks/vtr_benchmark/stereovision0.v
  openfpga_flow/benchmarks/vtr_benchmark/stereovision1.v
  openfpga_flow/benchmarks/vtr_benchmark/stereovision2.v
  openfpga_flow/benchmarks/vtr_benchmark/stereovision3.v
  openfpga_flow/benchmarks/vtr_benchmark/tpu.16x16.int8.v
  openfpga_flow/benchmarks/vtr_benchmark/tpu.32x32.int8.v
  openfpga_flow/misc/yosys_bram_adder_template.ys
  openfpga_flow/misc/ys_tmpl_yosys_vpr_bram_flow.ys
  openfpga_flow/openfpga_arch/k6_frac_N10_adder_chain_dpram8K_40nm_openfpga.xml
  openfpga_flow/openfpga_cell_library/verilog/dpram8k.v
  openfpga_flow/openfpga_shell_scripts/vtr_benchmark_example_script.openfpga
  openfpga_flow/openfpga_yosys_techlib/k6_frac_N10_tileable_adder_chain_dpram8K_40nm_bram.txt
  openfpga_flow/openfpga_yosys_techlib/k6_frac_N10_tileable_adder_chain_dpram8K_40nm_bram_map.v
  openfpga_flow/openfpga_yosys_techlib/k6_frac_N10_tileable_adder_chain_dpram8K_40nm_cell_sim.v
  openfpga_flow/openfpga_yosys_techlib/openfpga_adders_sim.v
  openfpga_flow/openfpga_yosys_techlib/openfpga_arith_map.v
  openfpga_flow/openfpga_yosys_techlib/openfpga_brams.txt
  openfpga_flow/openfpga_yosys_techlib/openfpga_brams_map.v
  openfpga_flow/openfpga_yosys_techlib/openfpga_brams_sim.v
  openfpga_flow/regression_test_scripts/vtr_benchmark_reg_test.sh
  openfpga_flow/scripts/run_fpga_flow.py
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_bram/config/task.conf
  openfpga_flow/tasks/benchmark_sweep/vtr_benchmarks/config/task.conf
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_adder_chain_dpram8K_40nm.xml
Labels: architecture-description, benchmarks, cell-library, flow-scripts, github, tests

#275 Yosys heterogeneous block support on DSP block
  openfpga_flow/benchmarks/vtr_benchmark/LU32PEEng.v
  openfpga_flow/benchmarks/vtr_benchmark/LU8PEEng.v
  openfpga_flow/benchmarks/vtr_benchmark/boundtop.v
  openfpga_flow/benchmarks/vtr_benchmark/mcml.v
  openfpga_flow/benchmarks/vtr_benchmark/mkDelayWorker32B.v
  openfpga_flow/benchmarks/vtr_benchmark/mkPktMerge.v
  openfpga_flow/benchmarks/vtr_benchmark/mkSMAdapter4B.v
  openfpga_flow/benchmarks/vtr_benchmark/or1200.v
  openfpga_flow/benchmarks/vtr_benchmark/raygentop.v
  openfpga_flow/misc/fpgaflow_default_tool_path.conf
  openfpga_flow/misc/ys_tmpl_yosys_vpr_bram_dsp_flow.ys
  openfpga_flow/openfpga_arch/k6_frac_N10_adder_chain_dpram8K_dsp36_40nm_openfpga.xml
  openfpga_flow/openfpga_shell_scripts/vtr_benchmark_example_script.openfpga
  openfpga_flow/openfpga_yosys_techlib/k6_frac_N10_tileable_adder_chain_dpram8K_dsp36_40nm_bram.txt
  openfpga_flow/openfpga_yosys_techlib/k6_frac_N10_tileable_adder_chain_dpram8K_dsp36_40nm_bram_map.v
  openfpga_flow/openfpga_yosys_techlib/k6_frac_N10_tileable_adder_chain_dpram8K_dsp36_40nm_cell_sim.v
  openfpga_flow/openfpga_yosys_techlib/k6_frac_N10_tileable_adder_chain_dpram8K_dsp36_40nm_dsp_map.v
  openfpga_flow/regression_test_scripts/vtr_benchmark_reg_test.sh
  openfpga_flow/scripts/check_qor.py
  openfpga_flow/tasks/benchmark_sweep/vtr_benchmarks/config/metric_checklist.csv
  openfpga_flow/tasks/benchmark_sweep/vtr_benchmarks/config/task.conf
  openfpga_flow/tasks/benchmark_sweep/vtr_benchmarks/config/vtr_benchmark_golden_results.csv
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_adder_chain_dpram8K_dsp36_40nm.xml
  openfpga_flow/vpr_arch/k6_frac_N10_tileable_adder_register_scan_chain_mem16K_depop50_12nm.xml
Labels: architecture-description, benchmarks, flow-scripts, tests

#277 Support Verilog-to-Verification for heterogeneous FPGA
  openfpga_flow/benchmarks/micro_benchmark/mac_8/mac_8.v
  openfpga_flow/misc/ys_tmpl_yosys_vpr_dsp_flow.ys
  openfpga_flow/openfpga_arch/k4_frac_N8_reset_softadder_register_scan_chain_dsp8_caravel_io_skywater130nm_fdhd_cc_openfpga.xml
  openfpga_flow/openfpga_cell_library/verilog/mult_8x8.v
  openfpga_flow/openfpga_shell_scripts/fix_heterogeneous_device_example_script.openfpga
  openfpga_flow/openfpga_yosys_techlib/k4_frac_N8_tileable_reset_softadder_register_scan_chain_dsp8_nonLR_caravel_io_skywater130nm_cell_sim.v
  openfpga_flow/openfpga_yosys_techlib/k4_frac_N8_tileable_reset_softadder_register_scan_chain_dsp8_nonLR_caravel_io_skywater130nm_dsp_map.v
  openfpga_flow/regression_test_scripts/fpga_verilog_reg_test.sh
  openfpga_flow/tasks/fpga_verilog/dsp/single_mode_mult_8x8/config/task.conf
  openfpga_flow/vpr_arch/k4_frac_N8_tileable_reset_softadder_register_scan_chain_dsp8_nonLR_caravel_io_skywater130nm.xml
Labels: architecture-description, benchmarks, cell-library, flow-scripts, tests

#274 Tutorials
  docs/source/tutorials/arch_modeling/figures/Error_log.png
  docs/source/tutorials/arch_modeling/figures/modified_arch_file.png
  docs/source/tutorials/arch_modeling/figures/modified_user_defined_templates_file.png
  docs/source/tutorials/arch_modeling/index.rst
  docs/source/tutorials/arch_modeling/user_defined_temp_tutorial.rst
Labels: documentation

#271 Patch the schematic of LUT circuit models to be consistent with netlists
  docs/source/manual/arch_lang/figures/frac_lut3_example.svg
  docs/source/manual/arch_lang/figures/single_lut3_example.svg
Labels: documentation
