Repository lnis-uofu/OpenFPGA, pull requests merged in 2021-06, with the labels that each got.

#317 Patch FPGA-SDC to consider time unit in global port timing constraints
  openfpga/src/fpga_sdc/pnr_sdc_global_port.cpp
  openfpga/src/fpga_sdc/pnr_sdc_global_port.h
  openfpga/src/fpga_sdc/pnr_sdc_writer.cpp
Labels: openfpga-sdc, openfpga-tools

#320 Preliminary support on full testbench generator using external bitstream file
  docs/source/manual/file_formats/fabric_bitstream.rst
  docs/source/manual/fpga_verilog/figures/full_testbench_block_diagram.svg
  docs/source/manual/fpga_verilog/figures/full_testbench_waveform.svg
  docs/source/manual/fpga_verilog/figures/verilog_testbench_organization.png
  docs/source/manual/fpga_verilog/testbench.rst
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_verilog_commands.rst
  openfpga/src/base/openfpga_verilog.cpp
  openfpga/src/base/openfpga_verilog.h
  openfpga/src/base/openfpga_verilog_command.cpp
  openfpga/src/fpga_verilog/verilog_api.cpp
  openfpga/src/fpga_verilog/verilog_api.h
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench.h
  openfpga/src/fpga_verilog/verilog_writer_utils.cpp
  openfpga/src/fpga_verilog/verilog_writer_utils.h
  openfpga_flow/openfpga_shell_scripts/write_full_testbench_example_script.openfpga
  openfpga_flow/tasks/basic_tests/full_testbench/configuration_chain/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/multi_region_configuration_chain/config/task.conf
Labels: documentation, flow-scripts, openfpga-tools, openfpga-verilog, tests

#321 Support fast configuration in bitstream writer and full testbench that reads external bitstream file
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_bitstream_commands.rst
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_verilog_commands.rst
  openfpga/src/base/openfpga_bitstream.cpp
  openfpga/src/base/openfpga_bitstream_command.cpp
  openfpga/src/base/openfpga_verilog.cpp
  openfpga/src/base/openfpga_verilog_command.cpp
  openfpga/src/fpga_bitstream/fast_configuration.cpp
  openfpga/src/fpga_bitstream/fast_configuration.h
  openfpga/src/fpga_bitstream/write_text_fabric_bitstream.cpp
  openfpga/src/fpga_bitstream/write_text_fabric_bitstream.h
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.h
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga_flow/openfpga_shell_scripts/write_full_testbench_example_script.openfpga
  openfpga_flow/tasks/basic_tests/full_testbench/configuration_chain/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/configuration_chain_config_enable_scff/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/configuration_chain_use_reset/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/configuration_chain_use_resetb/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/configuration_chain_use_set/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/configuration_chain_use_set_reset/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/configuration_chain_use_setb/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/fast_configuration_chain/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/fast_configuration_chain_use_set/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/multi_region_configuration_chain/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/smart_fast_configuration_chain/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/smart_fast_multi_region_configuration_chain/config/task.conf
Labels: documentation, flow-scripts, openfpga-bitstream, openfpga-tools, openfpga-verilog, tests

#323 Support frame-based configuration protocol in bitstream writer and full testbench that reads external bitstream file
  docs/source/manual/file_formats/fabric_bitstream.rst
  openfpga/src/fpga_bitstream/write_text_fabric_bitstream.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga_flow/tasks/basic_tests/full_testbench/configuration_frame/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/configuration_frame_ccff/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/configuration_frame_scff/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/configuration_frame_use_reset/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/configuration_frame_use_resetb/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/configuration_frame_use_set/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/configuration_frame_use_set_reset/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/configuration_frame_use_setb/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/fast_configuration_frame/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/fast_configuration_frame_use_set/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/multi_region_configuration_frame/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/smart_fast_configuration_frame/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/smart_fast_multi_region_configuration_frame/config/task.conf
Labels: documentation, openfpga-bitstream, openfpga-tools, openfpga-verilog, tests

#324 Support memory bank configuration protocol in bitstream writer and full testbench that reads external bitstream file
  docs/source/manual/file_formats/fabric_bitstream.rst
  openfpga/src/fpga_bitstream/write_text_fabric_bitstream.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga_flow/tasks/basic_tests/full_testbench/fast_memory_bank/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/fast_memory_bank_use_set/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/memory_bank/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/memory_bank_use_reset/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/memory_bank_use_resetb/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/memory_bank_use_set/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/memory_bank_use_set_reset/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/memory_bank_use_setb/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/multi_region_memory_bank/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/smart_fast_memory_bank/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/smart_fast_multi_region_memory_bank/config/task.conf
Labels: documentation, openfpga-bitstream, openfpga-tools, openfpga-verilog, tests

#325 Support flatten configuration protocol in bitstream writer and full testbench that reads external bitstream file
  openfpga/src/fpga_bitstream/write_text_fabric_bitstream.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga_flow/tasks/basic_tests/full_testbench/flatten_memory/config/task.conf
Labels: openfpga-bitstream, openfpga-tools, openfpga-verilog, tests

#326 Create new commands in place of the multi-functional ``write_verilog_testbench`` command
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_verilog_commands.rst
  openfpga/src/base/openfpga_verilog.cpp
  openfpga/src/base/openfpga_verilog.h
  openfpga/src/base/openfpga_verilog_command.cpp
  openfpga/src/fpga_verilog/verilog_api.cpp
  openfpga/src/fpga_verilog/verilog_api.h
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench.h
  openfpga_flow/openfpga_shell_scripts/behavioral_verilog_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/bitstream_setting_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/configuration_chain_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/custom_fabric_netlist_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/duplicated_grid_pin_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/example_without_ace_script.openfpga
  openfpga_flow/openfpga_shell_scripts/fast_configuration_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/fix_device_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/fix_device_global_tile_clock_bitstream_setting_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/fix_device_global_tile_clock_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/fix_device_route_chan_width_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/fix_heterogeneous_device_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/flatten_routing_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/full_testbench_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/generate_secure_fabric_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/generate_secure_fabric_from_key_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/generate_testbench_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/global_tile_clock_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/global_tile_multiclock_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/implicit_verilog_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/iverilog_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/load_external_arch_bitstream_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/mcnc_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/skywater_tapeout_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/verilog_default_net_type_example_script.openfpga
  openfpga_flow/tasks/basic_tests/fixed_device_support/config/task.conf
  openfpga_flow/tasks/fpga_verilog/power_gated_design/power_gated_inverter/config/task.conf
  openfpga_flow/tasks/fpga_verilog/verilog_netlist_formats/synthesizable_verilog/config/task.conf
Labels: documentation, flow-scripts, openfpga-tools, openfpga-verilog, tests

#328 Support ``default_net_type`` customization in Verilog testbench generator
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_verilog_commands.rst
  openfpga/src/base/openfpga_verilog.cpp
  openfpga/src/base/openfpga_verilog_command.cpp
  openfpga/src/fpga_verilog/verilog_api.cpp
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.h
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.cpp
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.h
  openfpga/src/fpga_verilog/verilog_testbench_options.cpp
  openfpga/src/fpga_verilog/verilog_testbench_options.h
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga_flow/openfpga_shell_scripts/behavioral_verilog_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/implicit_verilog_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/verilog_default_net_type_example_script.openfpga
Labels: documentation, flow-scripts, openfpga-tools, openfpga-verilog

#331 Adding tutorial video and updating several pages to fix grammar and spelling
  docs/source/overview/motivation.rst
  docs/source/overview/tech_highlights.rst
  docs/source/tutorials/arch_modeling/open_cell_libraries_tutorial.rst
  docs/source/tutorials/arch_modeling/user_defined_temp_tutorial.rst
  docs/source/tutorials/getting_started/compile.rst
  docs/source/tutorials/getting_started/shell_shortcuts.rst
Labels: documentation

#334 Update fix_device_route_chan_width_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/fix_device_route_chan_width_example_script.openfpga
Labels: flow-scripts

#335 Openfpga flow script outputs detailed error message when task directory is not found
  openfpga_flow/scripts/run_fpga_task.py
Labels: flow-scripts

#338 Support benchmarks with same top module names in openfpga flow script
  openfpga_flow/scripts/run_fpga_task.py
Labels: flow-scripts

#337 Write io mapping
  libopenfpga/libopenfpgautil/src/openfpga_reserved_words.h
  openfpga/src/base/openfpga_bitstream.cpp
  openfpga/src/fabric/build_top_module_connection.cpp
  openfpga/src/fpga_bitstream/build_io_mapping_info.cpp
  openfpga/src/fpga_bitstream/build_io_mapping_info.h
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.h
Labels: libopenfpga, libopenfpga-utils, openfpga-bitstream, openfpga-tools, openfpga-verilog

#269 Patch wrong paths in FPGA-SDC
  openfpga/src/fpga_sdc/analysis_sdc_writer_utils.cpp
  openfpga/src/fpga_sdc/pnr_sdc_grid_writer.cpp
Labels: openfpga-sdc, openfpga-tools

#340 Signal initialization HDL codes will not be outputted unless specified in the command-line option
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_verilog_commands.rst
  openfpga/src/base/openfpga_verilog.cpp
  openfpga/src/base/openfpga_verilog_command.cpp
  openfpga/src/fpga_verilog/verilog_auxiliary_netlists.cpp
  openfpga/src/fpga_verilog/verilog_constants.h
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
Labels: documentation, openfpga-tools, openfpga-verilog

#341 Update Simulation Exchangeable Information Writer
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_verilog_commands.rst
  openfpga/src/base/openfpga_verilog.cpp
  openfpga/src/base/openfpga_verilog_command.cpp
  openfpga/src/fpga_verilog/verilog_api.cpp
  openfpga/src/fpga_verilog/verilog_simulation_info_writer.cpp
  openfpga/src/fpga_verilog/verilog_simulation_info_writer.h
  openfpga/src/fpga_verilog/verilog_testbench_options.cpp
  openfpga/src/fpga_verilog/verilog_testbench_options.h
Labels: documentation, openfpga-tools, openfpga-verilog

#342 New option ``--embed_bitstream`` for Preconfigured fabric wrapper in place of ``--support_icarus_simulator``
  docs/source/manual/fpga_verilog/testbench.rst
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_verilog_commands.rst
  openfpga/src/base/openfpga_verilog.cpp
  openfpga/src/base/openfpga_verilog_command.cpp
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.cpp
  openfpga/src/fpga_verilog/verilog_testbench_options.cpp
  openfpga/src/fpga_verilog/verilog_testbench_options.h
  openfpga_flow/openfpga_shell_scripts/behavioral_verilog_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/bitstream_setting_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/configuration_chain_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/duplicated_grid_pin_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/example_without_ace_script.openfpga
  openfpga_flow/openfpga_shell_scripts/fix_device_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/fix_device_global_tile_clock_bitstream_setting_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/fix_device_global_tile_clock_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/fix_device_route_chan_width_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/fix_heterogeneous_device_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/flatten_routing_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/generate_secure_fabric_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/generate_secure_fabric_from_key_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/generate_testbench_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/global_tile_clock_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/global_tile_multiclock_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/implicit_verilog_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/iverilog_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/mcnc_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/rename_scripts.sh
  openfpga_flow/openfpga_shell_scripts/skywater_tapeout_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/verilog_default_net_type_example_script.openfpga
Labels: documentation, flow-scripts, openfpga-tools, openfpga-verilog

#343 Bug fix in Preconfigured Fabric Wrapper Generator
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.cpp
  openfpga_flow/openfpga_shell_scripts/preconfig_fabric_example_script.openfpga
  openfpga_flow/regression_test_scripts/fpga_verilog_reg_test.sh
  openfpga_flow/tasks/fpga_verilog/verilog_netlist_formats/embed_bitstream_modelsim/config/task.conf
  openfpga_flow/tasks/fpga_verilog/verilog_netlist_formats/embed_bitstream_none/config/task.conf
Labels: flow-scripts, openfpga-tools, openfpga-verilog, tests

#345 Remove the hardcoded factor when computing simulation timing
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_simulation_info_writer.cpp
  openfpga/src/utils/simulation_utils.cpp
  openfpga/src/utils/simulation_utils.h
Labels: openfpga-tools, openfpga-verilog

#347 Use ``force`` in preconfigured testbenches to avoid instrusive code modification on flip-flop HDL
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.cpp
  openfpga_flow/openfpga_cell_library/verilog/dff.v
Labels: cell-library, openfpga-tools, openfpga-verilog

#349 More micro benchmarks on adder
  openfpga_flow/benchmarks/micro_benchmark/adder/adder_16/adder_16.v
  openfpga_flow/benchmarks/micro_benchmark/adder/adder_4/adder_4.v
  openfpga_flow/benchmarks/micro_benchmark/adder/adder_6/adder_6.v
  openfpga_flow/benchmarks/micro_benchmark/adder/adder_8/adder_8.act
  openfpga_flow/benchmarks/micro_benchmark/adder/adder_8/adder_8.eblif
  openfpga_flow/benchmarks/micro_benchmark/adder/adder_8/adder_8.v
  openfpga_flow/benchmarks/micro_benchmark/adder/adder_8/adder_8_out.v
  openfpga_flow/tasks/quicklogic_tests/lut_adder_test/config/task.conf
Labels: benchmarks, tests
