Repository lnis-uofu/OpenFPGA, pull requests merged in 2022-10, with the labels that each got.

#835 Update k6_frac_N10_adder_chain_frac_mem32K_frac_dsp36_40nm_openfpga.xml
  openfpga_flow/openfpga_arch/k6_frac_N10_adder_chain_frac_mem32K_frac_dsp36_40nm_openfpga.xml
Labels: architecture-description

#839 Update frac_mem_32k.v
  openfpga_flow/openfpga_cell_library/verilog/frac_mem_32k.v
Labels: cell-library

#845 Multiple improvements on I/O constraint support
  CMakeLists.txt
  docs/source/manual/file_formats/pin_table_file.rst
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
  libs/libpcf/src/io/read_csv_io_pin_table.cpp
  libs/libpcf/src/io/read_csv_io_pin_table.h
  libs/libpcf/test/test_csv_io_pin_table.cpp
  libs/libpcf/test/test_pcf2place.cpp
  openfpga/src/base/openfpga_pcf2place.cpp
  openfpga/src/base/openfpga_setup_command.cpp
  openfpga_flow/openfpga_shell_scripts/pin_constrain_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/io_constraints/empty_pcf/config/and2.pcf
  openfpga_flow/tasks/basic_tests/io_constraints/empty_pcf/config/fpga_io_location.xml
  openfpga_flow/tasks/basic_tests/io_constraints/empty_pcf/config/pinmap_k4_N4_tileable_40nm.csv
  openfpga_flow/tasks/basic_tests/io_constraints/empty_pcf/config/task.conf
  openfpga_flow/tasks/basic_tests/io_constraints/example_pcf/config/and2.pcf
  openfpga_flow/tasks/basic_tests/io_constraints/example_pcf/config/fpga_io_location.xml
  openfpga_flow/tasks/basic_tests/io_constraints/example_pcf/config/pinmap_k4_N4_tileable_40nm.csv
  openfpga_flow/tasks/basic_tests/io_constraints/example_pcf/config/task.conf
  openfpga_flow/tasks/basic_tests/io_constraints/fix_pins/config/and2_fix_pins.place
  openfpga_flow/tasks/basic_tests/io_constraints/fix_pins/config/task.conf
  openfpga_flow/tasks/basic_tests/io_constraints/pcf_ql_style/config/and2.pcf
  openfpga_flow/tasks/basic_tests/io_constraints/pcf_ql_style/config/fpga_io_location.xml
  openfpga_flow/tasks/basic_tests/io_constraints/pcf_ql_style/config/pinmap_k4_N4_tileable_40nm.csv
  openfpga_flow/tasks/basic_tests/io_constraints/pcf_ql_style/config/task.conf
Labels: documentation, build, lang-make, flow-scripts, tests, openfpga-tools, VPR

#851 Added new cell library for fracturable dsp36
  openfpga_flow/openfpga_cell_library/verilog/frac_mult_36x36.v
Labels: cell-library

#852 Pcf hotfix - Avoid key collision when validating pcf data
  libs/libpcf/src/base/pcf_data.cpp
Labels: VPR

#849 Update frac_mem_32k.v
  openfpga_flow/openfpga_cell_library/verilog/frac_mem_32k.v
Labels: cell-library

#864 Update dpram16k.v, dpram_2048x8.v, and dpram1k.v
  openfpga_flow/openfpga_cell_library/verilog/dpram.v
  openfpga_flow/openfpga_cell_library/verilog/dpram16k.v
  openfpga_flow/openfpga_cell_library/verilog/dpram1k.v
  openfpga_flow/openfpga_cell_library/verilog/dpram_2048x8.v
Labels: cell-library
