Repository lnis-uofu/OpenFPGA, pull requests merged in 2022-07, with the labels that each got.

#716 VPR: netlist writer: sdf: don't escape '[' and ']' chars for black boxes
  vpr/src/base/netlist_writer.cpp
Labels: VPR

#722 Fixes for VPR timing node remapping
  vpr/src/base/atom_lookup.cpp
  vpr/src/base/atom_lookup.h
  vpr/src/timing/timing_graph_builder.cpp
  vpr/src/timing/timing_graph_builder.h
Labels: VPR

#725 Update compile.rst to avoid confusion in https://github.com/lnis-uofu/OpenFPGA/issues/724
  docs/source/tutorials/getting_started/compile.rst
Labels: documentation

#728 Update unit test data.
  libopenfpga/libpinconstrain/data/and2.pcf
  libopenfpga/libpinconstrain/data/pinmap_k4_N4_tileable_40nm.csv
  libopenfpga/libpinconstrain/data/pinmap_k4_N4_tileable_40nm.xml
  libopenfpga/libpinconstrain/data/pinmap_qlf_k6n10_tsmc22.csv
  libopenfpga/libpinconstrain/data/pinmap_qlf_k6n10_tsmc22.xml
  libopenfpga/libpinconstrain/data/simple_pic.blif
  libopenfpga/libpinconstrain/data/simple_pic_cstr_pin.pcf
  libopenfpga/libpinconstrain/test/test0/and2.pcf
  libopenfpga/libpinconstrain/test/test0/simple_pic_cstr_pin.pcf
  libopenfpga/libpinconstrain/test/test0/simple_pic_run.openfpga
  libopenfpga/libpinconstrain/test/test1/simple_pic_cstr_pin.pcf
  libopenfpga/libpinconstrain/test/test1/simple_pic_run.openfpga
  libopenfpga/libpinconstrain/test/test2/simple_pic_cstr_pin.pcf
  libopenfpga/libpinconstrain/test/test2/simple_pic_run.openfpga
  libopenfpga/libpinconstrain/test/test3/simple_pic_run.openfpga
Labels: libopenfpga

#731 Now OpenFPGA can output I/O location information to an XML file
  docs/source/manual/file_formats/io_info_file.rst
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
  openfpga/src/base/io_location_map.cpp
  openfpga/src/base/io_location_map.h
  openfpga/src/base/openfpga_build_fabric.cpp
  openfpga/src/base/openfpga_build_fabric.h
  openfpga/src/base/openfpga_setup_command.cpp
  openfpga_flow/openfpga_shell_scripts/generate_fabric_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/no_time_stamp_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/preconfigured_testbench_no_time_stamp_example_script.openfpga
Labels: documentation, flow-scripts, openfpga-tools
