Repository lnis-uofu/OpenFPGA, pull requests merged in 2022-05, with the labels that each got.

#632 Added Binder interface
  Dockerfile
  README.md
Labels: documentation, docker

#635 Added create-task shortcut in openfpga shell scripts
  Dockerfile
  README.md
  docs/source/tutorials/getting_started/shell_shortcuts.rst
  openfpga.sh
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/template_tasks/vpr_blif_template/arch/openfpga_arch.xml
  openfpga_flow/tasks/template_tasks/vpr_blif_template/arch/vpr_arch.xml
  openfpga_flow/tasks/template_tasks/vpr_blif_template/config/task.conf
  openfpga_flow/tasks/template_tasks/vpr_blif_template/example_script.openfpga
  openfpga_flow/tasks/template_tasks/vpr_blif_template/micro_benchmark/and2/and2.act
  openfpga_flow/tasks/template_tasks/vpr_blif_template/micro_benchmark/and2/and2.blif
  openfpga_flow/tasks/template_tasks/vpr_blif_template/micro_benchmark/and2/and2.eblif
  openfpga_flow/tasks/template_tasks/vpr_blif_template/micro_benchmark/and2/and2.v
  openfpga_flow/tasks/template_tasks/vpr_blif_template/micro_benchmark/and2/and2_frac_lut4_arith.eblif
  openfpga_flow/tasks/template_tasks/vpr_blif_template/micro_benchmark/and2/and2_verific.blif
  openfpga_flow/tasks/template_tasks/vpr_blif_template/micro_benchmark/blinking/blinking.v
  openfpga_flow/tasks/template_tasks/yosys_vpr_template/arch/openfpga_arch.xml
  openfpga_flow/tasks/template_tasks/yosys_vpr_template/arch/vpr_arch.xml
  openfpga_flow/tasks/template_tasks/yosys_vpr_template/config/task.conf
  openfpga_flow/tasks/template_tasks/yosys_vpr_template/example_script.openfpga
  openfpga_flow/tasks/template_tasks/yosys_vpr_template/micro_benchmark/and2/and2.act
  openfpga_flow/tasks/template_tasks/yosys_vpr_template/micro_benchmark/and2/and2.blif
  openfpga_flow/tasks/template_tasks/yosys_vpr_template/micro_benchmark/and2/and2.eblif
  openfpga_flow/tasks/template_tasks/yosys_vpr_template/micro_benchmark/and2/and2.v
  openfpga_flow/tasks/template_tasks/yosys_vpr_template/micro_benchmark/and2/and2_frac_lut4_arith.eblif
  openfpga_flow/tasks/template_tasks/yosys_vpr_template/micro_benchmark/and2/and2_verific.blif
  openfpga_flow/tasks/template_tasks/yosys_vpr_template/micro_benchmark/blinking/blinking.v
Labels: documentation, tests, lang-shell, docker

#637 Added option to copy example projects
  .gitignore
  Dockerfile
  docs/source/tutorials/getting_started/shell_shortcuts.rst
  openfpga.sh
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
Labels: documentation, lang-shell, docker

#642 Skipped large fabric_independent_bitstream.xml writing in CI
  openfpga_flow/openfpga_shell_scripts/iwls_benchmark_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/quicklogic_flow_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/vtr_benchmark_example_script.openfpga
  openfpga_flow/tasks/benchmark_sweep/vtr_benchmarks/config/task.conf
Labels: flow-scripts, tests

#643 Minor enhancements in openfpga.sh script
  openfpga.sh
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/template_tasks/vtr_benchmarks_template/config/task.conf
  openfpga_flow/tasks/template_tasks/vtr_benchmarks_template/k6_N10_tileable_dpram8K_dsp36_40nm.xml
  openfpga_flow/tasks/template_tasks/vtr_benchmarks_template/k6_frac_N10_tileable_adder_chain_dpram8K_dsp36_40nm.xml
  openfpga_flow/tasks/template_tasks/vtr_benchmarks_template/vtr_benchmark_template_script.openfpga
Labels: tests, lang-shell

#647 Support Negative Edge Flip-flop
  .github/workflows/cell_lib_test.yml
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_8bit_negedge_async_reset/counter.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_8bit_negedge_async_reset/counter_tb.v
  openfpga_flow/openfpga_arch/README.md
  openfpga_flow/openfpga_arch/k4_frac_N4_fracff2edge_40nm_cc_openfpga.xml
  openfpga_flow/openfpga_cell_library/Makefile
  openfpga_flow/openfpga_cell_library/verilog/dff.v
  openfpga_flow/openfpga_cell_library/verilog_sources.f
  openfpga_flow/openfpga_yosys_techlib/openfpga_dff_map.v
  openfpga_flow/openfpga_yosys_techlib/openfpga_dff_sim.v
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_fracff2edge/config/pin_constraints_reset.xml
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_fracff2edge/config/task.conf
  openfpga_flow/vpr_arch/README.md
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_fracff2edge_40nm.xml
Labels: github, tests, architecture-description, cell-library, benchmarks

#651 Updated documentation on how to execute with docker
  README.md
  docs/source/tutorials/getting_started/compile.rst
  openfpga_flow/scripts/run_fpga_task.py
Labels: documentation, flow-scripts

#654 Added user to the docker image
  .github/workflows/install_dependencies_run.sh
  docker/Dockerfile.master
Labels: github

#660 Now Version is in a separated file `VERSION.md`
  .github/workflows/patch_updater.yml
  CMakeLists.txt
  README.md
  VERSION.md
  docs/source/VERSION.md
  docs/source/conf.py
Labels: documentation, github, build, lang-make

#659 Hotfix on regression test scripts and documentation
  .github/workflows/build.yml
  docker/Dockerfile.master
  docs/source/dev_manual/index.rst
  docs/source/dev_manual/regression_tests.rst
  openfpga.sh
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/regression_test_scripts/basic_reg_yosys_only_test.sh
  openfpga_flow/regression_test_scripts/fpga_bitstream_reg_test.sh
  openfpga_flow/regression_test_scripts/fpga_sdc_reg_test.sh
  openfpga_flow/regression_test_scripts/fpga_spice_reg_test.sh
  openfpga_flow/regression_test_scripts/fpga_verilog_reg_test.sh
  openfpga_flow/regression_test_scripts/iwls_benchmark_reg_test.sh
  openfpga_flow/regression_test_scripts/micro_benchmark_reg_test.sh
  openfpga_flow/regression_test_scripts/quicklogic_reg_test.sh
  openfpga_flow/regression_test_scripts/vtr_benchmark_reg_test.sh
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/and2_formal_random_top_tb.v
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/and2_top_formal_verification.v
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/bitstream_distribution.xml
Labels: documentation, github, tests, lang-shell

#662 Fixing docker based regression test
  .github/workflows/build.yml
Labels: github
