Repository lnis-uofu/OpenFPGA, pull requests merged in 2022-08, with the labels that each got.

#739 add <array> include to fix compilation issues on Windows (MinGW x64 g++)
  libopenfpga/libpcf/src/base/io_location_map.h
  libopenfpga/libpcf/src/base/io_net_place.h
Labels: libopenfpga

#751 Enhanced GSB writer with more flexibility
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
  openfpga/src/annotation/rr_gsb_writer_option.cpp
  openfpga/src/annotation/rr_gsb_writer_option.h
  openfpga/src/annotation/write_xml_device_rr_gsb.cpp
  openfpga/src/annotation/write_xml_device_rr_gsb.h
  openfpga/src/base/openfpga_setup_command.cpp
  openfpga/src/base/openfpga_write_gsb.cpp
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/write_gsb/write_gsb_to_xml_exclude_cbx/config/task.conf
  openfpga_flow/tasks/basic_tests/write_gsb/write_gsb_to_xml_exclude_cbx_cby/config/task.conf
  openfpga_flow/tasks/basic_tests/write_gsb/write_gsb_to_xml_exclude_cby/config/task.conf
  openfpga_flow/tasks/basic_tests/write_gsb/write_gsb_to_xml_exclude_rr_info/config/task.conf
  openfpga_flow/tasks/basic_tests/write_gsb/write_gsb_to_xml_exclude_sb/config/task.conf
  openfpga_flow/tasks/basic_tests/write_gsb/write_gsb_to_xml_exclude_sb_cbx/config/task.conf
  openfpga_flow/tasks/basic_tests/write_gsb/write_gsb_to_xml_exclude_sb_cby/config/task.conf
  openfpga_flow/tasks/basic_tests/write_gsb/write_gsb_to_xml_include_sb_cbx_cby/config/task.conf
  openfpga_flow/tasks/basic_tests/write_gsb/write_gsb_to_xml_include_single_cbx/config/task.conf
  openfpga_flow/tasks/basic_tests/write_gsb/write_gsb_to_xml_include_single_cby/config/task.conf
  openfpga_flow/tasks/basic_tests/write_gsb/write_gsb_to_xml_include_single_sb/config/task.conf
Labels: documentation, tests, openfpga-tools

#755 [engine] fixed a bug which causes errors when writing unique GSB to f…
  openfpga/src/annotation/write_xml_device_rr_gsb.cpp
Labels: openfpga-tools
