Repository lnis-uofu/OpenFPGA, pull requests merged in 2022-09, with the labels that each got.

#759 [test] now no timestamp test case covers gsb files
  openfpga_flow/openfpga_shell_scripts/no_time_stamp_example_script.openfpga
  openfpga_flow/tasks/basic_tests/no_time_stamp/config/task.conf
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/and2_include_netlists.v
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/fabric_io_location.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/fabric_netlists.v
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml/cbx_0__0_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml/cbx_0__1_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml/cbx_1__0_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml/cbx_1__1_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml/cby_0__1_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml/cby_0__2_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml/cby_1__1_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml/cby_1__2_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml/sb_0__0_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml/sb_0__1_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml/sb_1__0_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml/sb_1__1_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml_no_rr_info/cbx_0__0_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml_no_rr_info/cbx_0__1_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml_no_rr_info/cbx_1__0_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml_no_rr_info/cbx_1__1_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml_no_rr_info/cby_0__1_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml_no_rr_info/cby_0__2_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml_no_rr_info/cby_1__1_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml_no_rr_info/cby_1__2_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml_no_rr_info/sb_0__0_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml_no_rr_info/sb_0__1_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml_no_rr_info/sb_1__0_.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/gsb_xml_no_rr_info/sb_1__1_.xml
Labels: flow-scripts, tests

#760 Bitstream encoding - Resolve the limitation in support large FPGA devices using memory bank protocols
  openfpga/src/fabric/build_top_module.cpp
  openfpga/src/fpga_bitstream/fabric_bitstream.cpp
  openfpga/src/fpga_bitstream/fabric_bitstream.h
  openfpga_flow/regression_test_scripts/fpga_bitstream_reg_test.sh
  openfpga_flow/tasks/fpga_bitstream/generate_bitstream/ql_memory_bank_shift_register/device_72x72/config/task.conf
  openfpga_flow/vpr_arch/k4_N4_tileable_40nm.xml
Labels: tests, architecture-description, openfpga-tools, openfpga-bitstream

#762 add <array> declaration to fix gcc error
  openfpga/src/annotation/rr_gsb_writer_option.cpp
Labels: openfpga-tools

#766 Now switch_id is no longer a metric to fail GSB mirrorable functions but circuit model is.
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/base/openfpga_context.h
  openfpga/src/utils/rr_gsb_utils.cpp
  openfpga/src/utils/rr_gsb_utils.h
  vpr/src/tileable_rr_graph/rr_chan.cpp
  vpr/src/tileable_rr_graph/rr_chan.h
  vpr/src/tileable_rr_graph/rr_gsb.cpp
  vpr/src/tileable_rr_graph/rr_gsb.h
Labels: openfpga-tools, VPR

#775 Subtile syntax
  docs/source/manual/arch_lang/addon_vpr_syntax.rst
  libs/libarchfpga/src/read_xml_arch_file.cpp
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_custom_io_loc/config/task.conf
  openfpga_flow/vpr_arch/README.md
  openfpga_flow/vpr_arch/k4_N4_tileable_customIoLoc_40nm.xml
Labels: documentation, tests, architecture-description, VPR

#780 Test reset signal from a global network to drive an LUT input
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_bitstream_commands.rst
  openfpga/src/base/openfpga_bitstream_command.cpp
  openfpga/src/base/openfpga_repack.cpp
  openfpga/src/repack/repack.cpp
  openfpga/src/repack/repack.h
  openfpga/src/repack/repack_option.cpp
  openfpga/src/repack/repack_option.h
  openfpga_flow/benchmarks/micro_benchmark/rst_on_lut/rst_on_lut.v
  openfpga_flow/openfpga_shell_scripts/ignore_global_nets_on_pins_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_rstOnLut/config/pin_constraints_reset.xml
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_rstOnLut/config/task.conf
  openfpga_flow/vpr_arch/README.md
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_fracff_rstOnLut_40nm.xml
Labels: documentation, flow-scripts, tests, architecture-description, openfpga-tools, benchmarks

#785 Support I/Os in the center of the FPGA fabric
  openfpga/src/fabric/build_fabric_io_location_map.cpp
  openfpga/src/fabric/build_grid_modules.cpp
  openfpga/src/fabric/build_top_module.cpp
  openfpga/src/fabric/build_top_module_directs.cpp
  openfpga/src/fabric/build_top_module_memory.cpp
  openfpga/src/fabric/build_top_module_memory_bank.cpp
  openfpga/src/fabric/module_manager.cpp
  openfpga/src/fabric/module_manager.h
  openfpga/src/utils/module_manager_utils.cpp
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_custom_io_loc/config/task.conf
  openfpga_flow/vpr_arch/k4_N4_tileable_customIoLoc_40nm.xml
Labels: tests, architecture-description, openfpga-tools

#792 Now I/O indexing follows a natural way (clockwise) throughout the fabric.
  openfpga/src/fabric/build_top_module.cpp
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/scripts/io_sequence_visualizer.py
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_custom_io_loc_center/config/task.conf
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_custom_io_loc_center_height_odd/config/task.conf
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_custom_io_loc_center_width_odd/config/task.conf
  openfpga_flow/vpr_arch/k4_N4_tileable_customIoLoc_40nm.xml
Labels: flow-scripts, tests, architecture-description, openfpga-tools

#800 [test] Now git diff in basic regression tests should capture the changes on golden outputs
  openfpga_flow/openfpga_arch/README.md
  openfpga_flow/openfpga_arch/k4_N4_40nm_cc_abspath_openfpga.xml
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_1x1/config/task.conf
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_1x1/golden_outputs_no_time_stamp/fabric_netlists.v
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_1x1/golden_outputs_no_time_stamp/fpga_top.v
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/config/task.conf
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/golden_outputs_no_time_stamp/fabric_netlists.v
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/golden_outputs_no_time_stamp/fpga_top.v
  openfpga_flow/vpr_arch/k4_N4_tileable_customIoLoc_40nm.xml
Labels: tests, architecture-description

#806 Updated readme, breaking changes in v1.2, and instruction to use v1.1
  README.md
Labels: documentation

#810 Options to compile the codebase partially
  .github/workflows/build.yml
  CMakeLists.txt
  docs/source/tutorials/getting_started/compile.rst
Labels: documentation, github, build, lang-make

#817 Add a new test case to ensure that repack can handle wire lut properly
  openfpga_flow/benchmarks/micro_benchmark/clk_gate/clk_gate.blif
  openfpga_flow/benchmarks/micro_benchmark/clk_gate/clk_gate.v
  openfpga_flow/openfpga_shell_scripts/wire_lut_example_script.openfpga
  openfpga_flow/regression_test_scripts/fpga_bitstream_reg_test.sh
  openfpga_flow/tasks/fpga_bitstream/repack_wire_lut_strong/config/pin_constraints.xml
  openfpga_flow/tasks/fpga_bitstream/repack_wire_lut_strong/config/task.conf
  openfpga_flow/vpr_arch/k4_frac_N1_tileable_fracff_40nm.xml
Labels: flow-scripts, tests, architecture-description, benchmarks
