Repository lnis-uofu/OpenFPGA, pull requests merged in 2022-03, with the labels that each got.

#564 Post layout netlist
  vpr/src/base/netlist_writer.cpp
Labels: VPR

#580 Post layout
  vpr/src/base/netlist_writer.cpp
Labels: VPR

#588 Now port/wire names uses "__" to avoid collision FPGA global ports
  .github/workflows/install_dependencies_build.sh
  openfpga/src/fpga_verilog/verilog_top_testbench_constants.h
Labels: github, openfpga-tools, openfpga-verilog

#592 fix openfpga_digest functions to work on WIN32(MinGW-w64-g++)
  libopenfpga/libopenfpgautil/src/openfpga_digest.cpp
Labels: libopenfpga, libopenfpga-utils

#594 Now fabric generator supports a global port from partial bits of physical tile ports
  docs/source/manual/arch_lang/annotate_vpr_arch.rst
  openfpga/src/fabric/build_top_module_connection.cpp
  openfpga_flow/openfpga_arch/README.md
  openfpga_flow/openfpga_arch/k4_N4_40nm_GlobalTile4ClkPin_cc_openfpga.xml
  openfpga_flow/openfpga_shell_scripts/global_tile_multiclock_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_4clock_pin/config/and2_latch_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_4clock_pin/config/and2_latch_repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_4clock_pin/config/counter_2clock_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_4clock_pin/config/counter_2clock_repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_4clock_pin/config/task.conf
Labels: documentation, flow-scripts, tests, architecture-description, openfpga-tools

#600 Fix a small typo to trigger the CI flow.
  docs/source/manual/arch_lang/addon_vpr_syntax.rst
Labels: documentation
