Repository lnis-uofu/OpenFPGA, pull requests merged in 2022-02, with the labels that each got.

#511 Now Verilog Testbench Generator has a new option ``--use_relative_path``
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_verilog_commands.rst
  openfpga/src/base/openfpga_verilog.cpp
  openfpga/src/base/openfpga_verilog_command.cpp
  openfpga/src/fpga_verilog/verilog_auxiliary_netlists.cpp
  openfpga/src/fpga_verilog/verilog_auxiliary_netlists.h
  openfpga/src/fpga_verilog/verilog_testbench_options.cpp
  openfpga/src/fpga_verilog/verilog_testbench_options.h
  openfpga_flow/openfpga_shell_scripts/preconfigured_testbench_relative_path_example_script.openfpga
  openfpga_flow/regression_test_scripts/fpga_verilog_reg_test.sh
  openfpga_flow/scripts/run_fpga_flow.py
  openfpga_flow/tasks/fpga_verilog/verilog_netlist_formats/preconfig_testbench_use_relative_path/config/task.conf
Labels: documentation, flow-scripts, tests, openfpga-tools, openfpga-verilog

#526 Now preconfigured top-level module has the same port name as reference benchmarks
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.h
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
Labels: openfpga-tools, openfpga-verilog

#528 Now the shared input ports in top-level testbench has a dedicated postfix (except clock ports)
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.h
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench_constants.h
Labels: openfpga-tools, openfpga-verilog

#529 Enable comprehensive tests for counter benchmarks
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.h
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga_flow/openfpga_shell_scripts/full_testbench_example_without_ace_script.openfpga
  openfpga_flow/regression_test_scripts/micro_benchmark_reg_test.sh
  openfpga_flow/tasks/benchmark_sweep/counter128/config/task.conf
  openfpga_flow/tasks/benchmark_sweep/counter8/config/pin_constraints_reset.xml
  openfpga_flow/tasks/benchmark_sweep/counter8/config/pin_constraints_resetb.xml
  openfpga_flow/tasks/benchmark_sweep/counter8/config/pin_constraints_rst.xml
  openfpga_flow/tasks/benchmark_sweep/counter8/config/task.conf
  openfpga_flow/tasks/benchmark_sweep/counter8_full_testbench/config/pin_constraints_reset.xml
  openfpga_flow/tasks/benchmark_sweep/counter8_full_testbench/config/pin_constraints_resetb.xml
  openfpga_flow/tasks/benchmark_sweep/counter8_full_testbench/config/pin_constraints_rst.xml
  openfpga_flow/tasks/benchmark_sweep/counter8_full_testbench/config/task.conf
Labels: flow-scripts, tests, openfpga-tools, openfpga-verilog

#533 Add initial conditions to counter benchmarks
  openfpga/src/fpga_verilog/verilog_formal_random_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.h
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_128bit_async_reset/counter.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_128bit_async_resetb/counter.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_4bit_2clock/counter_4bit_2clock.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_8bit_async_reset/counter.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_8bit_async_resetb/counter.v
  openfpga_flow/benchmarks/micro_benchmark/counters/counter_8bit_sync_reset/counter.v
  openfpga_flow/openfpga_shell_scripts/implicit_verilog_example_script.openfpga
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_4clock/config/and2_latch_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_4clock/config/counter_2clock_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_4clock/config/task.conf
  openfpga_flow/tasks/fpga_verilog/verilog_netlist_formats/implicit_verilog/config/pin_constraints_reset.xml
  openfpga_flow/tasks/fpga_verilog/verilog_netlist_formats/implicit_verilog/config/task.conf
  openfpga_flow/tasks/fpga_verilog/verilog_netlist_formats/implicit_verilog_default_nettype_wire/config/pin_constraints_reset.xml
  openfpga_flow/tasks/fpga_verilog/verilog_netlist_formats/implicit_verilog_default_nettype_wire/config/task.conf
Labels: flow-scripts, tests, openfpga-tools, benchmarks, openfpga-verilog

#540 Bus support now support big-endian and little-endian
  docs/source/manual/file_formats/bus_group_file.rst
  libopenfpga/libbusgroup/src/bus_group.cpp
  libopenfpga/libbusgroup/src/bus_group.h
  libopenfpga/libbusgroup/src/bus_group_xml_constants.h
  libopenfpga/libbusgroup/src/read_xml_bus_group.cpp
  libopenfpga/libbusgroup/src/write_xml_bus_group.cpp
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.cpp
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
  openfpga/src/fpga_verilog/verilog_writer_utils.cpp
  openfpga/src/fpga_verilog/verilog_writer_utils.h
  openfpga_flow/tasks/basic_tests/bus_group/full_testbench_explicit_mapping/config/counter8_bus_group.xml
  openfpga_flow/tasks/basic_tests/bus_group/full_testbench_implicit_mapping/config/counter8_bus_group.xml
  openfpga_flow/tasks/basic_tests/bus_group/preconfig_testbench_explicit_mapping/config/counter8_bus_group.xml
  openfpga_flow/tasks/basic_tests/bus_group/preconfig_testbench_implicit_mapping/config/counter8_bus_group.xml
Labels: documentation, tests, libopenfpga, openfpga-tools, openfpga-verilog

#542 More tests on Bus support: Validate its correctness on Input buses
  openfpga_flow/tasks/basic_tests/bus_group/full_testbench_explicit_mapping/config/mac4_bus_group.xml
  openfpga_flow/tasks/basic_tests/bus_group/full_testbench_explicit_mapping/config/pin_constraints_dummy.xml
  openfpga_flow/tasks/basic_tests/bus_group/full_testbench_explicit_mapping/config/task.conf
  openfpga_flow/tasks/basic_tests/bus_group/full_testbench_implicit_mapping/config/mac4_bus_group.xml
  openfpga_flow/tasks/basic_tests/bus_group/full_testbench_implicit_mapping/config/pin_constraints_dummy.xml
  openfpga_flow/tasks/basic_tests/bus_group/full_testbench_implicit_mapping/config/task.conf
  openfpga_flow/tasks/basic_tests/bus_group/preconfig_testbench_explicit_mapping/config/mac4_bus_group.xml
  openfpga_flow/tasks/basic_tests/bus_group/preconfig_testbench_explicit_mapping/config/pin_constraints_dummy.xml
  openfpga_flow/tasks/basic_tests/bus_group/preconfig_testbench_explicit_mapping/config/task.conf
  openfpga_flow/tasks/basic_tests/bus_group/preconfig_testbench_implicit_mapping/config/mac4_bus_group.xml
  openfpga_flow/tasks/basic_tests/bus_group/preconfig_testbench_implicit_mapping/config/pin_constraints_dummy.xml
  openfpga_flow/tasks/basic_tests/bus_group/preconfig_testbench_implicit_mapping/config/task.conf
Labels: tests

#544 [Version] Bump up for release v1.1
  CMakeLists.txt
Labels: build, lang-make

#547 [CI] Update patch updater due to release v1.1.0
  .github/workflows/patch_updater.yml
Labels: github

#558 Fixed a bug in config_enable support for preconfigured testbenches
  openfpga/src/fpga_verilog/verilog_preconfig_top_module.cpp
  openfpga_flow/openfpga_arch/k4_N4_40nm_cc_cfgdscffio_openfpga.xml
  openfpga_flow/openfpga_cell_library/verilog/dff.v
  openfpga_flow/openfpga_cell_library/verilog/gpio.v
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/preconfig_testbench/configuration_chain_config_done_io/config/task.conf
Labels: tests, architecture-description, openfpga-tools, cell-library, openfpga-verilog

#554 Merge fixes for post layout netlist/sdf generation for blackbox modules
  vpr/src/base/netlist_writer.cpp
  vpr/src/base/netlist_writer.h
Labels: VPR
