Repository lnis-uofu/OpenFPGA, pull requests merged in 2022-01, with the labels that each got.

#469 New test case: DSP block with input and output registers
  openfpga_flow/benchmarks/micro_benchmark/mult/mult_2_pipelined/mult_2_pipelined.v
  openfpga_flow/openfpga_arch/README.md
  openfpga_flow/openfpga_arch/k4_N4_40nm_dsp8reg_cc_openfpga.xml
  openfpga_flow/regression_test_scripts/fpga_verilog_reg_test.sh
  openfpga_flow/tasks/fpga_verilog/dsp/single_mode_mult_8x8_reg/config/task.conf
  openfpga_flow/vpr_arch/README.md
  openfpga_flow/vpr_arch/k4_N4_tileable_dsp8reg_40nm.xml
Labels: tests, architecture-description, benchmarks

#476 Yosys only support added in OpenFPGA
  .github/workflows/build.yml
  docs/source/manual/openfpga_flow/run_fpga_task.rst
  openfpga_flow/regression_test_scripts/basic_reg_yosys_only_test.sh
  openfpga_flow/scripts/run_fpga_flow.py
  openfpga_flow/scripts/run_fpga_task.py
  openfpga_flow/tasks/basic_tests/yosys_only/config/task.conf
Labels: documentation, github, flow-scripts, tests

#492 Moved 'verific_*' and 'yosys_*' config options from 'OpenFPGA_SHELL' to 'Synthesis Parameter' sections.
  docs/source/manual/openfpga_flow/run_fpga_task.rst
  openfpga_flow/scripts/run_fpga_task.py
  openfpga_flow/tasks/basic_tests/explicit_multi_verilog_files/config/task.conf
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_bram/config/task.conf
  openfpga_flow/tasks/basic_tests/k4_series/k4n4_fracff/config/task.conf
  openfpga_flow/tasks/benchmark_sweep/counter/config/task.conf
  openfpga_flow/tasks/benchmark_sweep/iwls2005/config/task.conf
  openfpga_flow/tasks/benchmark_sweep/mac_units/config/task.conf
  openfpga_flow/tasks/benchmark_sweep/vtr_benchmarks/config/task.conf
  openfpga_flow/tasks/fpga_bitstream/generate_bitstream/device_48x48/config/task.conf
  openfpga_flow/tasks/fpga_verilog/bram/dpram1k/config/task.conf
  openfpga_flow/tasks/fpga_verilog/bram/wide_dpram1k/config/task.conf
  openfpga_flow/tasks/fpga_verilog/dsp/multi_mode_mult_16x16/config/task.conf
  openfpga_flow/tasks/fpga_verilog/dsp/single_mode_mult_8x8/config/task.conf
  openfpga_flow/tasks/fpga_verilog/dsp/single_mode_mult_8x8_reg/config/task.conf
  openfpga_flow/tasks/fpga_verilog/dsp/wide_multi_mode_mult_16x16/config/task.conf
  openfpga_flow/tasks/quicklogic_tests/counter_5clock_test/config/task.conf
  openfpga_flow/tasks/quicklogic_tests/flow_test/config/task.conf
  openfpga_flow/tasks/quicklogic_tests/lut_adder_test/config/task.conf
Labels: documentation, flow-scripts, tests

#501 Patch the errors in basic regression tests due to ``--no_time_stamp`` support
  libopenfpga/libfpgabitstream/src/report_arch_bitstream_distribution.cpp
  openfpga/src/fpga_bitstream/write_text_fabric_bitstream.cpp
  openfpga/src/fpga_bitstream/write_xml_io_mapping.cpp
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/bitstream_distribution.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/fabric_bitstream.bit
  openfpga_flow/tasks/basic_tests/no_time_stamp/golden_outputs_no_time_stamp/pin_mapping.xml
Labels: tests, libopenfpga, openfpga-tools, openfpga-bitstream, libopenfpga-bitstream

#503 New option ``--unique`` available in command ``write_gsb_to_xml``
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/annotation/write_xml_device_rr_gsb.cpp
  openfpga/src/annotation/write_xml_device_rr_gsb.h
  openfpga/src/base/openfpga_setup_command.cpp
  openfpga/src/base/openfpga_write_gsb.cpp
  openfpga_flow/openfpga_shell_scripts/write_gsb_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/write_gsb/write_gsb_to_xml/config/task.conf
  openfpga_flow/tasks/basic_tests/write_gsb/write_gsb_to_xml_compress_routing/config/task.conf
  openfpga_flow/tasks/basic_tests/write_gsb/write_unique_gsb_to_xml/config/task.conf
  openfpga_flow/tasks/basic_tests/write_gsb/write_unique_gsb_to_xml_compress_routing/config/task.conf
  openfpga_flow/vpr_arch/k4_N4_tileable_40nm.xml
Labels: documentation, flow-scripts, tests, architecture-description, openfpga-tools

#505 changing condition of bitstream downloading
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
Labels: openfpga-tools, openfpga-verilog

#509 [FPGA-Verilog] Now have a new option ``--use_relative_path``
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_verilog_commands.rst
  openfpga/src/base/openfpga_verilog.cpp
  openfpga/src/base/openfpga_verilog_command.cpp
  openfpga/src/fpga_verilog/fabric_verilog_options.cpp
  openfpga/src/fpga_verilog/fabric_verilog_options.h
  openfpga/src/fpga_verilog/verilog_api.cpp
  openfpga/src/fpga_verilog/verilog_auxiliary_netlists.cpp
  openfpga/src/fpga_verilog/verilog_auxiliary_netlists.h
  openfpga/src/fpga_verilog/verilog_decoders.cpp
  openfpga/src/fpga_verilog/verilog_decoders.h
  openfpga/src/fpga_verilog/verilog_essential_gates.cpp
  openfpga/src/fpga_verilog/verilog_essential_gates.h
  openfpga/src/fpga_verilog/verilog_grid.cpp
  openfpga/src/fpga_verilog/verilog_grid.h
  openfpga/src/fpga_verilog/verilog_lut.cpp
  openfpga/src/fpga_verilog/verilog_lut.h
  openfpga/src/fpga_verilog/verilog_memory.cpp
  openfpga/src/fpga_verilog/verilog_memory.h
  openfpga/src/fpga_verilog/verilog_mux.cpp
  openfpga/src/fpga_verilog/verilog_mux.h
  openfpga/src/fpga_verilog/verilog_routing.cpp
  openfpga/src/fpga_verilog/verilog_routing.h
  openfpga/src/fpga_verilog/verilog_shift_register_banks.cpp
  openfpga/src/fpga_verilog/verilog_shift_register_banks.h
  openfpga/src/fpga_verilog/verilog_submodule.cpp
  openfpga/src/fpga_verilog/verilog_submodule.h
  openfpga/src/fpga_verilog/verilog_top_module.cpp
  openfpga/src/fpga_verilog/verilog_wire.cpp
  openfpga/src/fpga_verilog/verilog_wire.h
  openfpga_flow/openfpga_shell_scripts/write_full_testbench_relative_path_example_script.openfpga
  openfpga_flow/regression_test_scripts/fpga_verilog_reg_test.sh
  openfpga_flow/tasks/fpga_verilog/verilog_netlist_formats/use_relative_path/config/task.conf
Labels: documentation, flow-scripts, tests, openfpga-tools, openfpga-verilog
