Repository lnis-uofu/OpenFPGA, pull requests merged in 2023-04, with the labels that each got.

#1113 Update openfpga.sh
  openfpga.sh
Labels: lang-shell

#1134 [doc] fix broken links in the Clock Network file format
  docs/source/manual/file_formats/clock_network.rst
Labels: documentation

#1140 CCFF v2.0: Now CCFF can be controlled by a number of programming clocks
  docs/source/manual/arch_lang/config_protocol.rst
  libs/libarchopenfpga/src/config_protocol.cpp
  libs/libarchopenfpga/src/config_protocol.h
  libs/libarchopenfpga/src/config_protocol_xml_constants.h
  libs/libarchopenfpga/src/read_xml_config_protocol.cpp
  libs/libarchopenfpga/src/write_xml_config_protocol.cpp
  libs/libopenfpgautil/src/openfpga_port.cpp
  libs/libopenfpgautil/src/openfpga_port.h
  openfpga/src/base/openfpga_read_arch_template.h
  openfpga/src/fabric/build_top_module.cpp
  openfpga/src/fabric/build_top_module_connection.cpp
  openfpga/src/fabric/build_top_module_connection.h
  openfpga/src/fpga_verilog/verilog_testbench_utils.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench_constants.h
  openfpga/src/utils/check_config_protocol.cpp
  openfpga/src/utils/check_config_protocol.h
  openfpga/src/utils/fabric_bitstream_utils.cpp
  openfpga/src/utils/fabric_bitstream_utils.h
  openfpga/src/utils/module_manager_utils.cpp
  openfpga/src/utils/module_manager_utils.h
  openfpga_flow/openfpga_arch/README.md
  openfpga_flow/openfpga_arch/k4_N4_40nm_multi_region_cc2clk_openfpga.xml
  openfpga_flow/openfpga_arch/k4_N4_40nm_multi_region_cc3clk_openfpga.xml
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/full_testbench/multi_region_configuration_chain_2clk/config/task.conf
  openfpga_flow/tasks/basic_tests/full_testbench/multi_region_configuration_chain_3clk/config/task.conf
Labels: documentation, tests, architecture-description, openfpga-tools, openfpga-verilog, VPR
