Repository lnis-uofu/OpenFPGA, pull requests merged in 2023-12, with the labels that each got.

#1468 Issue:1466 - Fix WL ordering in bitstream generation
  openfpga/src/fpga_bitstream/write_text_fabric_bitstream.cpp
Labels: openfpga-tools, openfpga-bitstream

#1467 Update repack_design_constraints.rst
  docs/source/manual/file_formats/repack_design_constraints.rst
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_bitstream_commands.rst
Labels: documentation

#1457 Repack debug
  libs/libpcf/src/base/repack_design_constraints.h
  libs/libpcf/src/io/read_xml_repack_design_constraints.cpp
  openfpga/src/repack/repack.cpp
  openfpga/src/repack/repack_option.cpp
  openfpga/src/repack/repack_option.h
  openfpga_flow/tasks/fpga_bitstream/repack_ignore_nets/config/pin_constraints.xml
  openfpga_flow/tasks/fpga_bitstream/repack_ignore_nets/config/repack_design_constraints.xml
  openfpga_flow/tasks/fpga_bitstream/repack_ignore_nets/config/rst_on_lut_pc.xml
  openfpga_flow/tasks/fpga_bitstream/repack_ignore_nets/config/rst_on_lut_repack_dc.xml
  openfpga_flow/tasks/fpga_bitstream/repack_ignore_nets/config/task.conf
Labels: tests, openfpga-tools, VPR

#1484 Support VCS simulator for QL memory bank in full testbench
  docs/source/manual/openfpga_shell/openfpga_commands/fpga_verilog_commands.rst
  openfpga/src/base/openfpga_verilog_command_template.h
  openfpga/src/base/openfpga_verilog_template.h
  openfpga/src/fpga_verilog/verilog_testbench_options.cpp
  openfpga/src/fpga_verilog/verilog_testbench_options.h
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench_memory_bank.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench_memory_bank.h
  openfpga_flow/openfpga_shell_scripts/write_full_testbench_simulator_support_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/full_testbench/ql_memory_bank_shift_register_vcs/config/task.conf
Labels: documentation, flow-scripts, tests, openfpga-tools, openfpga-verilog
