Repository lnis-uofu/OpenFPGA, pull requests merged in 2023-08, with the labels that each got.

#1273 Support grouping configuration memories into blocks
  docs/source/manual/file_formats/tile_config_file.rst
  docs/source/manual/openfpga_shell/openfpga_commands/figures/group_config_block_hierarchy.png
  docs/source/manual/openfpga_shell/openfpga_commands/figures/group_config_block_overview.png
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
  libs/libarchopenfpga/src/circuit_types.h
  libs/libopenfpgautil/src/openfpga_reserved_words.h
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_naming.cpp
  openfpga/src/base/openfpga_naming.h
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/fabric/build_device_module.cpp
  openfpga/src/fabric/build_device_module.h
  openfpga/src/fabric/build_fpga_core_wrapper_module.cpp
  openfpga/src/fabric/build_grid_modules.cpp
  openfpga/src/fabric/build_grid_modules.h
  openfpga/src/fabric/build_memory_modules.cpp
  openfpga/src/fabric/build_memory_modules.h
  openfpga/src/fabric/build_routing_modules.cpp
  openfpga/src/fabric/build_routing_modules.h
  openfpga/src/fabric/build_tile_modules.cpp
  openfpga/src/fabric/build_top_module.cpp
  openfpga/src/fabric/build_top_module.h
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.cpp
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.h
  openfpga/src/fabric/build_top_module_child_tile_instance.cpp
  openfpga/src/fabric/build_top_module_child_tile_instance.h
  openfpga/src/fabric/build_top_module_memory.cpp
  openfpga/src/fabric/build_top_module_memory_bank.cpp
  openfpga/src/fabric/fabric_key_writer.cpp
  openfpga/src/fabric/module_manager.cpp
  openfpga/src/fabric/module_manager.h
  openfpga/src/fpga_bitstream/build_device_bitstream.cpp
  openfpga/src/fpga_bitstream/build_fabric_bitstream.cpp
  openfpga/src/fpga_bitstream/build_fabric_bitstream_memory_bank.cpp
  openfpga/src/fpga_bitstream/build_grid_bitstream.cpp
  openfpga/src/fpga_bitstream/build_routing_bitstream.cpp
  openfpga/src/fpga_sdc/configuration_chain_sdc_writer.cpp
  openfpga/src/fpga_sdc/sdc_memory_utils.cpp
  openfpga/src/fpga_verilog/verilog_memory.cpp
  openfpga/src/utils/circuit_library_utils.cpp
  openfpga/src/utils/memory_utils.cpp
  openfpga/src/utils/memory_utils.h
  openfpga/src/utils/module_manager_memory_utils.cpp
  openfpga/src/utils/module_manager_memory_utils.h
  openfpga/src/utils/module_manager_utils.cpp
  openfpga/src/utils/module_manager_utils.h
  openfpga_flow/openfpga_shell_scripts/group_config_block_full_testbench_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/group_config_block_preconfig_testbench_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/group_config_block/group_config_block_hetero_fabric_tile/config/task.conf
  openfpga_flow/tasks/basic_tests/group_config_block/group_config_block_hetero_fabric_tile/config/tile_config.xml
  openfpga_flow/tasks/basic_tests/group_config_block/group_config_block_homo_fabric_tile/config/task.conf
  openfpga_flow/tasks/basic_tests/group_config_block/group_config_block_homo_fabric_tile/config/tile_config.xml
  openfpga_flow/tasks/basic_tests/group_config_block/group_config_block_homo_fabric_tile_core_wrapper/config/task.conf
  openfpga_flow/tasks/basic_tests/group_config_block/group_config_block_homo_fabric_tile_core_wrapper/config/tile_config.xml
  openfpga_flow/tasks/basic_tests/group_config_block/group_config_block_homo_full_testbench/config/task.conf
Labels: documentation, flow-scripts, tests, openfpga-tools, openfpga-bitstream, openfpga-verilog, openfpga-sdc, VPR

#1259 Address issue 1256
  openfpga/src/base/openfpga_bitstream_command_template.h
  openfpga/src/base/openfpga_bitstream_template.h
  openfpga/src/fpga_bitstream/build_fabric_bitstream_memory_bank.cpp
  openfpga/src/fpga_bitstream/fabric_bitstream.cpp
  openfpga/src/fpga_bitstream/fabric_bitstream.h
  openfpga/src/fpga_bitstream/write_text_fabric_bitstream.cpp
  openfpga/src/fpga_bitstream/write_text_fabric_bitstream.h
  openfpga/src/fpga_bitstream/write_xml_fabric_bitstream.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga/src/fpga_verilog/verilog_top_testbench_memory_bank.cpp
Labels: openfpga-tools, openfpga-bitstream, openfpga-verilog

#1287 Address follow up from PR 1259
  openfpga/src/fpga_bitstream/write_text_fabric_bitstream.cpp
  openfpga/src/fpga_bitstream/write_xml_fabric_bitstream.cpp
Labels: openfpga-tools, openfpga-bitstream

#1292 [doc] add description about new option ``shrink_boundary``
  docs/source/manual/arch_lang/addon_vpr_syntax.rst
  docs/source/manual/arch_lang/figures/shrink_boundary.png
Labels: documentation

#1300 Fixed a bug when Combo options are enabled: ``group_tile``, ``group_config_block`` and ``shrink_boundary``
  openfpga/src/annotation/fabric_tile.cpp
  openfpga/src/fabric/build_tile_modules.cpp
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/group_config_block/group_config_block_homo_fabric_tile_Lshape/config/task.conf
  openfpga_flow/tasks/basic_tests/group_config_block/group_config_block_homo_fabric_tile_Lshape/config/tile_config.xml
  openfpga_flow/vpr_arch/k4_N4_tileableL_40nm.xml
Labels: tests, architecture-description, openfpga-tools

#1307 Fixed a bug on spotting pin index of subtiles
  openfpga/src/fabric/build_top_module_child_fine_grained_instance.cpp
  openfpga/src/fabric/build_top_module_child_tile_instance.cpp
  openfpga/src/utils/check_tile_annotation.cpp
  openfpga_flow/openfpga_arch/k4_N4_40nm_GlobalTileClk_registerable_io_cc_openfpga.xml
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/global_tile_ports/global_tile_clock_subtile/config/task.conf
  openfpga_flow/tasks/basic_tests/group_config_block/group_config_block_homo_fabric_tile_global_tile_clock_io_subtile/config/task.conf
  openfpga_flow/tasks/basic_tests/group_config_block/group_config_block_homo_fabric_tile_global_tile_clock_io_subtile/config/tile_config.xml
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_global_tile_clock_io_subtile/config/task.conf
  openfpga_flow/tasks/basic_tests/tile_organization/fabric_tile_global_tile_clock_io_subtile/config/tile_config.xml
  openfpga_flow/vpr_arch/k4_N4_tileable_GlobalTileClk_registerable_io_40nm.xml
Labels: tests, architecture-description, openfpga-tools

#1321 Add a utility tool: fabric key assistant
  docs/source/manual/index.rst
  docs/source/manual/utilities/fabric_key_assistant.rst
  docs/source/manual/utilities/index.rst
  libs/libfabrickey/CMakeLists.txt
  libs/libfabrickey/src/base/fabric_key.cpp
  libs/libfabrickey/src/base/fabric_key.h
  libs/libfabrickey/src/utils/check_fabric_key.cpp
  libs/libfabrickey/src/utils/check_fabric_key.h
  libs/libfabrickey/test/fabric_key_assistant.cpp
Labels: documentation, VPR

#1330 Update .readthedocs.yml by removing deprecated syntax
  .readthedocs.yml
Labels: documentation
