Repository lnis-uofu/OpenFPGA, pull requests merged in 2023-07, with the labels that each got.

#1247 Now Fabric Key Supports Sub-modules
  docs/source/manual/file_formats/fabric_key.rst
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
  libs/libfabrickey/CMakeLists.txt
  libs/libfabrickey/key_examples/key_example.xml
  libs/libfabrickey/src/base/fabric_key.cpp
  libs/libfabrickey/src/base/fabric_key.h
  libs/libfabrickey/src/base/fabric_key_fwd.h
  libs/libfabrickey/src/io/fabric_key_xml_constants.h
  libs/libfabrickey/src/io/read_xml_fabric_key.cpp
  libs/libfabrickey/src/io/read_xml_fabric_key.h
  libs/libfabrickey/src/io/write_xml_fabric_key.cpp
  libs/libfabrickey/src/io/write_xml_fabric_key.h
  libs/libfabrickey/src/read_xml_fabric_key.cpp
  libs/libfabrickey/src/write_xml_fabric_key.cpp
  libs/libfabrickey/test/test_fabric_key.cpp
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/fabric/build_top_module.cpp
  openfpga/src/fabric/fabric_key_writer.cpp
  openfpga/src/fabric/fabric_key_writer.h
  openfpga/src/fabric/module_manager.cpp
  openfpga/src/fabric/module_manager.h
  openfpga/src/utils/module_manager_memory_utils.cpp
  openfpga/src/utils/module_manager_memory_utils.h
  openfpga/src/utils/module_manager_utils.cpp
  openfpga/src/utils/module_manager_utils.h
  openfpga_flow/fabric_keys/k4_N4_1x1_qlbanksr_multi_chain_sample_key.xml
  openfpga_flow/fabric_keys/k4_N4_2x2_multi_region_qlbank_sample_key.xml
  openfpga_flow/fabric_keys/k4_N4_2x2_multi_region_qlbanksr_sample_key.xml
  openfpga_flow/fabric_keys/k4_N4_2x2_multi_region_sample_key.xml
  openfpga_flow/fabric_keys/k4_N4_2x2_qlbank_sample_key.xml
  openfpga_flow/fabric_keys/k4_N4_2x2_sample_key.xml
  openfpga_flow/fabric_keys/k4_N4_2x2_sample_subkey.xml
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/fabric_key/load_external_subkey_cc_fpga/config/task.conf
Labels: documentation, tests, architecture-description, openfpga-tools, VPR, bitstream

#1250 [ci] now cell lib test use ubunut 22.04
  .github/workflows/cell_lib_test.yml
  .github/workflows/install_dependencies_run.sh
  .github/workflows/install_dependencies_run_ubuntu22p04.sh
Labels: github

#1253 Fixed binder dependencies
  Dockerfile
Labels: docker

#1252 Issue 1248 - fix bug bintoi_charvec()
  libs/libopenfpgautil/src/openfpga_decode.cpp
Labels: VPR
