Repository lnis-uofu/OpenFPGA, pull requests merged in 2023-02, with the labels that each got.

#1028 More build tests: debug and no warnings
  .github/workflows/build.yml
  CMakeLists.txt
  Makefile
  docs/source/tutorials/getting_started/compile.rst
  openfpga/CMakeLists.txt
  openfpga/src/annotation/annotate_clustering.cpp
  openfpga/src/annotation/annotate_clustering.h
  openfpga/src/base/openfpga_link_arch_template.h
  openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  openfpga/src/utils/lut_utils.cpp
Labels: documentation, github, build, lang-make, openfpga-tools, openfpga-verilog

#1030 [ci] now use github machine for debug build and no warnings
  .github/workflows/build.yml
  .github/workflows/install_dependencies_run_ubuntu22p04.sh
Labels: github

#1036 Fixing binder dockerfile
  Dockerfile
Labels: docker

#1038 Updating binder dockers
  Dockerfile
Labels: docker

#1041 Now Yosys binary is installed to build directory
  .github/workflows/build.yml
  CMakeLists.txt
  docker/Dockerfile.master
  openfpga_flow/misc/fpgaflow_default_tool_path.conf
Labels: github, build, lang-make, flow-scripts

#1052 Refactor run_fpga_task.py and run_fpga_flow.py
  openfpga_flow/scripts/run_fpga_flow.py
  openfpga_flow/scripts/run_fpga_task.py
Labels: flow-scripts

#1053 Updated demo tasks
  Dockerfile
  docs/source/conf.py
  docs/source/tutorials/getting_started/shell_shortcuts.rst
  openfpga.sh
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/template_tasks/fabric_netlist_gen_template/arch/openfpga_arch.xml
  openfpga_flow/tasks/template_tasks/fabric_netlist_gen_template/arch/vpr_arch.xml
  openfpga_flow/tasks/template_tasks/fabric_netlist_gen_template/config/task.conf
  openfpga_flow/tasks/template_tasks/fabric_netlist_gen_template/example_script.openfpga
  openfpga_flow/tasks/template_tasks/fabric_netlist_gen_template/micro_benchmark/and2/and2.act
  openfpga_flow/tasks/template_tasks/fabric_netlist_gen_template/micro_benchmark/and2/and2.blif
  openfpga_flow/tasks/template_tasks/fabric_netlist_gen_template/micro_benchmark/and2/and2.eblif
  openfpga_flow/tasks/template_tasks/fabric_netlist_gen_template/micro_benchmark/and2/and2.v
  openfpga_flow/tasks/template_tasks/fabric_netlist_gen_template/micro_benchmark/and2/and2_frac_lut4_arith.eblif
  openfpga_flow/tasks/template_tasks/fabric_netlist_gen_template/micro_benchmark/and2/and2_verific.blif
  openfpga_flow/tasks/template_tasks/fabric_netlist_gen_template/micro_benchmark/blinking/blinking.v
  openfpga_flow/tasks/template_tasks/fabric_verification_template/arch/openfpga_arch.xml
  openfpga_flow/tasks/template_tasks/fabric_verification_template/arch/vpr_arch.xml
  openfpga_flow/tasks/template_tasks/fabric_verification_template/config/task.conf
  openfpga_flow/tasks/template_tasks/fabric_verification_template/example_script.openfpga
  openfpga_flow/tasks/template_tasks/fabric_verification_template/micro_benchmark/and2/and2.act
  openfpga_flow/tasks/template_tasks/fabric_verification_template/micro_benchmark/and2/and2.blif
  openfpga_flow/tasks/template_tasks/fabric_verification_template/micro_benchmark/and2/and2.eblif
  openfpga_flow/tasks/template_tasks/fabric_verification_template/micro_benchmark/and2/and2.v
  openfpga_flow/tasks/template_tasks/fabric_verification_template/micro_benchmark/and2/and2_frac_lut4_arith.eblif
  openfpga_flow/tasks/template_tasks/fabric_verification_template/micro_benchmark/and2/and2_verific.blif
  openfpga_flow/tasks/template_tasks/fabric_verification_template/micro_benchmark/blinking/blinking.v
  openfpga_flow/tasks/template_tasks/fabric_verification_template/micro_benchmark/mult8/mult8.v
  openfpga_flow/tasks/template_tasks/frac-lut-arch-explore_template/config/task.conf
  openfpga_flow/tasks/template_tasks/frac-lut-arch-explore_template/k6_N10_tileable.xml
  openfpga_flow/tasks/template_tasks/frac-lut-arch-explore_template/k6_frac_N10_tileable.xml
  openfpga_flow/tasks/template_tasks/frac-lut-arch-explore_template/openfpga_arch.xml
  openfpga_flow/tasks/template_tasks/frac-lut-arch-explore_template/vtr_benchmark_template_script.openfpga
  openfpga_flow/tasks/template_tasks/vpr_blif_template/arch/vpr_arch.xml
  openfpga_flow/tasks/template_tasks/yosys_vpr_template/arch/vpr_arch.xml
Labels: documentation, tests, lang-shell, docker
