Repository lnis-uofu/OpenFPGA, pull requests merged in 2024-09, with the labels that each got.

#1822 Fixed typo in vpr-main.cpp
  openfpga/src/vpr_wrapper/vpr_main.cpp
Labels: openfpga-tools

#1815 Add command report_reference
  docs/source/manual/file_formats/index.rst
  docs/source/manual/file_formats/reference_file.rst
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/utils/report_reference.cpp
  openfpga/src/utils/report_reference.h
  openfpga_flow/openfpga_shell_scripts/report_reference_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/report_reference/config/task.conf
Labels: documentation, flow-scripts, tests, openfpga-tools

#1810 Preloading clean
  docs/source/manual/file_formats/index.rst
  docs/source/manual/file_formats/unique_blocks.rst
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/annotation/read_xml_unique_blocks.cpp
  openfpga/src/annotation/read_xml_unique_blocks.h
  openfpga/src/annotation/write_xml_unique_blocks.cpp
  openfpga/src/annotation/write_xml_unique_blocks.h
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga_flow/openfpga_shell_scripts/read_unique_blocks_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/read_unique_blocks_full_flow_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/read_write_unique_blocks_full_flow_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/write_unique_blocks_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/write_unique_blocks_full_flow_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks/read_unique_block.xml
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks_full_flow/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks_full_flow/config/tile_config.xml
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_unique_blocks_full_flow/read_unique_block.xml
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_write_unique_blocks/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_write_unique_blocks/config/tile_config.xml
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/read_write_unique_blocks/read_unique_block.xml
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/write_unique_blocks/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/write_unique_blocks_full_flow/config/task.conf
  openfpga_flow/tasks/basic_tests/preload_unique_blocks/write_unique_blocks_full_flow/config/tile_config.xml
Labels: documentation, flow-scripts, tests, openfpga-tools, VPR

#1841 Support last stage pass-gate-logic model for MUX circuit model
  docs/source/manual/arch_lang/circuit_library.rst
  docs/source/manual/arch_lang/circuit_model_examples.rst
  docs/source/manual/arch_lang/figures/stdcellmux.png
  libs/libarchopenfpga/src/check_circuit_library.cpp
  libs/libarchopenfpga/src/circuit_library.cpp
  libs/libarchopenfpga/src/circuit_library.h
  libs/libarchopenfpga/src/read_xml_circuit_library.cpp
  libs/libarchopenfpga/src/write_xml_circuit_library.cpp
  openfpga/src/fabric/build_mux_modules.cpp
  openfpga_flow/openfpga_arch/README.md
  openfpga_flow/openfpga_arch/k6_frac_N8_stdcell_laststage_mux_40nm_openfpga.xml
  openfpga_flow/openfpga_cell_library/verilog/mux2.v
  openfpga_flow/regression_test_scripts/fpga_verilog_reg_test.sh
  openfpga_flow/tasks/fpga_verilog/mux_design/stdcell_mux2_last_stage/config/task.conf
Labels: documentation, tests, architecture-description, openfpga-tools, cell-library, VPR

#1843 Support intermediate drivers in programmable clock network
  docs/source/manual/file_formats/clock_network.rst
  docs/source/manual/file_formats/figures/prog_clk_network_example_2x2_perimeter_cb.png
  libs/libclkarchopenfpga/arch/example_internal_drivers.xml
  libs/libclkarchopenfpga/src/base/clock_network.cpp
  libs/libclkarchopenfpga/src/base/clock_network.h
  libs/libclkarchopenfpga/src/io/clock_network_xml_constants.h
  libs/libclkarchopenfpga/src/io/read_xml_clock_network.cpp
  libs/libclkarchopenfpga/src/io/write_xml_clock_network.cpp
  openfpga/src/annotation/append_clock_rr_graph.cpp
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/clk_arch_1clk_1rst_2layer_int_driver_clk.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/clk_arch_1clk_1rst_2layer_int_driver_rst.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/pin_constraints_clk_cond.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/pin_constraints_rst_cond.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/vpr_constraint_clk_cond.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_intermediate_driver/config/vpr_constraint_rst_cond.xml
Labels: documentation, tests, openfpga-tools, VPR
