Repository lnis-uofu/OpenFPGA, pull requests merged in 2024-04, with the labels that each got.

#1616 update black version from 20.8b1 to 24.3.0
  openfpga_flow/scripts/arch_file_updater.py
  openfpga_flow/scripts/io_sequence_visualizer.py
  openfpga_flow/scripts/run_fpga_flow.py
  requirements.txt
Labels: flow-scripts

#1620 Support fabric pin physical location file
  docs/source/manual/file_formats/fabric_pin_physical_location_file.rst
  docs/source/manual/file_formats/index.rst
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
  openfpga/src/base/openfpga_build_fabric_template.h
  openfpga/src/base/openfpga_naming.cpp
  openfpga/src/base/openfpga_naming.h
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga/src/fabric/build_grid_module_duplicated_pins.cpp
  openfpga/src/fabric/build_grid_modules.cpp
  openfpga/src/fabric/build_routing_modules.cpp
  openfpga/src/fabric/build_tile_modules.cpp
  openfpga/src/fabric/fabric_pin_physical_location_xml_constants.h
  openfpga/src/fabric/module_manager.cpp
  openfpga/src/fabric/module_manager.h
  openfpga/src/fabric/write_xml_fabric_pin_physical_location.cpp
  openfpga/src/fabric/write_xml_fabric_pin_physical_location.h
  openfpga_flow/openfpga_shell_scripts/group_tile_write_fabric_pin_phy_loc_preconfig_testbench_example_script.openfpga
  openfpga_flow/openfpga_shell_scripts/no_time_stamp_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_1x1/golden_outputs_no_time_stamp/fabric_pin_phy_loc.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/device_4x4/golden_outputs_no_time_stamp/fabric_pin_phy_loc.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/dump_waveform/golden_outputs_no_time_stamp/fabric_pin_phy_loc.xml
  openfpga_flow/tasks/basic_tests/no_time_stamp/no_cout_in_gsb/golden_outputs_no_time_stamp/fabric_pin_phy_loc.xml
  openfpga_flow/tasks/basic_tests/write_fabric_pin_phy_loc/write_fabric_pin_phy_loc_default/config/task.conf
  openfpga_flow/tasks/basic_tests/write_fabric_pin_phy_loc/write_fabric_pin_phy_loc_default/config/tile_config.xml
  openfpga_flow/tasks/basic_tests/write_fabric_pin_phy_loc/write_fabric_pin_phy_loc_for_tiles/config/task.conf
  openfpga_flow/tasks/basic_tests/write_fabric_pin_phy_loc/write_fabric_pin_phy_loc_for_tiles/config/tile_config.xml
  openfpga_flow/tasks/basic_tests/write_fabric_pin_phy_loc/write_fabric_pin_phy_loc_show_invalid_sides/config/task.conf
  openfpga_flow/tasks/basic_tests/write_fabric_pin_phy_loc/write_fabric_pin_phy_loc_show_invalid_sides/config/tile_config.xml
  openfpga_flow/tasks/basic_tests/write_fabric_pin_phy_loc/write_fabric_pin_phy_loc_wildcards/config/task.conf
  openfpga_flow/tasks/basic_tests/write_fabric_pin_phy_loc/write_fabric_pin_phy_loc_wildcards/config/tile_config.xml
Labels: documentation, flow-scripts, tests, openfpga-tools

#1595 LUTRAM Support
  docs/source/manual/arch_lang/config_protocol.rst
  libs/libarchopenfpga/src/config_protocol.cpp
  libs/libarchopenfpga/src/config_protocol.h
  libs/libarchopenfpga/src/ql_memory_bank_config_setting.cpp
  libs/libarchopenfpga/src/ql_memory_bank_config_setting.h
  libs/libarchopenfpga/src/read_xml_config_protocol.cpp
  openfpga/src/fabric/build_device_module.cpp
  openfpga/src/fabric/build_grid_modules.cpp
  openfpga/src/fabric/build_grid_modules.h
  openfpga/src/fabric/build_top_module_memory.cpp
  openfpga/src/utils/decoder_library_utils.cpp
  openfpga/src/utils/decoder_library_utils.h
  openfpga/src/utils/memory_utils.cpp
  openfpga/src/utils/memory_utils.h
  openfpga/src/utils/module_manager_utils.cpp
  openfpga/src/utils/module_manager_utils.h
  openfpga_flow/openfpga_arch/k4_N4_40nm_qlbankflatten_defined_wl_openfpga.xml
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/full_testbench/ql_memory_bank_flatten_defined_wl/config/task.conf
Labels: documentation, tests, architecture-description, openfpga-tools, VPR
