Repository lnis-uofu/OpenFPGA, pull requests merged in 2024-07, with the labels that each got.

#1736 [doc] typo
  docs/source/manual/file_formats/clock_network.rst
Labels: documentation

#1765 Multiple Enhancements on Clock Network v2.0
  openfpga/src/annotation/append_clock_rr_graph.cpp
  openfpga/src/annotation/device_rr_gsb.cpp
  openfpga/src/annotation/device_rr_gsb.h
  openfpga/src/fabric/build_top_module_child_tile_instance.cpp
  openfpga/src/fabric/build_top_module_connection.cpp
  openfpga_flow/openfpga_shell_scripts/group_tile_clkntwk_preconfig_testbench_example_script.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_1layer_2entry/config/clk_arch_1clk_1rst_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_1layer_2entry/config/pin_constraints_reset.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_1layer_2entry/config/pin_constraints_resetb.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_1layer_2entry/config/repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_1layer_2entry/config/task.conf
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_y_entry/config/clk_arch_1clk_1rst_2layer.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_y_entry/config/pin_constraints_reset.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_y_entry/config/pin_constraints_resetb.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_y_entry/config/repack_pin_constraints.xml
  openfpga_flow/tasks/basic_tests/clock_network/homo_1clock_1reset_2layer_y_entry/config/task.conf
  openfpga_flow/tasks/basic_tests/module_naming/fabric_tile_clkntwk_io_subtile_using_index/config/clk_arch_1clk_2layer.xml
  openfpga_flow/tasks/basic_tests/module_naming/fabric_tile_clkntwk_io_subtile_using_index/config/task.conf
  openfpga_flow/tasks/basic_tests/module_naming/fabric_tile_clkntwk_io_subtile_using_index/config/tile_config.xml
  openfpga_flow/vpr_arch/k4_frac_N4_tileable_TileOrgzTr_fracff_40nm.xml
Labels: flow-scripts, tests, architecture-description, openfpga-tools

#1756 Openfpga support setting bitstream bit manually
  docs/source/manual/file_formats/bitstream_setting.rst
  libs/libarchopenfpga/src/bitstream_setting.cpp
  libs/libarchopenfpga/src/bitstream_setting.h
  libs/libarchopenfpga/src/bitstream_setting_fwd.h
  libs/libarchopenfpga/src/read_xml_bitstream_setting.cpp
  libs/libfpgabitstream/src/bitstream_manager.cpp
  libs/libfpgabitstream/src/bitstream_manager.h
  libs/libopenfpgautil/src/openfpga_port_parser.cpp
  libs/libopenfpgautil/src/openfpga_port_parser.h
  openfpga/src/base/openfpga_basic.cpp
  openfpga/src/base/openfpga_bitstream_template.h
  openfpga/src/fpga_bitstream/build_device_bitstream.cpp
  openfpga/src/fpga_bitstream/overwrite_bitstream.cpp
  openfpga/src/fpga_bitstream/overwrite_bitstream.h
  openfpga_flow/regression_test_scripts/fpga_bitstream_reg_test.sh
  openfpga_flow/tasks/fpga_bitstream/overwrite_bitstream/device_4x4/config/task.conf
  openfpga_flow/tasks/fpga_bitstream/overwrite_bitstream/device_4x4/config/test.openfpga
  openfpga_flow/tasks/fpga_bitstream/overwrite_bitstream/device_4x4/config/test.py
Labels: documentation, flow-scripts, tests, openfpga-tools, openfpga-bitstream, VPR
