Repository lnis-uofu/OpenFPGA, pull requests merged in 2024-11, with the labels that each got.

#1593 suppress repack commands' error message
  docs/source/manual/openfpga_shell/openfpga_commands/setup_commands.rst
  libs/libpcf/src/io/pcf_reader.cpp
  libs/libpcf/src/io/pcf_reader.h
  openfpga/src/base/openfpga_pcf2place_template.h
  openfpga/src/base/openfpga_setup_command_template.h
  openfpga_flow/openfpga_shell_scripts/test_pcf.openfpga
  openfpga_flow/regression_test_scripts/basic_reg_test.sh
  openfpga_flow/tasks/basic_tests/io_constraints/pcf_reduce_error/config/and2.pcf
  openfpga_flow/tasks/basic_tests/io_constraints/pcf_reduce_error/config/fpga_io_location.xml
  openfpga_flow/tasks/basic_tests/io_constraints/pcf_reduce_error/config/pinmap_k4_N4_tileable_40nm.csv
  openfpga_flow/tasks/basic_tests/io_constraints/pcf_reduce_error/config/task.conf
Labels: documentation, flow-scripts, tests, openfpga-tools, VPR

#1906 Support overwriting mode_bits for pb_type through bitstream setting file
  docs/source/manual/file_formats/bitstream_setting.rst
  libs/libarchopenfpga/src/bitstream_setting.cpp
  libs/libarchopenfpga/src/bitstream_setting.h
  libs/libarchopenfpga/src/bitstream_setting_fwd.h
  libs/libarchopenfpga/src/read_xml_bitstream_setting.cpp
  libs/libarchopenfpga/src/read_xml_openfpga_arch_utils.cpp
  libs/libarchopenfpga/src/read_xml_openfpga_arch_utils.h
  libs/libarchopenfpga/src/read_xml_pb_type_annotation.cpp
  libs/libarchopenfpga/src/write_xml_bitstream_setting.cpp
  libs/libopenfpgacapnproto/gen/unique_blocks_uxsdcxx.capnp
  openfpga/src/annotation/annotate_bitstream_setting.cpp
  openfpga/src/annotation/annotate_bitstream_setting.h
  openfpga/src/annotation/annotate_pb_types.cpp
  openfpga/src/annotation/vpr_bitstream_annotation.cpp
  openfpga/src/annotation/vpr_bitstream_annotation.h
  openfpga/src/annotation/vpr_device_annotation.cpp
  openfpga/src/annotation/vpr_device_annotation.h
  openfpga/src/base/openfpga_link_arch_template.h
  openfpga_flow/regression_test_scripts/fpga_bitstream_reg_test.sh
  openfpga_flow/tasks/fpga_bitstream/overload_default_mode_bit/config/bitstream_annotation.xml
  openfpga_flow/tasks/fpga_bitstream/overload_default_mode_bit/config/task.conf
Labels: documentation, tests, openfpga-tools, VPR

#1910 Support to force routing tap multiplexers in clock network
  docs/source/manual/file_formats/bitstream_setting.rst
  libs/libarchopenfpga/src/bitstream_setting.cpp
  libs/libarchopenfpga/src/bitstream_setting.h
  libs/libarchopenfpga/src/bitstream_setting_fwd.h
  libs/libarchopenfpga/src/bitstream_setting_xml_constants.h
  libs/libarchopenfpga/src/read_xml_bitstream_setting.cpp
  libs/libarchopenfpga/src/write_xml_bitstream_setting.cpp
  libs/libopenfpgacapnproto/gen/unique_blocks_uxsdcxx.capnp
  openfpga/src/annotation/annotate_bitstream_setting.cpp
  openfpga/src/annotation/annotate_bitstream_setting.h
  openfpga/src/annotation/route_clock_rr_graph.cpp
  openfpga/src/annotation/route_clock_rr_graph.h
  openfpga/src/annotation/vpr_bitstream_annotation.cpp
  openfpga/src/annotation/vpr_bitstream_annotation.h
  openfpga/src/base/openfpga_link_arch_template.h
  openfpga_flow/openfpga_shell_scripts/example_clkntwk_bitstream_setting_script.openfpga
  openfpga_flow/regression_test_scripts/fpga_bitstream_reg_test.sh
  openfpga_flow/tasks/fpga_bitstream/force_clock_tap_routing/config/bitstream_setting.xml
  openfpga_flow/tasks/fpga_bitstream/force_clock_tap_routing/config/clk_arch_2clk_2layer.xml
  openfpga_flow/tasks/fpga_bitstream/force_clock_tap_routing/config/pin_constraints.xml
  openfpga_flow/tasks/fpga_bitstream/force_clock_tap_routing/config/repack_constraints.xml
  openfpga_flow/tasks/fpga_bitstream/force_clock_tap_routing/config/task.conf
Labels: documentation, flow-scripts, tests, openfpga-tools, VPR

#1912 [core] unique block capn will update only on demand
  .github/workflows/build.yml
  CMakeLists.txt
  libs/libopenfpgacapnproto/CMakeLists.txt
Labels: github, build, lang-make, VPR
